:root {

    --color-white: #FFFFFF;
    --Text-black: #000000;
    --Stroke-light-gray: #E8E8E8;
    --Stroke-light-gray-2: #E2E2E2;
    --Background-light-gray-2: #F5F5F5;
    --Background-light-gray: #E8E8E8;
    --Text-dark-gray: #343434;
    --Text-gray: #696969;

    --color-green:#DDFFC3;
    --color-shadow: #F0F5FF;
    --color-red-10: #FF5500;

    --Text-blue: #204BB3;
    --Text-red: #CF2906;
    --Text-orange: #F84C28;
    --color-light-orange:#FF5500;


    --overlay-bg: rgba(52, 52, 52, 0.10);
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Onest';
    font-size: 16px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--Text-black);
}

.width-container {
    width: 100%;
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
}

main {
    flex: 1;
}

.page-section {
    margin-top: 96px;
}

.page-section-top {
    margin-top: 64px;
}

.colorBlack {
    color: var(--Text-black);
}

.colorWhite {
    color: var(--color-white);
}

.colorGray {
    color: var(--Text-gray);
}

.colorLightGray{
    color: var(--Background-light-gray);
}

.colorDarkGray {
    color: var(--Text-dark-gray);
}

.colorBlue {
    color: var(--Text-blue);
}

.colorOrange {
    color: var(--Text-orange);
}

.colorRed {
    color: var(--Text-red);
}

.bg__colorGreen{
    background-color: var(--color-green);
}

.bg__lightGray2 {
    background-color: var(--Background-light-gray-2);
}

.bg__white {
    background-color: var(--color-white);
}

.bg__shadow {
    background-color: var(--color-shadow);
}

.bg__grayGradient{
    background: linear-gradient(90deg, #D4D7DB 0%, #E5E8EC 100%);
}

.bg__colorGreen{
    background-color: var(--color-green);
}

.bg__colorOrange{
    background-color: var(--Text-orange);
}
.bg__darkGray{
    background-color: var(--Text-dark-gray);
}

.textNowrap {
    white-space: nowrap;
}


a {
    text-decoration: none;
    color: var(--Text-black);
}

p {
    margin: 0;
}

.resetListStyle {
    list-style: none;
    padding: 0;
    margin: 0;
}

.textNoWrap {
    white-space: nowrap;
    flex-wrap: nowrap;
}

button {
    border: none;
    background: none;
    transition: color 300ms, background-color 300ms;
    white-space: nowrap;
    padding: 0;
}

.btn-custom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-height: 40px;
    width: 100%;
    padding: 0 20px;
    font-weight: 500;
    transition: color 300ms, background-color 300ms;
}

.redBtn {
    color: var(--Text-red);
    border: 1px solid var(--Text-red);
}

.redFillBtn {
    border: 1px solid var(--Text-red);
    background-color: var(--Text-orange);
    color: var(--color-white);
}

.blackBtn {
    background-color: var(--Text-dark-gray);
    color: var(--color-white);
}

.grayBtn {
    border-radius: 8px;
    background: var(--Background-light-gray);
    color: var(--Text-dark-gray);
}

.borderRadius-8 {
    border-radius: 8px;
}

.borderRadius-12 {
    border-radius: 12px;
}

.borderRadius-16 {
    border-radius: 16px;
}

.flexBox {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexAlignStart {
    display: flex;
    align-items: start;
}

.flexAlignCenter {
    display: flex;
    align-items: center;
}

.flexAlignEnd {
    display: flex;
    align-items: end;
}

.flexJustifyBetween {
    display: flex;
    justify-content: space-between;
}

.flexJustifyCenter {
    display: flex;
    justify-content: center;
}

.flexJustifyEnd{
    display: flex;
    justify-content: end;
}


.gap__4{
    gap: 4px;
}
.gap__8{
    gap: 8px;
}
.gap__12{
    gap: 12px;
}
.gap__16{
    gap: 16px;
}

.gap__20{
    gap: 20px;
}

.customBoxShadow {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
}
.customBoxShadow20{
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.20);
}

.borderLightOrange{
    border: 1px solid var(--color-light-orange);
}

.borderLightGray {
    border: 1px solid var(--Stroke-light-gray);
}

.customTopBorderLightGray2 {
    border-top: 1px solid var(--Stroke-light-gray-2);
}

.customBorderLightGray2 {
    border: 1px solid var(--Stroke-light-gray-2);
}

.overflowHidden {
    overflow: hidden;
}

.w_100 {
    width: 100%;
}

.w_FitContent {
    width: 100%;
    max-width: fit-content;
}

.w_FitContent_100 {
    width: 100%;
    max-width: fit-content;
}

[data-container] {
    height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}

[data-container].active {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.popup-open {
    padding-right: 15px;
}

img {
    width: 100%;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textAlign {
    text-align: center;
}

.wordBreak {
    word-break: break-word;
}

.customScroll {
    overflow-x: auto;
}

.resetScrollbarStyle::-webkit-scrollbar {
    display: none;
}

.resetScrollbarStyle {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.focus-agreement .form-agreement__check{
    box-shadow: 0 0 0 0 transparent;
    transition: 300ms;
}
.focus-agreement .form-agreement__check{
    box-shadow: 0 0 8px 2px var(--Text-orange);
}


.positionRelative{
    position: relative;
}

.positionAbsolute{
    position: absolute;
}

.positionSticky{
    position: sticky;
    top: 10px;
}

.resetScrollbar::-webkit-scrollbar {
    display: none;
}

.resetScrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.marginTopAuto{
    margin-top: auto;
}

input{
    outline: none;
    border: none;
    width: 100%;
}

input:focus,
input:active{
    outline: none;
    border-color: var(--Text-gray);
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--Text-gray);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--Text-gray);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--Text-gray);
}


.customScrollbar::-webkit-scrollbar {
    width: 4px;
}

.customScrollbar::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--Stroke-light-gray-2);
}

.customScrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.customScrollbar::-webkit-scrollbar-button {
    display: none;
}

.animate-icon{
    transform: scale(1, 1);
    transition: transform 300ms;
}

.custom-container {
    padding-top: 64px;
    padding-bottom: 64px;
}

.custom-container-2{
    padding: 40px 0 64px;
}


.mb-show {
    display: none;
}


@media (max-width: 1300px) {
    .width-container {
        padding-left: 16px;
        padding-right: 16px;
    }

}

@media (max-width: 992px) {

    .customScrollbarMobile{
        padding-bottom: 20px;
    }

    .customScrollbarMobile::-webkit-scrollbar {
        height: 4px;
    }

    .customScrollbarMobile::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background: var(--Text-gray);
    }

    .customScrollbarMobile::-webkit-scrollbar-track {
        background: var(--Stroke-light-gray);
    }

    .btn-custom {
        padding: 0 16px;
    }

    .popup-open {
        padding-right: 0;
    }

    .mb-show {
        display: flex;
    }

    .mb-hide {
        display: none;
    }

    .w_FitContent_100 {
        max-width: 100%;
    }

    .page-section {
        margin-top: 56px;
    }

    .page-section-top {
        margin-top: 40px;
    }

    .custom-container-2{
        padding: 24px 0;
    }
}
