@font-face {
    font-family: 'Onest';
    src: url('/assets/fonts/onest/Onest-Regular.woff2') format('woff2'),
    url('/assets/fonts/onest/Onest-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('/assets/fonts/onest/Onest-Medium.woff2') format('woff2'),
    url('/assets/fonts/onest/Onest-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Onest';
    src: url('/assets/fonts/onest/Onest-SemiBold.woff2') format('woff2'),
    url('/assets/fonts/onest/Onest-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5{
    margin: 0;
}

h1, .h1{
    font-size: 48px;
    font-weight: 600;
    line-height: 100%;
}

h2, .h2{
    font-size: 40px;
    font-weight: 500;
    line-height: 100%;
}

h3, .h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 110%;
}

h4, .h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}

h5, .h5{
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
}

.text-l{
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
}
.text-m{
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}
.text-s{
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
}





@media (max-width: 992px) {
    h1, .h1{
        font-size: 32px;
    }

    h2, .h2{
        font-size: 24px;
    }

    h3, .h3{
        font-size: 20px;
    }

    h4, .h4{
        font-size: 18px;
        line-height: 110%;
    }

    h5, .h5{
        font-size: 14px;
        line-height: 110%;
    }

    .text-l{
        font-size: 18px;
    }

    .text-s{
        line-height: 110%;
    }
}