<div class="our-advantages category-top__advantages resetScrollbar mobile-swipe-container">
    <div class="our-advantages__item flexColumn customBorderLightGray2 borderRadius-12">
        <div class="our-advantages__icon flexCenter">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                 fill="none">
                <path d="M6.13672 0.0888672C7.77837 -0.169634 9.45895 0.143107 10.8984 0.973633C11.1853 1.13929 11.2847 1.50602 11.1191 1.79297C10.9536 2.07992 10.5858 2.17814 10.2988 2.0127C9.09703 1.31933 7.69382 1.05856 6.32324 1.27441C4.95254 1.49037 3.69708 2.16982 2.7666 3.19922C1.83611 4.22868 1.28673 5.54611 1.20996 6.93164C1.13321 8.31715 1.53368 9.68754 2.34473 10.8135C3.15578 11.9392 4.32865 12.7531 5.66699 13.1191C7.00536 13.4851 8.42914 13.3816 9.7002 12.8252C10.9712 12.2688 12.0133 11.2931 12.6523 10.0615C13.2914 8.82981 13.4889 7.41534 13.2119 6.05566C13.1459 5.73115 13.3552 5.4149 13.6797 5.34863C14.0043 5.28259 14.3215 5.49177 14.3877 5.81641C14.7195 7.44487 14.483 9.13803 13.7178 10.6133C12.9524 12.0885 11.7041 13.2572 10.1816 13.9238C8.65915 14.5903 6.95371 14.7147 5.35059 14.2764C3.74744 13.8379 2.34258 12.8632 1.37109 11.5146C0.399618 10.166 -0.0802141 8.5248 0.0117188 6.86523C0.103674 5.2057 0.761504 3.6276 1.87598 2.39453C2.99051 1.16147 4.49485 0.34754 6.13672 0.0888672ZM13.5098 1.5127C13.7441 1.27838 14.1241 1.27838 14.3584 1.5127C14.5925 1.74697 14.5925 2.12609 14.3584 2.36035L7.69141 9.02734C7.45712 9.26107 7.07791 9.26128 6.84375 9.02734L4.84375 7.02734C4.60956 6.79315 4.6098 6.41305 4.84375 6.17871C5.07798 5.94483 5.45717 5.94483 5.69141 6.17871L7.26758 7.75488L13.5098 1.5127Z"
                      fill="white"></path>
            </svg>
        </div>
        <span class="colorBlue h5">{{{title1}}}</span>
    </div>

    <div class="our-advantages__item flexColumn customBorderLightGray2 borderRadius-12">
        <div class="our-advantages__icon flexCenter">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                 fill="none">
                <path d="M6.13672 0.0888672C7.77837 -0.169634 9.45895 0.143107 10.8984 0.973633C11.1853 1.13929 11.2847 1.50602 11.1191 1.79297C10.9536 2.07992 10.5858 2.17814 10.2988 2.0127C9.09703 1.31933 7.69382 1.05856 6.32324 1.27441C4.95254 1.49037 3.69708 2.16982 2.7666 3.19922C1.83611 4.22868 1.28673 5.54611 1.20996 6.93164C1.13321 8.31715 1.53368 9.68754 2.34473 10.8135C3.15578 11.9392 4.32865 12.7531 5.66699 13.1191C7.00536 13.4851 8.42914 13.3816 9.7002 12.8252C10.9712 12.2688 12.0133 11.2931 12.6523 10.0615C13.2914 8.82981 13.4889 7.41534 13.2119 6.05566C13.1459 5.73115 13.3552 5.4149 13.6797 5.34863C14.0043 5.28259 14.3215 5.49177 14.3877 5.81641C14.7195 7.44487 14.483 9.13803 13.7178 10.6133C12.9524 12.0885 11.7041 13.2572 10.1816 13.9238C8.65915 14.5903 6.95371 14.7147 5.35059 14.2764C3.74744 13.8379 2.34258 12.8632 1.37109 11.5146C0.399618 10.166 -0.0802141 8.5248 0.0117188 6.86523C0.103674 5.2057 0.761504 3.6276 1.87598 2.39453C2.99051 1.16147 4.49485 0.34754 6.13672 0.0888672ZM13.5098 1.5127C13.7441 1.27838 14.1241 1.27838 14.3584 1.5127C14.5925 1.74697 14.5925 2.12609 14.3584 2.36035L7.69141 9.02734C7.45712 9.26107 7.07791 9.26128 6.84375 9.02734L4.84375 7.02734C4.60956 6.79315 4.6098 6.41305 4.84375 6.17871C5.07798 5.94483 5.45717 5.94483 5.69141 6.17871L7.26758 7.75488L13.5098 1.5127Z"
                      fill="white"></path>
            </svg>
        </div>
        <span class="colorBlue h5">{{{title2}}}</span>
    </div>

    <div class="our-advantages__item flexColumn customBorderLightGray2 borderRadius-12">
        <div class="our-advantages__icon flexCenter">
            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15"
                 fill="none">
                <path d="M6.13672 0.0888672C7.77837 -0.169634 9.45895 0.143107 10.8984 0.973633C11.1853 1.13929 11.2847 1.50602 11.1191 1.79297C10.9536 2.07992 10.5858 2.17814 10.2988 2.0127C9.09703 1.31933 7.69382 1.05856 6.32324 1.27441C4.95254 1.49037 3.69708 2.16982 2.7666 3.19922C1.83611 4.22868 1.28673 5.54611 1.20996 6.93164C1.13321 8.31715 1.53368 9.68754 2.34473 10.8135C3.15578 11.9392 4.32865 12.7531 5.66699 13.1191C7.00536 13.4851 8.42914 13.3816 9.7002 12.8252C10.9712 12.2688 12.0133 11.2931 12.6523 10.0615C13.2914 8.82981 13.4889 7.41534 13.2119 6.05566C13.1459 5.73115 13.3552 5.4149 13.6797 5.34863C14.0043 5.28259 14.3215 5.49177 14.3877 5.81641C14.7195 7.44487 14.483 9.13803 13.7178 10.6133C12.9524 12.0885 11.7041 13.2572 10.1816 13.9238C8.65915 14.5903 6.95371 14.7147 5.35059 14.2764C3.74744 13.8379 2.34258 12.8632 1.37109 11.5146C0.399618 10.166 -0.0802141 8.5248 0.0117188 6.86523C0.103674 5.2057 0.761504 3.6276 1.87598 2.39453C2.99051 1.16147 4.49485 0.34754 6.13672 0.0888672ZM13.5098 1.5127C13.7441 1.27838 14.1241 1.27838 14.3584 1.5127C14.5925 1.74697 14.5925 2.12609 14.3584 2.36035L7.69141 9.02734C7.45712 9.26107 7.07791 9.26128 6.84375 9.02734L4.84375 7.02734C4.60956 6.79315 4.6098 6.41305 4.84375 6.17871C5.07798 5.94483 5.45717 5.94483 5.69141 6.17871L7.26758 7.75488L13.5098 1.5127Z"
                      fill="white"></path>
            </svg>
        </div>
        <span class="colorBlue h5">{{{title3}}}</span>
    </div>
</div>