<div class="attention-block borderRadius-12 borderLightGray flexAlignCenter colorDarkGray text-s bg__grayGradient">
    <div class="attention-block-icon flexCenter">
        {{{icon}}}
    </div>
    <p>
        {{text}}
    </p>
</div>