<section class="page-section width-container">
    <h2>Фото и видео обучения</h2>

    <div class="gallery-block section-content grid-columns-2">
        <div class="gallery-item img-container">
            <img src="/assets/images/main-images/gallery-1.webp" alt="gallery">
        </div>
        <div class="gallery-item img-container">
            <img src="/assets/images/main-images/gallery-2.webp" alt="gallery">
        </div>
        <div class="gallery-item img-container">
            <img src="/assets/images/main-images/gallery-3.webp" alt="gallery">
        </div>
        <div class="gallery-item img-container">
            <img src="/assets/images/main-images/gallery-4.webp" alt="gallery">
        </div>

    </div>

</section>