<div class="category-top__proposal customBorderLightGray2 borderRadius-12 flexAlignCenter flexJustifyBetween bg__white">
    <div class="category-top-proposal__content flexAlignCenter">
        <div class="general-info__important-icon flexBox customBoxShadow20">
            <img src="{{src}}" alt="icon-image">
        </div>

        <div class="category-top-proposal__description flexColumn">
            <h4 class="colorDarkGray">{{title}}</h4>
            <span class="h5 colorGray">{{subtitle}}</span>
        </div>
    </div>

    <button type="submit" class="btn-custom h5 borderRadius-12 redFillBtn w_FitContent_100"
            data-submit="">
        <span>Смотреть филиалы</span>
    </button>
</div>