<section class="width-container page-section">
    <div class="any-questions-section borderRadius-12 customBoxShadow borderLightGray">
        <div class="any-questions__top flexColumn">
            <h4>Остались вопросы?</h4>
            <span class="text-s colorGray">Звоните прямо сейчас!</span>
        </div>

        <div class="any-questions__contacts">
            <div class="any-questions__contact borderRadius-12 flexAlignCenter">
                <a href="tel:+7800123‑45‑67" class="any-questions__contact-icon flexCenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M7 1.25C7.72935 1.25 8.42861 1.53994 8.94434 2.05566C9.46006 2.57139 9.75 3.27065 9.75 4V7C9.75 7.42678 9.65076 7.84774 9.45996 8.22949C9.26906 8.61129 8.99186 8.94406 8.65039 9.2002L8.18652 9.5459L8.1875 9.54688C8.1416 9.58192 8.10901 9.63229 8.0957 9.68848C8.0827 9.74365 8.08906 9.80135 8.11328 9.85254L8.36523 10.3389C9.672 12.7376 11.6908 14.6776 14.1494 15.8877C14.1999 15.9098 14.256 15.9147 14.3096 15.9014C14.3647 15.8876 14.4138 15.8558 14.4482 15.8105L14.4492 15.8096L14.8037 15.3447C15.0593 15.0056 15.3906 14.73 15.7705 14.54C16.1523 14.3492 16.5732 14.25 17 14.25H20C20.7293 14.25 21.4286 14.5399 21.9443 15.0557C22.4601 15.5714 22.75 16.2707 22.75 17V20C22.75 20.7293 22.4601 21.4286 21.9443 21.9443C21.4286 22.4601 20.7293 22.75 20 22.75C15.0272 22.75 10.2585 20.7741 6.74219 17.2578C3.22588 13.7415 1.25 8.97281 1.25 4C1.25 3.27065 1.53994 2.57139 2.05566 2.05566C2.57139 1.53994 3.27065 1.25 4 1.25H7ZM4 2.75C3.66848 2.75 3.35063 2.88179 3.11621 3.11621C2.88179 3.35063 2.75 3.66848 2.75 4C2.75 8.57498 4.56773 12.9623 7.80273 16.1973C11.0377 19.4323 15.425 21.25 20 21.25C20.3315 21.25 20.6494 21.1182 20.8838 20.8838C21.1182 20.6494 21.25 20.3315 21.25 20V17C21.25 16.6685 21.1182 16.3506 20.8838 16.1162C20.6494 15.8818 20.3315 15.75 20 15.75H17C16.8061 15.75 16.6149 15.7952 16.4414 15.8818C16.2678 15.9686 16.1164 16.0948 16 16.25L15.9961 16.2549L15.6416 16.7197C15.4008 17.0359 15.0594 17.261 14.6738 17.3574C14.288 17.4538 13.88 17.416 13.5186 17.25C13.5129 17.2474 13.5076 17.244 13.502 17.2412C10.5757 15.8051 8.2075 13.44 6.76758 10.5156L6.76562 10.5127C6.58856 10.1495 6.54269 9.736 6.63574 9.34277C6.72888 8.94948 6.95515 8.5998 7.27637 8.35449L7.28223 8.35059L7.75 8C7.90525 7.88357 8.03138 7.73216 8.11816 7.55859C8.20482 7.38513 8.25 7.19391 8.25 7V4C8.25 3.66848 8.11821 3.35063 7.88379 3.11621C7.67878 2.9112 7.41001 2.78436 7.12402 2.75586L7 2.75H4ZM21.4697 1.46973C21.7626 1.17683 22.2374 1.17683 22.5303 1.46973C22.8231 1.76262 22.8231 2.2374 22.5303 2.53027L17.8105 7.25H22C22.4142 7.25 22.75 7.58579 22.75 8C22.75 8.41421 22.4142 8.75 22 8.75H16C15.9546 8.75 15.9103 8.74503 15.8672 8.7373C15.8617 8.73631 15.8561 8.73549 15.8506 8.73438C15.8372 8.73167 15.8246 8.72607 15.8115 8.72266C15.7783 8.71402 15.7449 8.70565 15.7129 8.69238C15.6838 8.68029 15.657 8.66397 15.6299 8.64844C15.5732 8.61604 15.5181 8.57866 15.4697 8.53027C15.4377 8.49827 15.4098 8.46361 15.3848 8.42773C15.354 8.38363 15.3274 8.33645 15.3066 8.28613C15.286 8.23615 15.2711 8.1844 15.2617 8.13184C15.2541 8.08903 15.25 8.04499 15.25 8V2C15.25 1.58579 15.5858 1.25 16 1.25C16.4142 1.25 16.75 1.58579 16.75 2V6.18945L21.4697 1.46973Z"
                              fill="white"/>
                    </svg>
                </a>
                <div class="any-questions__label flexColumn">
                    <a href="tel:+7800123‑45‑67" class="questions-contact__type h5">+7 (800) 123‑45‑67</a>
                    <span class="text-s colorGray">будн. 10:00–19:00</span>
                </div>
            </div>
            <div class="any-questions__contact borderRadius-12 flexAlignCenter">
                <a href="tel:+7800123‑45‑67" class="any-questions__contact-icon flexCenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 1.25C12.595 1.25 13.1744 1.44279 13.6504 1.7998L21.6543 7.80273C22.3363 8.32117 22.75 9.13015 22.75 10V20C22.75 20.7293 22.4601 21.4286 21.9443 21.9443C21.4286 22.4601 20.7293 22.75 20 22.75H4C3.27065 22.75 2.57139 22.4601 2.05566 21.9443C1.53994 21.4286 1.25 20.7293 1.25 20V10C1.25 9.57322 1.34924 9.15226 1.54004 8.77051C1.73094 8.38871 2.00814 8.05594 2.34961 7.7998L10.3496 1.7998C10.8256 1.44279 11.405 1.25 12 1.25ZM13.4326 16.333L13.4277 16.3359C13.0532 16.5705 12.6274 16.7084 12.1885 16.7393L12 16.7461C11.4951 16.7461 11.0002 16.6039 10.5723 16.3359L10.5674 16.333L2.75 11.3643V20C2.75 20.3315 2.88179 20.6494 3.11621 20.8838C3.35063 21.1182 3.66848 21.25 4 21.25H20C20.3315 21.25 20.6494 21.1182 20.8838 20.8838C21.1182 20.6494 21.25 20.3315 21.25 20V11.3643L13.4326 16.333ZM12 2.75C11.7295 2.75 11.4664 2.83772 11.25 3L3.25 9C3.09476 9.11643 2.96862 9.26784 2.88184 9.44141C2.85224 9.50064 2.82836 9.56222 2.80859 9.625L11.3672 15.0645H11.3682C11.5575 15.1831 11.7766 15.2461 12 15.2461C12.1675 15.2461 12.3325 15.2103 12.4844 15.1426L12.6318 15.0645L21.1895 9.62598C21.1118 9.38197 20.9614 9.16187 20.75 9L12.75 3C12.5336 2.83772 12.2705 2.75 12 2.75Z"
                              fill="white"/>
                    </svg>
                </a>
                <div class="any-questions__label flexColumn">
                    <a href="mailto:info@dosaaf.example" class="questions-contact__type h5">info@dosaaf.example</a>
                    <span class="text-s colorGray">будн. 10:00–19:00</span>
                </div>
            </div>
            <div class="any-questions__contact borderRadius-12 flexAlignCenter">
                <a href="" class="any-questions__contact-icon flexCenter">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path d="M12 1.25C14.3206 1.25 16.5466 2.17156 18.1875 3.8125C19.8284 5.45344 20.75 7.67936 20.75 10C20.75 12.7494 19.2391 15.4635 17.5947 17.624C15.933 19.8073 14.0397 21.5469 13.0908 22.3662C13.078 22.3772 13.0652 22.3883 13.0518 22.3984C12.7864 22.598 12.4706 22.7174 12.1416 22.7441L12 22.75C11.6206 22.75 11.2515 22.6265 10.9482 22.3984C10.9348 22.3883 10.922 22.3772 10.9092 22.3662C9.9603 21.5469 8.067 19.8073 6.40527 17.624C4.76088 15.4635 3.25 12.7494 3.25 10C3.25 7.67936 4.17156 5.45344 5.8125 3.8125C7.45344 2.17156 9.67936 1.25 12 1.25ZM12 2.75C10.0772 2.75 8.23269 3.51341 6.87305 4.87305C5.51341 6.23269 4.75 8.07718 4.75 10C4.75 12.2436 6.00852 14.6266 7.59863 16.7158C9.15216 18.7569 10.9341 20.404 11.8555 21.2021C11.8978 21.2324 11.9479 21.25 12 21.25L12.0791 21.2373C12.1024 21.2296 12.1233 21.2165 12.1436 21.2021C13.0648 20.4042 14.8475 18.7573 16.4014 16.7158C17.9915 14.6266 19.25 12.2436 19.25 10C19.25 8.07718 18.4866 6.23269 17.127 4.87305C15.8523 3.59835 14.1514 2.84765 12.3594 2.75879L12 2.75ZM12 6.25C14.0711 6.25 15.75 7.92893 15.75 10C15.75 12.0711 14.0711 13.75 12 13.75C9.92893 13.75 8.25 12.0711 8.25 10C8.25 7.92893 9.92893 6.25 12 6.25ZM12 7.75C10.7574 7.75 9.75 8.75736 9.75 10C9.75 11.2426 10.7574 12.25 12 12.25C13.2426 12.25 14.25 11.2426 14.25 10C14.25 8.75736 13.2426 7.75 12 7.75Z"
                              fill="white"/>
                    </svg>
                </a>
                <div class="any-questions__label flexColumn">
                    <a href="mailto:info@dosaaf.example" class="questions-contact__type h5">г. Екатеринбург, ул.
                        Примерная, 5</a>
                    <span class="text-s colorGray">будн. 10:00–19:00, сб 11:00–16:00</span>
                </div>
            </div>
        </div>
    </div>
</section>