<section class="width-container page-section">
    <h2 class="approach__title">
        <span class="colorOrange">Мы&nbsp;готовим к&nbsp;дорогам,</span>
        а&nbsp;не&nbsp;только к&nbsp;экзамену
    </h2>

    <div class="approach__cards section-content grid-2 customScrollbarMobile">
        <div class="approach__card borderRadius-12 customBorderLightGray2 flexAlignCenter">
            <div class="approach-card__content flexColumn flexJustifyBetween">
                <div class="approach-card__tags flexBox gap__8">
                        <span class="approach-card__tag bg__shadow gap__4 flexAlignCenter">
                            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.91371 0.446728C4.14473 -0.149314 4.98809 -0.149314 5.2191 0.446728L5.91977 2.25456C6.01909 2.51081 6.25917 2.68524 6.53357 2.70051L8.46944 2.80824C9.1077 2.84376 9.36831 3.64584 8.87283 4.04974L7.37 5.27477C7.15698 5.44841 7.06528 5.73064 7.13555 5.99633L7.63131 7.87074C7.79476 8.48874 7.11247 8.98445 6.57523 8.63803L4.94575 7.58731C4.71478 7.43837 4.41803 7.43837 4.18706 7.58731L2.55758 8.63803C2.02035 8.98445 1.33805 8.48874 1.50151 7.87074L1.99727 5.99633C2.06754 5.73064 1.97584 5.44841 1.76282 5.27477L0.259985 4.04974C-0.235498 3.64584 0.0251144 2.84376 0.663371 2.80824L2.59924 2.70051C2.87364 2.68524 3.11372 2.51081 3.21304 2.25456L3.91371 0.446728Z" fill="#204BB3"/>
                            </svg>
                            реальные ситуации
                        </span>
                    <span class="approach-card__tag bg__shadow gap__4 flexAlignCenter">
                            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.91371 0.446728C4.14473 -0.149314 4.98809 -0.149314 5.2191 0.446728L5.91977 2.25456C6.01909 2.51081 6.25917 2.68524 6.53357 2.70051L8.46944 2.80824C9.1077 2.84376 9.36831 3.64584 8.87283 4.04974L7.37 5.27477C7.15698 5.44841 7.06528 5.73064 7.13555 5.99633L7.63131 7.87074C7.79476 8.48874 7.11247 8.98445 6.57523 8.63803L4.94575 7.58731C4.71478 7.43837 4.41803 7.43837 4.18706 7.58731L2.55758 8.63803C2.02035 8.98445 1.33805 8.48874 1.50151 7.87074L1.99727 5.99633C2.06754 5.73064 1.97584 5.44841 1.76282 5.27477L0.259985 4.04974C-0.235498 3.64584 0.0251144 2.84376 0.663371 2.80824L2.59924 2.70051C2.87364 2.68524 3.11372 2.51081 3.21304 2.25456L3.91371 0.446728Z" fill="#204BB3"/>
                            </svg>
                            не только билеты
                        </span>
                </div>

                <div class="approach-card__bottom flexColumn">
                    <span class="text-s colorDarkGray">Мы — государственная организация</span>

                    <p class="text-m">
                        Имеем прямую связь с ГИБДД и регулярно
                        получаем отчёты по аварийности новичков в первый
                        год их вождения
                    </p>
                </div>
            </div>

            <div class="approach-card__image img-container.">
                <img src="/assets/images/cards-images/approach-card-image-1.webp" alt="approach card imag">
            </div>
        </div>

        <div class="approach__card borderRadius-12 customBorderLightGray2 flexAlignCenter">
            <div class="approach-card__content flexColumn flexJustifyBetween">
                <div class="approach-card__tags flexBox gap__8 ">
                        <span class="approach-card__tag bg__shadow gap__4 flexAlignCenter">
                            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.91371 0.446728C4.14473 -0.149314 4.98809 -0.149314 5.2191 0.446728L5.91977 2.25456C6.01909 2.51081 6.25917 2.68524 6.53357 2.70051L8.46944 2.80824C9.1077 2.84376 9.36831 3.64584 8.87283 4.04974L7.37 5.27477C7.15698 5.44841 7.06528 5.73064 7.13555 5.99633L7.63131 7.87074C7.79476 8.48874 7.11247 8.98445 6.57523 8.63803L4.94575 7.58731C4.71478 7.43837 4.41803 7.43837 4.18706 7.58731L2.55758 8.63803C2.02035 8.98445 1.33805 8.48874 1.50151 7.87074L1.99727 5.99633C2.06754 5.73064 1.97584 5.44841 1.76282 5.27477L0.259985 4.04974C-0.235498 3.64584 0.0251144 2.84376 0.663371 2.80824L2.59924 2.70051C2.87364 2.68524 3.11372 2.51081 3.21304 2.25456L3.91371 0.446728Z" fill="#204BB3"/>
                            </svg>
                           снижаем риски
                        </span>
                    <span class="approach-card__tag bg__shadow gap__4 flexAlignCenter">
                            <svg width="10" height="9" viewBox="0 0 10 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.91371 0.446728C4.14473 -0.149314 4.98809 -0.149314 5.2191 0.446728L5.91977 2.25456C6.01909 2.51081 6.25917 2.68524 6.53357 2.70051L8.46944 2.80824C9.1077 2.84376 9.36831 3.64584 8.87283 4.04974L7.37 5.27477C7.15698 5.44841 7.06528 5.73064 7.13555 5.99633L7.63131 7.87074C7.79476 8.48874 7.11247 8.98445 6.57523 8.63803L4.94575 7.58731C4.71478 7.43837 4.41803 7.43837 4.18706 7.58731L2.55758 8.63803C2.02035 8.98445 1.33805 8.48874 1.50151 7.87074L1.99727 5.99633C2.06754 5.73064 1.97584 5.44841 1.76282 5.27477L0.259985 4.04974C-0.235498 3.64584 0.0251144 2.84376 0.663371 2.80824L2.59924 2.70051C2.87364 2.68524 3.11372 2.51081 3.21304 2.25456L3.91371 0.446728Z" fill="#204BB3"/>
                            </svg>
                            нестандартные решения
                        </span>
                </div>

                <div class="approach-card__bottom flexColumn">
                    <span class="text-s colorDarkGray">Мы — государственная организация</span>

                    <p class="text-m">
                        Имеем прямую связь с ГИБДД и регулярно
                        получаем отчёты по аварийности новичков в первый
                        год их вождения
                    </p>
                </div>
            </div>

            <div class="approach-card__image img-container.">
                <img src="/assets/images/cards-images/approach-card-image-2.webp" alt="approach card imag">
            </div>
        </div>
    </div>

    <div class="approach__footer flexCenter colorWhite borderRadius-12">
        <div class="approach-footer__content flexAlignCenter w_100">
            <p class="h4">
                Подготовим вас к реальной дороге
                и потенциальным опасностям на ней
            </p>
            <button class="approach__cta btn-custom redFillBtn borderRadius-12 w_FitContent_100 h5" data-open-popup="request-popup" data-popup-set-title="Записаться">
                Записаться
            </button>
        </div>
    </div>
</section>
