<nav class="breadcrumbs-section width-container" aria-label="Хлебные крошки">
    <ul class="breadcrumbs resetListStyle flexAlignCenter h5 customScroll resetScrollbarStyle">
        <li><a href="/">Главная</a></li>
        {{#if currentCategory}}
            <li><a href="/">{{currentCategory}}</a></li>
        {{/if}}
        <li><span aria-current="page">{{currenPage}}</span></li>
    </ul>
</nav>


