<div class="faq-section flexColumn flexAlignCenter">
    <h2>Ответы на вопросы</h2>
    <div class="faq-section__content flexColumn section-content">
        <div class="faq-item borderRadius-12 borderLightGray" data-open-block-wrapper>
            <button class="faq-question flexJustifyBetween h4 colorDarkGray" data-open-block-btn>
                Можно учиться с 16 лет?

                <span class="faq-question__icon flexCenter">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.75 0C8.16421 0 8.5 0.335786 8.5 0.75V7H14.75C15.1642 7 15.5 7.33579 15.5 7.75C15.5 8.16421 15.1642 8.5 14.75 8.5H8.5V14.75C8.5 15.1642 8.16421 15.5 7.75 15.5C7.33579 15.5 7 15.1642 7 14.75V8.5H0.75C0.335786 8.5 0 8.16421 0 7.75C0 7.33579 0.335786 7 0.75 7H7V0.75C7 0.335786 7.33579 0 7.75 0Z"
                                      fill="#696969"/>
                            </svg>
                        </span>
            </button>
            <div class="faq-answer " data-open-block>
                <div class="faq-answer-content text-m colorGray">
                    <p>
                        Да, очное обучение ребёнка 16–25 лет.
                    </p>
                </div>
            </div>
        </div>

        <div class="faq-item borderRadius-12 borderLightGray" data-open-block-wrapper>
            <button class="faq-question flexJustifyBetween h4 colorDarkGray" data-open-block-btn>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                <span class="faq-question__icon flexCenter">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.75 0C8.16421 0 8.5 0.335786 8.5 0.75V7H14.75C15.1642 7 15.5 7.33579 15.5 7.75C15.5 8.16421 15.1642 8.5 14.75 8.5H8.5V14.75C8.5 15.1642 8.16421 15.5 7.75 15.5C7.33579 15.5 7 15.1642 7 14.75V8.5H0.75C0.335786 8.5 0 8.16421 0 7.75C0 7.33579 0.335786 7 0.75 7H7V0.75C7 0.335786 7.33579 0 7.75 0Z"
                                      fill="#696969"/>
                            </svg>
                        </span>
            </button>
            <div class="faq-answer " data-open-block>
                <div class="faq-answer-content text-m colorGray">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquid asperiores doloribus eum impedit libero mollitia,
                        neque nesciunt nulla saepe? Aliquid delectus dicta eum ex
                        laborum molestiae repellendus reprehenderit sint tenetur.
                    </p>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </li>
                        <li>
                            Aliquid asperiores doloribus eum impedit libero mollitia,
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="faq-item borderRadius-12 borderLightGray" data-open-block-wrapper>
            <button class="faq-question flexJustifyBetween h4 colorDarkGray" data-open-block-btn>
                Aliquid asperiores doloribus eum impedit libero mollitia,
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.

                <span class="faq-question__icon flexCenter">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.75 0C8.16421 0 8.5 0.335786 8.5 0.75V7H14.75C15.1642 7 15.5 7.33579 15.5 7.75C15.5 8.16421 15.1642 8.5 14.75 8.5H8.5V14.75C8.5 15.1642 8.16421 15.5 7.75 15.5C7.33579 15.5 7 15.1642 7 14.75V8.5H0.75C0.335786 8.5 0 8.16421 0 7.75C0 7.33579 0.335786 7 0.75 7H7V0.75C7 0.335786 7.33579 0 7.75 0Z"
                                      fill="#696969"/>
                            </svg>
                        </span>
            </button>
            <div class="faq-answer " data-open-block>
                <div class="faq-answer-content text-m colorGray">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci, animi at atque debitis delectus ducimus esse
                        eveniet expedita fugit illo in provident quasi quia,
                        ratione reiciendis repudiandae ut vero vitae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci, animi at atque debitis delectus ducimus esse
                        eveniet expedita fugit illo in provident quasi quia,
                        ratione reiciendis repudiandae ut vero vitae?
                    </p>
                </div>
            </div>
        </div>

        <div class="faq-item borderRadius-12 borderLightGray" data-open-block-wrapper>
            <button class="faq-question flexJustifyBetween h4 colorDarkGray" data-open-block-btn>
                Как получить налоговый вычет?

                <span class="faq-question__icon flexCenter">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.75 0C8.16421 0 8.5 0.335786 8.5 0.75V7H14.75C15.1642 7 15.5 7.33579 15.5 7.75C15.5 8.16421 15.1642 8.5 14.75 8.5H8.5V14.75C8.5 15.1642 8.16421 15.5 7.75 15.5C7.33579 15.5 7 15.1642 7 14.75V8.5H0.75C0.335786 8.5 0 8.16421 0 7.75C0 7.33579 0.335786 7 0.75 7H7V0.75C7 0.335786 7.33579 0 7.75 0Z"
                                      fill="#696969"/>
                            </svg>
                        </span>
            </button>
            <div class="faq-answer " data-open-block>
                <div class="faq-answer-content text-m colorGray">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci, animi at atque debitis delectus ducimus esse
                        eveniet expedita fugit illo in provident quasi quia,
                        ratione reiciendis repudiandae ut vero vitae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci, animi at atque debitis delectus ducimus esse
                        eveniet expedita fugit illo in provident quasi quia,
                        ratione reiciendis repudiandae ut vero vitae?

                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci, animi at atque debitis delectus ducimus esse
                        eveniet expedita fugit illo in provident quasi quia,
                        ratione reiciendis repudiandae ut vero vitae?
                    </p>
                </div>
            </div>
        </div>

        <div class="faq-item borderRadius-12 borderLightGray" data-open-block-wrapper>
            <button class="faq-question flexJustifyBetween h4 colorDarkGray" data-open-block-btn>
                Как работает рассрочка 0%?

                <span class="faq-question__icon flexCenter">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.75 0C8.16421 0 8.5 0.335786 8.5 0.75V7H14.75C15.1642 7 15.5 7.33579 15.5 7.75C15.5 8.16421 15.1642 8.5 14.75 8.5H8.5V14.75C8.5 15.1642 8.16421 15.5 7.75 15.5C7.33579 15.5 7 15.1642 7 14.75V8.5H0.75C0.335786 8.5 0 8.16421 0 7.75C0 7.33579 0.335786 7 0.75 7H7V0.75C7 0.335786 7.33579 0 7.75 0Z"
                                      fill="#696969"/>
                            </svg>
                        </span>
            </button>
            <div class="faq-answer " data-open-block>
                <div class="faq-answer-content text-m colorGray">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Adipisci, animi at atque debitis delectus ducimus esse
                        eveniet expedita fugit illo in provident quasi quia,
                        ratione reiciendis repudiandae ut vero vitae?
                </div>
            </div>
        </div>

        <div class="faq-item borderRadius-12 borderLightGray" data-open-block-wrapper>
            <button class="faq-question flexJustifyBetween h4 colorDarkGray" data-open-block-btn>
                Можно сменить инструктора?

                <span class="faq-question__icon flexCenter">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.75 0C8.16421 0 8.5 0.335786 8.5 0.75V7H14.75C15.1642 7 15.5 7.33579 15.5 7.75C15.5 8.16421 15.1642 8.5 14.75 8.5H8.5V14.75C8.5 15.1642 8.16421 15.5 7.75 15.5C7.33579 15.5 7 15.1642 7 14.75V8.5H0.75C0.335786 8.5 0 8.16421 0 7.75C0 7.33579 0.335786 7 0.75 7H7V0.75C7 0.335786 7.33579 0 7.75 0Z"
                                      fill="#696969"/>
                            </svg>
                        </span>
            </button>
            <div class="faq-answer " data-open-block>
                <div class="faq-answer-content text-m colorGray">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <button class="your-question-btn btn-custom blackBtn w_FitContent borderRadius-8">Задать свой вопрос</button>
</div>
