<section class="width-container page-section">
    <div class="advantages">
        <div class="advantage customBoxShadow customBorderLightGray2 borderRadius-12 flexColumn">
            <div class="advantage-icon flexCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M19.3516 6C19.3514 5.90734 19.3146 5.81846 19.249 5.75293C19.1834 5.68743 19.0947 5.65039 19.002 5.65039C16.7943 5.65039 14.1615 4.36497 12.3398 2.77441L12.2646 2.72168C12.1854 2.67524 12.0949 2.65039 12.002 2.65039C11.8781 2.65039 11.7582 2.694 11.6641 2.77441C9.96624 4.2557 7.53737 5.48757 5.4209 5.63574L5.00195 5.65039C4.90923 5.65039 4.8205 5.68743 4.75488 5.75293C4.68935 5.81846 4.65246 5.90734 4.65234 6V13C4.65234 15.3284 5.45922 17.0416 6.73828 18.3516C7.8729 19.5136 9.40129 20.3807 11.1309 21.0508L11.8838 21.3262L11.8984 21.3311C11.9734 21.359 12.056 21.3603 12.1318 21.335C14.1638 20.6263 15.9715 19.6813 17.2666 18.3525C18.5446 17.0411 19.3516 15.3281 19.3516 13V6ZM20.6523 13C20.6523 15.6717 19.709 17.7097 18.1973 19.2607C16.7032 20.7935 14.682 21.8233 12.5557 22.5645L12.5508 22.5664C12.1914 22.6882 11.8009 22.6822 11.4453 22.5498V22.5488C9.31889 21.813 7.30084 20.7879 5.80859 19.2598C4.29515 17.7097 3.35156 15.6716 3.35156 13V6C3.35168 5.56268 3.5258 5.14329 3.83496 4.83398C4.1444 4.52455 4.56435 4.35059 5.00195 4.35059L5.34375 4.33789C7.08311 4.21154 9.24991 3.15774 10.8145 1.79102L10.8193 1.78613C11.1489 1.50458 11.5685 1.34961 12.002 1.34961C12.3812 1.34961 12.7497 1.46829 13.0566 1.68652L13.1846 1.78613L13.1895 1.79102C14.8676 3.25823 17.2118 4.35059 19.002 4.35059C19.4396 4.35059 19.8595 4.52455 20.1689 4.83398C20.4781 5.14329 20.6522 5.56268 20.6523 6V13Z"
                          fill="#204BB3"/>
                </svg>
            </div>

            <div class="advantage-content flexColumn">
                <h4 class="colorBlue">
                    Мы часть гос. структуры,
                    которой уже более 100 лет
                </h4>
                <p class="text-m colorGray">У нас 2000+ филиалов по всей территории Российской Федерации</p>
            </div>
        </div>

        <div class="advantage customBoxShadow customBorderLightGray2 borderRadius-12 flexColumn">
            <div class="advantage-icon flexCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20.4463 20.7764C20.7831 20.7765 21.0566 21.0498 21.0566 21.3867C21.0566 21.7235 20.7831 21.9969 20.4463 21.9971H3.5498C3.21299 21.9969 2.93953 21.7235 2.93945 21.3867C2.93945 21.0498 3.21294 20.7765 3.5498 20.7764H20.4463ZM6.36621 10.4512C6.70318 10.4512 6.97656 10.7246 6.97656 11.0615V17.6318C6.97656 17.9688 6.70318 18.2422 6.36621 18.2422C6.02931 18.2421 5.75586 17.9688 5.75586 17.6318V11.0615C5.75586 10.7246 6.02931 10.4513 6.36621 10.4512ZM10.1201 10.4512C10.4571 10.4512 10.7305 10.7246 10.7305 11.0615V17.6318C10.7305 17.9688 10.4571 18.2422 10.1201 18.2422C9.78322 18.2421 9.50977 17.9688 9.50977 17.6318V11.0615C9.50977 10.7246 9.78322 10.4513 10.1201 10.4512ZM13.876 10.4512C14.2129 10.4512 14.4863 10.7246 14.4863 11.0615V17.6318C14.4863 17.9688 14.2129 18.2422 13.876 18.2422C13.5391 18.2421 13.2656 17.9688 13.2656 17.6318V11.0615C13.2656 10.7246 13.5391 10.4513 13.876 10.4512ZM17.6299 10.4512C17.9669 10.4512 18.2402 10.7246 18.2402 11.0615V17.6318C18.2402 17.9688 17.9669 18.2422 17.6299 18.2422C17.293 18.2421 17.0195 17.9688 17.0195 17.6318V11.0615C17.0195 10.7246 17.293 10.4513 17.6299 10.4512ZM12 2C12.3786 2.00129 12.7522 2.08944 13.0918 2.25684L20.4746 5.86719H20.4756C21.5036 6.37052 21.1441 7.91676 20.001 7.91699H3.99414C2.8479 7.91659 2.49622 6.37029 3.51953 5.86816L10.9033 2.25098L10.9053 2.25C11.2463 2.08441 11.6209 1.99877 12 2ZM11.9971 3.2207C11.8038 3.22004 11.6123 3.26418 11.4385 3.34863L4.60254 6.69629H19.3926L12.5557 3.35352L12.5527 3.35254C12.3798 3.2671 12.19 3.22149 11.9971 3.2207Z"
                          fill="#204BB3"/>
                </svg>
            </div>

            <div class="advantage-content flexColumn">
                <h4 class="colorBlue">Поддержка Президента РФ</h4>
                <p class="text-m colorGray">
                    В 2009 году на заседании Госсовета
                    обсуждена модернизация ДОСААФ как ключевой
                    организации проф. подготовки граждан
                </p>
            </div>
        </div>

        <div class="advantage customBoxShadow customBorderLightGray2 borderRadius-12 flexColumn">
            <div class="advantage-icon flexCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M8.30664 1.35645C9.81573 1.41876 11.0781 1.93229 12.1748 2.40234C13.3855 2.92121 14.3312 3.34961 15.335 3.34961C16.5944 3.34961 17.4566 3.09585 18.0117 2.67969C18.2568 2.49588 18.5484 2.384 18.8535 2.35645C19.1587 2.32893 19.4662 2.38738 19.7402 2.52441C20.0141 2.66146 20.2443 2.87228 20.4053 3.13281C20.5663 3.39345 20.6523 3.69361 20.6523 4V14C20.6523 14.2562 20.5921 14.5092 20.4775 14.7383C20.363 14.9672 20.197 15.1667 19.9922 15.3203C18.9131 16.1296 17.615 16.5901 16.2715 16.6445L16.002 16.6504C14.3595 16.6504 12.9989 16.0988 11.7607 15.6035C10.499 15.0988 9.3594 14.6504 8.00195 14.6504C6.78091 14.6504 5.59994 15.068 4.65234 15.8291V22C4.65234 22.359 4.36094 22.6504 4.00195 22.6504C3.64297 22.6504 3.35156 22.359 3.35156 22V4C3.35156 3.74385 3.41181 3.49083 3.52637 3.26172C3.64092 3.03277 3.80691 2.83329 4.01172 2.67969C5.16281 1.81637 6.56309 1.34961 8.00195 1.34961L8.30664 1.35645ZM8.00195 2.65039C6.84444 2.65039 5.71803 3.02525 4.79199 3.71973C4.74852 3.75233 4.71278 3.79515 4.68848 3.84375C4.6643 3.89225 4.65234 3.94581 4.65234 4V14.2568C5.66246 13.6677 6.81681 13.3496 8.00195 13.3496L8.30664 13.3564C9.81401 13.4188 11.0824 13.9322 12.2432 14.3965C13.5049 14.9012 14.6445 15.3496 16.002 15.3496C17.1595 15.3496 18.2859 14.9747 19.2119 14.2803C19.2554 14.2477 19.2911 14.2049 19.3154 14.1562C19.3396 14.1078 19.3516 14.0542 19.3516 14V4C19.3516 3.93514 19.3338 3.87162 19.2998 3.81641C19.2656 3.76111 19.2163 3.71559 19.1582 3.68652C19.1002 3.65762 19.0352 3.64558 18.9707 3.65137C18.906 3.6572 18.844 3.6808 18.792 3.71973C17.9244 4.3702 16.7421 4.65039 15.335 4.65039C14.0058 4.65039 12.7847 4.07877 11.6621 3.59766C10.4987 3.09905 9.35684 2.65039 8.00195 2.65039Z"
                          fill="#204BB3"/>
                </svg>
            </div>

            <div class="advantage-content flexColumn">
                <h4 class="colorBlue">Партнёрство с Минобороны</h4>
                <p class="text-m colorGray">
                    Прямое взаимодействие с Министерством
                    обороны РФ и ГИБДД по подготовке кадров
                </p>
            </div>
        </div>


    </div>
</section>