<div class="fix-menu customBoxShadow borderRadius-12 flexBox">

    <button class="btn-custom blackBtn borderRadius-8" data-open-popup="request-popup" data-popup-set-title="Записаться">Записаться</button>
    <button class="btn-custom grayBtn borderRadius-8" data-open-popup="request-popup" data-popup-set-title="Позвонить">Позвонить</button>

    <a target="_blank" href="https://t.me/+79998888888123" class="soc-item flexCenter">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M21.1613 4.33581C21.1458 4.26415 21.1118 4.19792 21.0627 4.14382C21.0137 4.08972 20.9514 4.04967 20.8822 4.02773C20.6299 3.97723 20.3689 3.99594 20.1262 4.08191C20.1262 4.08191 3.30409 10.1941 2.34335 10.8709C2.13696 11.0165 2.06737 11.1014 2.03297 11.2008C1.86658 11.686 2.38415 11.8946 2.38415 11.8946L6.71987 13.3226C6.79318 13.3359 6.86856 13.3315 6.93986 13.3097C7.92539 12.6798 16.8592 6.97509 17.3784 6.78345C17.4584 6.75919 17.52 6.78345 17.504 6.84409C17.2976 7.57588 9.57729 14.508 9.53489 14.5501C9.51424 14.5672 9.49815 14.5892 9.48809 14.6142C9.47803 14.6392 9.47432 14.6664 9.47729 14.6932L9.07252 18.9723C9.07252 18.9723 8.90293 20.3041 10.2204 18.9723C11.1548 18.0271 12.0515 17.2443 12.4995 16.8635C13.9906 17.9042 15.5945 19.0548 16.2865 19.6572C16.4028 19.7711 16.5408 19.8601 16.692 19.9189C16.8431 19.9776 17.0045 20.005 17.1664 19.9993C17.3658 19.9747 17.553 19.8894 17.7032 19.7546C17.8534 19.6198 17.9594 19.442 18.0071 19.2448C18.0071 19.2448 21.071 6.77375 21.1733 5.10317C21.1837 4.94145 21.1973 4.83472 21.1989 4.72232C21.2039 4.59235 21.1913 4.46231 21.1613 4.33581Z"
                  fill="#343434"></path>
        </svg>
    </a>

    <a target="_blank" href="https://api.whatsapp.com/send?phone=79998888888123" class="soc-item flexCenter">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12.0371 2.91602C14.4341 2.91716 16.6839 3.85437 18.376 5.55566C20.0679 7.25732 20.9998 9.52001 20.999 11.9258C20.9968 16.8893 16.976 20.9285 12.0371 20.9287H12.0332C10.5333 20.9281 9.05906 20.5503 7.75 19.833L3.83691 20.8643C3.46484 20.9623 3.12568 20.6202 3.22656 20.249L4.27051 16.4199C3.48635 15.0548 3.07376 13.5054 3.07422 11.9189C3.07629 6.9549 7.09689 2.91602 12.0371 2.91602ZM9.21289 7.96289C9.08167 7.96289 8.86873 8.01637 8.68848 8.23047C8.5079 8.44494 7.99902 8.96386 7.99902 10.0176C7.99931 11.0709 8.70391 12.0886 8.80273 12.2324C8.90206 12.3768 10.1654 14.6075 12.165 15.4658C13.8277 16.1794 14.1665 16.0377 14.5273 16.002C14.8884 15.966 15.6914 15.4834 15.8555 14.9834C16.019 14.4846 16.0195 14.0567 15.9707 13.9658C15.9215 13.8766 15.7895 13.8228 15.5928 13.7158C15.3957 13.6086 14.4286 13.0902 14.248 13.0186C14.0676 12.9472 13.936 12.9115 13.8047 13.126C13.6732 13.3404 13.2964 13.823 13.1816 13.9658C13.0671 14.1083 12.9521 14.1263 12.7559 14.0195C12.559 13.912 11.9248 13.6856 11.1729 12.9561C10.5879 12.3884 10.1922 11.6874 10.0771 11.4727C9.96252 11.2586 10.0654 11.1419 10.1641 11.0352C10.2524 10.9392 10.3606 10.7851 10.459 10.6602C10.5571 10.5351 10.5907 10.4455 10.6562 10.3027C10.7217 10.16 10.6887 10.0347 10.6396 9.92773C10.5902 9.82005 10.2082 8.76162 10.0332 8.33789C9.88574 7.98115 9.7301 7.97405 9.58984 7.96777C9.47512 7.96247 9.34393 7.96289 9.21289 7.96289Z"
                  fill="#343434"></path>
        </svg>
    </a>
</div>