<section class="width-container page-section">
    <div class="flexJustifyBetween">
        <h2>Инструктора</h2>
        <div class="slider-controls flexBox">
            <button id="toLeft_instructors__slider" class="slider-control-btn flexCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M11.4697 4.46973C11.7626 4.17683 12.2374 4.17683 12.5303 4.46973C12.8231 4.76263 12.8231 5.23741 12.5303 5.53027L6.81055 11.25H19C19.4142 11.25 19.75 11.5858 19.75 12C19.75 12.4142 19.4142 12.75 19 12.75H6.81055L12.5303 18.4697C12.8231 18.7626 12.8231 19.2374 12.5303 19.5303C12.2374 19.8231 11.7626 19.8231 11.4697 19.5303L4.46973 12.5303C4.43773 12.4983 4.40977 12.4636 4.38477 12.4277C4.35404 12.3836 4.32743 12.3364 4.30664 12.2861C4.2859 12.2358 4.27106 12.1837 4.26172 12.1309C4.25423 12.0883 4.25 12.0447 4.25 12C4.25 11.9547 4.25402 11.9103 4.26172 11.8672C4.27081 11.8164 4.28505 11.7662 4.30469 11.7178L4.30859 11.708C4.32018 11.6806 4.33596 11.6555 4.35059 11.6299C4.38303 11.573 4.42121 11.5182 4.46973 11.4697L11.4697 4.46973Z"
                          fill="#343434"/>
                </svg>
            </button>
            <button id="toRight_instructors__slider" class="slider-control-btn flexCenter">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M7.21973 0.219727C7.51262 -0.0731667 7.98738 -0.0731667 8.28027 0.219727L15.2803 7.21973C15.3287 7.26813 15.366 7.32319 15.3984 7.37988C15.414 7.40703 15.4303 7.43375 15.4424 7.46289C15.4631 7.51289 15.4779 7.56459 15.4873 7.61719C15.495 7.66033 15.5 7.70464 15.5 7.75C15.5 7.79472 15.4948 7.83829 15.4873 7.88086C15.4779 7.9338 15.4632 7.9858 15.4424 8.03613C15.4215 8.08649 15.3951 8.1336 15.3643 8.17773C15.3393 8.21344 15.3121 8.2484 15.2803 8.28027L8.28027 15.2803C7.98741 15.5731 7.51262 15.5731 7.21973 15.2803C6.92684 14.9874 6.92686 14.5126 7.21973 14.2197L12.9395 8.5H0.75C0.335805 8.5 3.06649e-05 8.16419 0 7.75C0 7.33579 0.335786 7 0.75 7H12.9395L7.21973 1.28027C6.92684 0.98739 6.92686 0.512622 7.21973 0.219727Z"
                          fill="#343434"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="slider-block section-content overflowHidden"
         id="instructors__slider"
         data-slider-group-item="instructors__slider"

         data-slides-view="3"
         data-slides-view-tablet="2"
         data-slides-view-mobile="1.1"

         data-space-between="20"
         data-space-between-tablet="10"
         data-space-between-mobile="8"

         data-pagination-mobile="progressbar"
         data-pagination-clickable="false"

         data-slides-loop="false"
         data-auto-play="false"
         data-slides-speed="1000"
    >
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="instructors-card borderRadius-12 flexColumn borderLightGray">
                    <div class="instructors-card__top flexAlignCenter">
                        <div class="instructor-image borderRadius-8 flexBox borderLightGray">
                            <img src="/assets/images/cards-images/Instructors-img-1.webp" alt="instructor">
                        </div>
                        <div class="instructor-data flexColumn">
                            <h4 class="colorRed">Иван Васильев</h4>
                            <div class="text-m">Стаж 12 лет • Категории B, C</div>
                        </div>
                    </div>
                    <div class="instructors-card__bottom customTopBorderLightGray2">
                        <p class="text-m colorGray">«Спокойно объясняю и довожу до уверенности»</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instructors-card borderRadius-12 flexColumn borderLightGray">
                    <div class="instructors-card__top flexAlignCenter">
                        <div class="instructor-image borderRadius-8 flexBox borderLightGray">
                            <img src="/assets/images/cards-images/Instructors-img-2.webp" alt="instructor">
                        </div>
                        <div class="instructor-data flexColumn">
                            <h4 class="colorRed">Мария Сергеева</h4>
                            <div class="text-m">Стаж 9 лет • Категории A, B</div>
                        </div>
                    </div>
                    <div class="instructors-card__bottom customTopBorderLightGray2">
                        <p class="text-m colorGray">«Повторю десятки раз — без стресса»</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instructors-card borderRadius-12 flexColumn borderLightGray">
                    <div class="instructors-card__top flexAlignCenter">
                        <div class="instructor-image borderRadius-8 flexBox borderLightGray">
                            <img src="/assets/images/cards-images/Instructors-img-3.webp" alt="instructor">
                        </div>
                        <div class="instructor-data flexColumn">
                            <h4 class="colorRed">Дмитрий Кузнецов</h4>
                            <div class="text-m">Стаж 15 лет • Категории B, D</div>
                        </div>
                    </div>
                    <div class="instructors-card__bottom customTopBorderLightGray2">
                        <p class="text-m colorGray">«Учимся чувствовать дорогу, а не зубрить»</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instructors-card borderRadius-12 flexColumn borderLightGray">
                    <div class="instructors-card__top flexAlignCenter">
                        <div class="instructor-image borderRadius-8 flexBox borderLightGray">
                            <img src="/assets/images/cards-images/Instructors-img-1.webp" alt="instructor">
                        </div>
                        <div class="instructor-data flexColumn">
                            <h4 class="colorRed">Иван Васильев</h4>
                            <div class="text-m">Стаж 12 лет • Категории B, C</div>
                        </div>
                    </div>
                    <div class="instructors-card__bottom customTopBorderLightGray2">
                        <p class="text-m colorGray">«Спокойно объясняю и довожу до уверенности»</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instructors-card borderRadius-12 flexColumn borderLightGray">
                    <div class="instructors-card__top flexAlignCenter">
                        <div class="instructor-image borderRadius-8 flexBox borderLightGray">
                            <img src="/assets/images/cards-images/Instructors-img-2.webp" alt="instructor">
                        </div>
                        <div class="instructor-data flexColumn">
                            <h4 class="colorRed">Мария Сергеева</h4>
                            <div class="text-m">Стаж 9 лет • Категории A, B</div>
                        </div>
                    </div>
                    <div class="instructors-card__bottom customTopBorderLightGray2">
                        <p class="text-m colorGray">«Повторю десятки раз — без стресса»</p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="instructors-card borderRadius-12 flexColumn borderLightGray">
                    <div class="instructors-card__top flexAlignCenter">
                        <div class="instructor-image borderRadius-8 flexBox borderLightGray">
                            <img src="/assets/images/cards-images/Instructors-img-3.webp" alt="instructor">
                        </div>
                        <div class="instructor-data flexColumn">
                            <h4 class="colorRed">Дмитрий Кузнецов</h4>
                            <div class="text-m">Стаж 15 лет • Категории B, D</div>
                        </div>
                    </div>
                    <div class="instructors-card__bottom customTopBorderLightGray2">
                        <p class="text-m colorGray">«Учимся чувствовать дорогу, а не зубрить»</p>
                    </div>
                </div>
            </div>
        </div>

        <div id="swiper-pagination__instructors__slider" class="slider-pagination"></div>
    </div>
</section>