<section class="training-section width-container page-section">

    <div class="flexJustifyBetween section-top">
        <h2>Как проходит обучение</h2>

        <button class="btn-custom sign-up-btn blackBtn" data-open-popup="request-popup">Записаться на ближайший поток</button>
    </div>

    <div class="trainings-wrapper step-list section-content">
        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M14.2773 2.52344C14.8217 2.57753 15.3335 2.81778 15.7236 3.20801L17.8691 5.35352C18.1033 5.58784 18.1034 5.96787 17.8691 6.20215C17.6349 6.43636 17.2548 6.43633 17.0205 6.20215L14.875 4.05664C14.6542 3.83579 14.3543 3.711 14.042 3.71094H6.7793C6.46707 3.71099 6.16805 3.83586 5.94727 4.05664C5.72648 4.27743 5.60162 4.57644 5.60156 4.88867V19.1094C5.6016 19.4216 5.72646 19.7216 5.94727 19.9424C6.16801 20.1629 6.46728 20.2871 6.7793 20.2871H17.4443C17.7565 20.2871 18.0565 20.163 18.2773 19.9424C18.4981 19.7216 18.622 19.4216 18.6221 19.1094C18.6221 18.778 18.8913 18.5088 19.2227 18.5088C19.5539 18.509 19.8223 18.7781 19.8223 19.1094C19.8222 19.7398 19.5717 20.3442 19.126 20.79C18.6801 21.2359 18.0749 21.4863 17.4443 21.4863H6.7793C6.14881 21.4863 5.54446 21.2359 5.09863 20.79C4.65281 20.3442 4.40238 19.7399 4.40234 19.1094V4.88867C4.4024 4.25818 4.6528 3.65384 5.09863 3.20801C5.54446 2.76218 6.14881 2.51177 6.7793 2.51172H14.043L14.2773 2.52344ZM9.44531 16.7324C9.77668 16.7324 10.0459 17.0007 10.0459 17.332C10.0456 17.6632 9.77652 17.9316 9.44531 17.9316H8.55664C8.22543 17.9316 7.95729 17.6632 7.95703 17.332C7.95703 17.0007 8.22527 16.7324 8.55664 16.7324H9.44531ZM19.1113 8.7334C19.771 8.73352 20.4037 8.9955 20.8701 9.46191C21.3364 9.92839 21.5996 10.5612 21.5996 11.2207C21.5995 11.8804 21.3366 12.514 20.8701 12.9805L17.3037 16.543C17.0214 16.8254 16.6724 17.0325 16.2891 17.1445H16.2881L13.7373 17.8887C13.558 17.9409 13.3675 17.9437 13.1865 17.8975C13.0054 17.851 12.8393 17.7562 12.707 17.624C12.5749 17.4919 12.4801 17.3265 12.4336 17.1455C12.3872 16.9644 12.3901 16.7733 12.4424 16.5938L13.1865 14.043C13.2985 13.6594 13.5055 13.3098 13.7881 13.0273L17.3516 9.46191H17.3525C17.8191 8.99542 18.4516 8.7334 19.1113 8.7334ZM19.1113 9.93262C18.7698 9.93262 18.4417 10.0681 18.2002 10.3096L18.2012 10.3105L14.6367 13.876C14.5316 13.981 14.4475 14.1048 14.3887 14.2402L14.3389 14.3789L13.6738 16.6562L15.9521 15.9922C16.142 15.9367 16.3152 15.8342 16.4551 15.6943L20.0215 12.1318L20.1074 12.0371C20.2951 11.8081 20.3993 11.5194 20.3994 11.2207C20.3994 10.8794 20.2627 10.552 20.0215 10.3105C19.7801 10.0692 19.4527 9.93274 19.1113 9.93262Z"
                                  fill="white"/>
                        </svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Заявка</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Заполняете форму на сайте или звоните — быстрое
                        оформление для начала обучения на права.
                    </p>
                </div>
            </div>
        </div>
        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M14.623 2.65039C14.7822 2.65039 14.9344 2.71365 15.0469 2.82617L19.4219 7.20117C19.5344 7.31369 19.5977 7.46587 19.5977 7.625V19C19.5977 19.6233 19.3509 20.2214 18.9102 20.6621C18.4694 21.1028 17.8713 21.3496 17.248 21.3496H6.74805C6.12479 21.3496 5.52665 21.1028 5.08594 20.6621C4.64523 20.2214 4.39844 19.6233 4.39844 19V5C4.39844 4.37674 4.64523 3.7786 5.08594 3.33789C5.52665 2.89718 6.12479 2.65039 6.74805 2.65039H14.623ZM6.74805 3.84961C6.44305 3.84961 6.15024 3.97086 5.93457 4.18652C5.7189 4.40219 5.59766 4.695 5.59766 5V19L5.60352 19.1133C5.62958 19.3767 5.74577 19.6247 5.93457 19.8135C6.15024 20.0291 6.44305 20.1504 6.74805 20.1504H17.248C17.553 20.1504 17.8459 20.0291 18.0615 19.8135C18.2772 19.5978 18.3984 19.305 18.3984 19V9.09961H15.498C14.8748 9.09961 14.2766 8.85282 13.8359 8.41211C13.3952 7.9714 13.1484 7.37326 13.1484 6.75V3.84961H6.74805ZM15.498 15.7754C15.8294 15.7754 16.0977 16.0436 16.0977 16.375C16.0977 16.7064 15.8294 16.9746 15.498 16.9746H8.49805C8.16668 16.9746 7.89844 16.7064 7.89844 16.375C7.89844 16.0436 8.16668 15.7754 8.49805 15.7754H15.498ZM15.498 12.2754C15.8294 12.2754 16.0977 12.5436 16.0977 12.875C16.0977 13.2064 15.8294 13.4746 15.498 13.4746H8.49805C8.16668 13.4746 7.89844 13.2064 7.89844 12.875C7.89844 12.5436 8.16668 12.2754 8.49805 12.2754H15.498ZM10.248 8.77539C10.5794 8.77539 10.8477 9.04363 10.8477 9.375C10.8477 9.70637 10.5794 9.97461 10.248 9.97461H8.49805C8.16668 9.97461 7.89844 9.70637 7.89844 9.375C7.89844 9.04363 8.16668 8.77539 8.49805 8.77539H10.248ZM14.3477 6.75C14.3477 7.055 14.4689 7.34781 14.6846 7.56348C14.9002 7.77914 15.193 7.90039 15.498 7.90039H18.3984V7.87305L14.375 3.84961H14.3477V6.75Z"
        fill="#696969"/>
</svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Договор и оплата</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Подписываем официальный договор автошколы ДОСААФ.
                        Возможна оплата частями или в рассрочку.
                    </p>
                </div>
            </div>
        </div>
        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M13.2617 2.40234C13.5931 2.40234 13.8613 2.67058 13.8613 3.00195C13.8613 3.33332 13.5931 3.60156 13.2617 3.60156H6.60254C6.28433 3.60156 5.97891 3.72812 5.75391 3.95312C5.5289 4.17813 5.40234 4.48355 5.40234 4.80176V6.00195H6.60156C6.93292 6.00197 7.20117 6.2702 7.20117 6.60156C7.20117 6.93292 6.93292 7.20116 6.60156 7.20117H5.40234V9.60156H6.60156C6.93292 9.60158 7.20117 9.86981 7.20117 10.2012C7.20117 10.5325 6.93292 10.8008 6.60156 10.8008H5.40234V13.2012H6.60156C6.93292 13.2012 7.20117 13.4694 7.20117 13.8008C7.20117 14.1321 6.93292 14.4004 6.60156 14.4004H5.40234V16.8008H6.60156C6.93292 16.8008 7.20117 17.069 7.20117 17.4004C7.20117 17.7318 6.93292 18 6.60156 18H5.40234V19.2002C5.40238 19.5184 5.52893 19.8239 5.75391 20.0488C5.9789 20.2738 6.28437 20.3994 6.60254 20.3994H17.4014C17.7195 20.3994 18.025 20.2738 18.25 20.0488C18.475 19.8239 18.6006 19.5184 18.6006 19.2002V12.541C18.6006 12.2096 18.8698 11.9404 19.2012 11.9404C19.5325 11.9405 19.8008 12.2097 19.8008 12.541V19.2002C19.8007 19.8366 19.5487 20.4474 19.0986 20.8975C18.6486 21.3475 18.0378 21.5996 17.4014 21.5996H6.60254C5.96611 21.5996 5.35531 21.3475 4.90527 20.8975C4.45526 20.4474 4.20316 19.8366 4.20312 19.2002V18H3.00195C2.67058 18 2.40234 17.7318 2.40234 17.4004C2.40234 17.069 2.67058 16.8008 3.00195 16.8008H4.20312V14.4004H3.00195C2.67058 14.4004 2.40234 14.1322 2.40234 13.8008C2.40234 13.4694 2.67058 13.2012 3.00195 13.2012H4.20312V10.8008H3.00195C2.67058 10.8008 2.40234 10.5325 2.40234 10.2012C2.40234 9.8698 2.67058 9.60156 3.00195 9.60156H4.20312V7.20117H3.00195C2.67058 7.20117 2.40234 6.93293 2.40234 6.60156C2.40234 6.27019 2.67058 6.00195 3.00195 6.00195H4.20312V4.80176C4.20312 4.16529 4.45523 3.55454 4.90527 3.10449C5.35532 2.65444 5.96607 2.40234 6.60254 2.40234H13.2617ZM19.0889 2.40234C19.7548 2.40241 20.3933 2.66681 20.8643 3.1377C21.3352 3.60861 21.6005 4.24713 21.6006 4.91309C21.6005 5.49579 21.3973 6.05805 21.0312 6.50488L20.8643 6.68945L16.3535 11.1973C16.0686 11.4822 15.7159 11.6907 15.3291 11.8037H15.3281L12.7461 12.5576C12.5655 12.6102 12.3736 12.6131 12.1914 12.5664C12.0093 12.5197 11.8429 12.4248 11.71 12.292C11.5769 12.1589 11.4813 11.9918 11.4346 11.8096C11.388 11.6274 11.3918 11.4354 11.4443 11.2549L12.1973 8.67285L12.2441 8.5293C12.3637 8.19866 12.5542 7.89692 12.8037 7.64746L17.3125 3.1377C17.7834 2.66677 18.4229 2.40242 19.0889 2.40234ZM19.0889 3.60156C18.7411 3.60164 18.407 3.74044 18.1611 3.98633L13.6533 8.49609H13.6523C13.51 8.63841 13.4052 8.81467 13.3486 9.00781L13.3496 9.00879L12.6719 11.3281L14.9922 10.6523C15.1856 10.5959 15.3624 10.4911 15.5049 10.3486L20.0156 5.84082C20.2615 5.59492 20.4003 5.26083 20.4004 4.91309C20.4003 4.56539 20.2615 4.23219 20.0156 3.98633C19.7697 3.74049 19.4366 3.60163 19.0889 3.60156Z"
        fill="#696969"/>
</svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Теория (очно/онлайн)</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Курс правил дорожного движения в удобном
                        формате — в классе автошколы или дистанционно
                        через интернет.
                    </p>
                </div>
            </div>
        </div>
        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" fill="none">
  <path d="M15.251 0C17.054 4.08944e-05 18.6909 1.06088 19.4209 2.70605L19.8037 3.56836C19.938 3.87121 19.8018 4.22594 19.499 4.36035C19.1961 4.49474 18.8414 4.35758 18.707 4.05469L18.3242 3.19238C17.7875 1.98301 16.5816 1.19926 15.251 1.19922H12.2031C10.7769 1.19922 9.50191 2.10041 9.03125 3.4375L8.06836 6.1748C7.80397 6.92549 7.08908 7.42285 6.29492 7.42285H4.55957C2.70514 7.42285 1.19922 8.92587 1.19922 10.7666V12.6562C1.1993 14.4969 2.70519 16 4.55957 16H6.49121C6.82258 16 7.0918 16.2682 7.0918 16.5996C7.0918 16.931 6.82258 17.1992 6.49121 17.1992H4.55957C2.04712 17.1992 8.1099e-05 15.1643 0 12.6562V10.7666C0 8.25846 2.04707 6.22266 4.55957 6.22266H6.29492C6.58778 6.22266 6.84378 6.03945 6.93652 5.77637L7.89941 3.04004C8.53989 1.22008 10.2702 0 12.2031 0H15.251ZM15.251 2.68164C15.9924 2.68168 16.6685 3.11507 16.9697 3.79395L20.5693 11.9062C20.8264 12.4857 20.7744 13.1336 20.4287 13.665C20.0771 14.2057 19.495 14.5175 18.8506 14.5176H15.4297V16H18.8506C19.9963 16 21.049 15.4288 21.6709 14.4727C22.2886 13.523 22.383 12.3404 21.9238 11.3057L19.3486 5.50098C19.2143 5.19815 19.3506 4.84345 19.6533 4.70898C19.9561 4.57464 20.3108 4.71101 20.4453 5.01367L23.0205 10.8193C23.6443 12.2255 23.5157 13.8371 22.6768 15.127C21.8327 16.4246 20.401 17.1992 18.8506 17.1992H8.10059C7.76922 17.1992 7.50098 16.931 7.50098 16.5996C7.50098 16.2682 7.76922 16 8.10059 16H12.4229V14.5176H4.55957C3.53069 14.5176 2.68172 13.6905 2.68164 12.6562V10.7666C2.68164 9.73225 3.53069 8.9043 4.55957 8.9043H6.29492C7.72126 8.9043 8.99621 8.00321 9.4668 6.66602L10.4297 3.92969C10.694 3.17882 11.4089 2.68164 12.2031 2.68164H15.251ZM13.6221 16H14.2305V14.5176H13.6221V16ZM12.2031 3.88086C11.9467 3.88086 11.7185 4.02188 11.6035 4.2334L11.5615 4.32812L10.5986 7.06445C9.95816 8.88436 8.22787 10.1045 6.29492 10.1045H4.55957C4.17902 10.1045 3.88184 10.4093 3.88184 10.7666V12.6562C3.88192 13.0135 4.17904 13.3184 4.55957 13.3184H13.3848V9.69727C13.3848 9.36589 13.653 9.09766 13.9844 9.09766H16.4922C16.9195 9.09769 17.2656 9.44374 17.2656 9.87109V11.4004C17.2655 11.8275 16.9195 12.1748 16.4922 12.1748H14.584V13.3184H18.8506C19.0934 13.3183 19.295 13.2074 19.4229 13.0107C19.5473 12.8194 19.5646 12.6012 19.4727 12.3936L15.873 4.28027C15.7669 4.04113 15.5245 3.8809 15.251 3.88086H12.2031ZM14.584 10.9746H16.0664V10.2969H14.584V10.9746Z"
        fill="#696969"/>
</svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Автодром</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Обучение вождению на закрытой площадке.
                        Отрабатываете все элементы, которые будут
                        на экзамене в ГАИ.
                    </p>
                </div>
            </div>
        </div>

        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M15.5986 2.40234C16.2351 2.40234 16.8459 2.65449 17.2959 3.10449C17.7459 3.55453 17.999 4.16535 17.999 4.80176V8.70215H19.1963C19.8328 8.70215 20.4435 8.95426 20.8936 9.4043C21.3435 9.85432 21.5957 10.4652 21.5957 11.1016V19.2012C21.5955 19.8372 21.3432 20.4476 20.8936 20.8975C20.4435 21.3474 19.8326 21.6006 19.1963 21.6006H6.59961L6.59863 21.5996L6.59766 21.6006H4.79785C4.16139 21.6006 3.55063 21.3475 3.10059 20.8975C2.65058 20.4474 2.39844 19.8366 2.39844 19.2002V13.8008C2.39845 13.1643 2.65054 12.5536 3.10059 12.1035C3.55063 11.6535 4.16139 11.4014 4.79785 11.4014H6V4.80176C6.00001 4.16535 6.25218 3.55453 6.70215 3.10449C7.1522 2.65444 7.76295 2.40235 8.39941 2.40234H15.5986ZM4.79785 12.6006C4.47965 12.6006 4.17422 12.7271 3.94922 12.9521C3.72421 13.1772 3.59766 13.4826 3.59766 13.8008V19.2002C3.59766 19.5184 3.72425 19.8238 3.94922 20.0488C4.17422 20.2738 4.47965 20.4004 4.79785 20.4004H6V12.6006H4.79785ZM8.39941 3.60156C8.08121 3.60157 7.77579 3.72812 7.55078 3.95312C7.32585 4.17812 7.19923 4.48361 7.19922 4.80176V20.4004H16.7988V9.32129C16.7986 9.31479 16.7969 9.30831 16.7969 9.30176C16.7969 9.29504 16.7986 9.28791 16.7988 9.28125V4.80176C16.7988 4.48361 16.6722 4.17812 16.4473 3.95312C16.2223 3.72817 15.9168 3.60156 15.5986 3.60156H8.39941ZM17.999 20.4004H19.1963C19.5144 20.4004 19.8199 20.2737 20.0449 20.0488C20.2695 19.824 20.3963 19.5189 20.3965 19.2012V11.1016C20.3965 10.7835 20.2698 10.4779 20.0449 10.2529C19.8199 10.0279 19.5145 9.90137 19.1963 9.90137H17.999V20.4004ZM13.8008 16.8008C14.1321 16.8008 14.4003 17.0691 14.4004 17.4004C14.4004 17.7318 14.1322 18 13.8008 18H10.2012C9.8698 18 9.60156 17.7318 9.60156 17.4004C9.60169 17.0691 9.86988 16.8008 10.2012 16.8008H13.8008ZM13.8008 13.2012C14.1321 13.2012 14.4003 13.4695 14.4004 13.8008C14.4004 14.1322 14.1322 14.4004 13.8008 14.4004H10.2012C9.8698 14.4004 9.60156 14.1322 9.60156 13.8008C9.60169 13.4695 9.86988 13.2012 10.2012 13.2012H13.8008ZM13.8008 9.60156C14.1322 9.60156 14.4004 9.8698 14.4004 10.2012C14.4003 10.5324 14.1321 10.8008 13.8008 10.8008H10.2012C9.86988 10.8008 9.60169 10.5324 9.60156 10.2012C9.60156 9.8698 9.8698 9.60156 10.2012 9.60156H13.8008ZM13.8008 6.00195C14.1322 6.00195 14.4004 6.27019 14.4004 6.60156C14.4003 6.93282 14.1321 7.20117 13.8008 7.20117H10.2012C9.86988 7.20117 9.60169 6.93282 9.60156 6.60156C9.60156 6.27019 9.8698 6.00195 10.2012 6.00195H13.8008Z"
        fill="#696969"/>
</svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Город</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Практические занятия по маршрутам ГИБДД.
                        Учитесь уверенно управлять транспортным средством
                        в реальных условиях.
                    </p>
                </div>
            </div>
        </div>
        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M11.9971 0.0107422L12.1738 0.0507812L12.1826 0.0527344L12.2871 0.0927734L12.3027 0.0976562L19.0361 3.28223L19.0479 3.28809L19.0459 3.28906C19.2393 3.37707 19.3959 3.51942 19.4961 3.69727L19.5762 3.88672L19.5781 3.88867L19.582 3.90039L19.584 3.90527L19.627 4.01465C19.6382 4.05456 19.6464 4.0982 19.6465 4.14551L19.6416 6.45801V6.47656L19.6289 6.5752L19.627 6.5957C19.568 6.84434 19.3367 7.02981 19.0615 7.03027C18.7423 7.02822 18.4806 6.77742 18.4805 6.46973L18.4824 5.42676V5.27246L17.5107 5.65332L17.5088 5.72266L17.4424 7.64453L17.6973 7.84277C19.8471 9.57304 21.1169 12.1471 21.1172 14.8545C21.1172 19.7401 17.1174 23.7446 12.1025 23.9902H12.0967L11.6191 24H11.6152C6.37762 23.9999 2.11719 19.8975 2.11719 14.8545C2.11749 12.0268 3.44395 9.40534 5.75879 7.6582L5.79688 7.62598L5.7998 7.58105L5.87695 5.34668L5.87891 5.2793L5.81641 5.25098L4.44434 4.60254L4.43457 4.59863C4.08008 4.42306 3.86726 4.07669 3.87891 3.69531V3.68262L3.89551 3.54492L3.89648 3.5293C3.9623 3.21465 4.18527 2.94948 4.50195 2.82227H4.50586L4.55664 2.80273L11.4512 0.0810547H11.4551L11.4707 0.0742188C11.6366 0.00544544 11.8193 -0.0138136 11.9971 0.0107422ZM5.82324 9.10352C4.20023 10.6097 3.27957 12.657 3.2793 14.8545C3.2793 19.2805 7.01953 22.8837 11.6152 22.8838C16.2137 22.8831 19.9551 19.28 19.9551 14.8545C19.9548 12.6968 19.0357 10.6308 17.4512 9.13086L17.3311 9.01953L17.2734 9.16895C17.2193 9.30652 17.1538 9.43866 17.0713 9.56055L17.0645 9.5752L17.0605 9.57422C17.0317 9.61831 16.9986 9.66502 16.958 9.70801L16.9512 9.71289L16.8408 9.83789L16.8369 9.84277C16.7715 9.91093 16.7001 9.97456 16.625 10.0322L16.3857 10.1904L16.2637 10.2578L16.3613 10.3516C17.2437 11.2093 17.8655 12.2892 18.1377 13.4824L18.2031 13.8184C18.2608 14.1572 18.291 14.505 18.291 14.8545C18.291 15.3055 18.2427 15.7491 18.1475 16.1729L18.1357 16.2227C17.6197 18.5082 15.8401 20.3377 13.5342 21.0029L13.5293 21.0049L13.0762 21.1172L13.0771 21.1191L13.0586 21.124L13.0566 21.1221L13.0498 21.124L13.0322 21.1309C12.6924 21.2039 12.3398 21.2521 11.9805 21.2705H11.9746L11.6221 21.2783H11.6172C11.4944 21.2783 11.3723 21.2729 11.251 21.2666L10.1367 21.1113L10.1338 21.1104H10.1289L10.1094 21.1055C7.77918 20.5865 5.91817 18.8968 5.23145 16.71L5.10938 16.2666L5.10742 16.2637V16.2598L5.10059 16.2412L5.0957 16.2227L5.0918 16.2148V16.209C5.09093 16.2033 5.08997 16.1975 5.08984 16.1963C5.08266 16.1647 5.07796 16.1324 5.07129 16.1006L4.94922 15.2422V15.2021C4.94276 15.088 4.94044 14.9726 4.94043 14.8574C4.94051 14.4236 4.98735 13.9935 5.07617 13.5781V13.5752L5.08008 13.5537L5.10254 13.4609L5.16895 13.1992V13.1953C5.48471 12.0537 6.1225 11.0343 7.00586 10.2256L7.12109 10.1182L6.97656 10.0557C6.75784 9.96012 6.55598 9.82909 6.38672 9.66797L6.38477 9.66602L6.37598 9.65918L6.22461 9.49316L6.21582 9.48535C6.16623 9.42327 6.12129 9.35472 6.07812 9.28711L6.06738 9.27148L6.05859 9.25684L5.99414 9.13281L5.92969 9.00293L5.82324 9.10352ZM13.0439 21.127C13.044 21.1268 13.0467 21.1248 13.0498 21.124H13.0527C13.049 21.1253 13.0439 21.127 13.0439 21.127ZM10.1641 21.1201L10.1572 21.1191L10.1533 21.1172L10.1523 21.1162L10.1641 21.1201ZM10.1367 21.1113L10.1523 21.1162L10.1289 21.1104L10.1367 21.1113ZM6.14258 14.2568C6.1421 14.2601 6.14258 14.2656 6.14258 14.2656C6.14214 14.2687 6.14137 14.2728 6.14062 14.2773C6.14034 14.2788 6.13908 14.284 6.13867 14.2871C6.13768 14.2946 6.13677 14.3031 6.13672 14.3037V14.3086C6.11705 14.4894 6.10551 14.6715 6.10547 14.8545C6.10547 15.0439 6.11656 15.233 6.13672 15.417V15.4258C6.13721 15.4271 6.13992 15.4335 6.14062 15.4375L6.14355 15.4502V15.4541L6.15625 15.543H7.28809C9.27888 15.5433 10.8983 17.1027 10.8984 19.0186V20.1064L10.959 20.1152H10.9785L10.9941 20.1182C10.998 20.1189 11.0032 20.12 11.0078 20.1211L11.0137 20.123L11.0166 20.125L11.0293 20.127H11.0498C11.425 20.1639 11.8131 20.1655 12.1895 20.1279L12.1914 20.127L12.1963 20.125L12.2422 20.1182L12.3311 20.1064V19.0186C12.3312 17.1027 13.9497 15.5434 15.9404 15.543H17.0762L17.0889 15.4541C17.0895 15.4496 17.0898 15.4416 17.0908 15.4355L17.1006 15.3652C17.1097 15.2738 17.1119 15.179 17.1162 15.0693L17.127 14.8613V14.8574C17.1269 14.7813 17.1196 14.7175 17.1152 14.6191V14.6094L17.1025 14.3711L17.1006 14.3506L17.0869 14.2588L17.0742 14.166H13.8926L13.8857 14.2617C13.8002 15.3977 12.8138 16.2967 11.6123 16.2969C10.413 16.2968 9.4291 15.3972 9.34375 14.2617L9.33691 14.166H6.15625L6.14258 14.2568ZM15.9404 16.6631C14.5913 16.6635 13.4933 17.7201 13.4932 19.0186V19.8359L13.6396 19.7803C15.0521 19.2427 16.1748 18.1629 16.7344 16.8057L16.7939 16.6631H15.9404ZM6.5 16.8037C7.05996 18.1609 8.18275 19.2419 9.5918 19.7793L9.73828 19.834V19.0186C9.7381 17.72 8.63723 16.6635 7.28809 16.6631H6.44043L6.5 16.8037ZM6.12988 15.4102L6.13184 15.4082L6.12988 15.4072V15.4102ZM11.6045 13.0312C11.1339 13.0344 10.7098 13.3336 10.5635 13.7549V13.7646L10.5527 13.7852L10.5127 13.9365C10.504 13.9894 10.4991 14.0451 10.499 14.1025C10.4992 14.6951 10.998 15.1748 11.6084 15.1768L11.7275 15.1719L11.9316 15.1328C12.3924 15 12.7304 14.5881 12.7305 14.1025C12.7304 14.0441 12.7253 13.988 12.7168 13.9365L12.6797 13.7949L12.6748 13.7832C12.5468 13.3877 12.2082 13.1101 11.7969 13.0459L11.6045 13.0312ZM8.44922 10.5205C7.55794 11.1235 6.88972 11.9519 6.5 12.9072L6.44238 13.0479H9.625L9.65625 12.9971C10.0515 12.3385 10.7853 11.9131 11.6123 11.9131C12.4403 11.9132 13.1754 12.3363 13.5732 12.9971L13.6025 13.0479H16.7881L16.7314 12.9072C16.3626 12.0095 15.7473 11.2243 14.9375 10.6338L14.8975 10.6045L14.8535 10.6133C14.3477 10.7056 13.8307 10.7753 13.3096 10.8193H13.3057L12.79 10.8555L12.7812 10.8564L12.4492 10.8604L12.4619 10.8721L12.0342 10.875C12.0202 10.8751 12.0052 10.8759 11.9854 10.877C11.9668 10.8779 11.9433 10.8789 11.9189 10.8789C11.6457 10.8789 11.3633 10.8722 11.0762 10.8584L10.2529 10.7949H10.2266C9.84613 10.752 9.49228 10.6963 9.14648 10.6318H9.1416L9.12598 10.6279C8.92784 10.5925 8.72978 10.549 8.53613 10.5039L8.4873 10.4922L8.44922 10.5205ZM7.01855 5.98047L6.93945 8.19922L6.94141 8.21094V8.23438L6.94336 8.23535V8.24609L6.94629 8.31152C6.95094 8.4262 6.98447 8.53784 7.04297 8.64844L7.2627 8.91895C7.28441 8.93584 7.30533 8.95479 7.3291 8.96973L7.47559 9.04297L7.50684 9.05664L7.50977 9.06055L7.53613 9.07031C8.12875 9.26866 8.73572 9.42321 9.33984 9.53027L9.34863 9.53223H9.35742L9.375 9.53516C9.69727 9.59483 10.0268 9.6424 10.3799 9.68164L11.1357 9.74219L11.9102 9.76074C12.1619 9.76094 12.4074 9.75433 12.6436 9.74219H12.6484L12.6533 9.74023H12.6797L12.7129 9.73828H12.7246L12.7324 9.7373L13.4541 9.68359H13.4697C14.1743 9.61305 14.8664 9.49153 15.5342 9.32422L15.5547 9.31738H15.5654L15.5723 9.31543L15.5762 9.31348C15.7201 9.27761 15.8423 9.21225 15.9404 9.12402L16.0469 9.00977L16.0576 9C16.0603 8.99729 16.0621 8.99382 16.0645 8.99121L16.0713 8.98438L16.0781 8.97461C16.193 8.80631 16.2422 8.65425 16.249 8.50293L16.3262 6.2793L16.3301 6.12207L12.207 7.74707L12.0967 7.79102L12.0938 7.78711L12.0898 7.79102L12.0762 7.79785L11.7764 7.87012L11.7725 7.87109L11.7529 7.875L11.7549 7.87695H11.75L11.7441 7.87793H11.7412L11.7344 7.87988L11.7324 7.88184L11.7129 7.88281L11.7109 7.88672L11.6797 7.88965L11.6816 7.8916L11.6768 7.89355L11.6699 7.89648L11.6611 7.89844L11.6592 7.89453L11.5791 7.91211L11.5479 7.88184C11.527 7.87919 11.507 7.87777 11.4902 7.875L11.4707 7.87695L11.4551 7.875L11.4482 7.87305L11.1025 7.84082L11.167 7.77734L7.17383 5.8916L7.02344 5.81934L7.01855 5.98047ZM11.7773 7.83594L11.7812 7.83984C11.7843 7.83694 11.7875 7.83387 11.79 7.83105L11.7949 7.82812L11.7969 7.82422L11.8018 7.81934C11.8018 7.81934 11.8036 7.81553 11.8057 7.8125L11.8076 7.80762L11.7773 7.83594ZM11.8057 1.15039L5.4707 3.65039L5.25098 3.73633L6.7002 4.4209L6.71094 4.42578C6.714 4.42704 6.71973 4.42969 6.71973 4.42969L6.72461 4.43066H6.72852L6.7334 4.43262L6.7373 4.43457L6.73535 4.43652L6.74023 4.4375L11.6045 6.73828L11.6484 6.75781L11.6943 6.74121L16.7236 4.75684L16.7314 4.75391H16.7344L18.0234 4.24512L18.2432 4.15625L11.8926 1.15234L11.8506 1.13184L11.8057 1.15039Z"
        fill="#696969"/>
</svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Внутренний экзамен</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Проверяем знания и навыки в автошколе,
                        чтобы вы были готовы к сдаче
                        экзамена в ГАИ с первого раза.
                    </p>
                </div>
            </div>
        </div>
        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                       <svg xmlns="http://www.w3.org/2000/svg" width="22" height="14" viewBox="0 0 22 14" fill="none">
  <path d="M10.6504 0C11.4345 0 12.0986 0.295963 12.6348 0.675781L12.8564 0.842773L12.9102 0.890625C13.3668 1.34724 13.9219 1.92813 14.3604 2.3916C14.58 2.62377 14.7717 2.82772 14.9082 2.97363C14.9376 3.00502 14.9643 3.03384 14.9883 3.05957C15.0578 3.07525 15.1444 3.09523 15.2451 3.11816C15.5276 3.18251 15.9232 3.2732 16.375 3.37988C17.2769 3.59282 18.4116 3.87054 19.3242 4.12402H19.3232C20.3837 4.39684 21.3008 5.4354 21.3008 6.65039V9.65039C21.3008 10.0981 21.1483 10.5217 20.835 10.835C20.5217 11.1483 20.0981 11.3008 19.6504 11.3008H18.2168C17.9265 12.4496 16.8892 13.3008 15.6504 13.3008C14.4115 13.3008 13.3743 12.4496 13.084 11.3008H8.2168C7.92648 12.4496 6.88925 13.3008 5.65039 13.3008C4.41154 13.3008 3.3743 12.4496 3.08398 11.3008H1.65039C1.20268 11.3008 0.779127 11.1483 0.46582 10.835C0.152514 10.5217 0 10.0981 0 9.65039V5.65039C0 5.17037 0.0796686 4.69333 0.235352 4.23926L0.264648 4.16797L1.66504 1.26758L1.69336 1.21582C2.06418 0.597943 2.74411 0 3.65039 0H10.6504ZM5.65039 9.30078C4.90481 9.30078 4.30078 9.90481 4.30078 10.6504C4.30078 11.396 4.90481 12 5.65039 12C6.39598 12 7 11.396 7 10.6504C7 9.90481 6.39598 9.30078 5.65039 9.30078ZM15.6504 9.30078C14.9048 9.30078 14.3008 9.90481 14.3008 10.6504C14.3008 11.396 14.9048 12 15.6504 12C16.396 12 17 11.396 17 10.6504C17 9.90481 16.396 9.30078 15.6504 9.30078ZM3.65039 1.30078C3.36163 1.30078 3.04768 1.49629 2.81934 1.86621L1.45508 4.69043C1.35245 4.99998 1.30078 5.32414 1.30078 5.65039V9.65039C1.30078 9.80268 1.34807 9.87932 1.38477 9.91602C1.42146 9.95271 1.4981 10 1.65039 10H3.08398C3.3743 8.85123 4.41154 8 5.65039 8C6.88925 8 7.92648 8.85123 8.2168 10H13.084C13.3743 8.85123 14.4115 8 15.6504 8C16.8892 8 17.9265 8.85123 18.2168 10H19.6504C19.8027 10 19.8793 9.95271 19.916 9.91602C19.9527 9.87932 20 9.80268 20 9.65039V6.65039C20 6.07135 19.5261 5.5143 18.9932 5.38086C18.9878 5.37951 18.9819 5.37844 18.9766 5.37695C18.0893 5.13048 16.9742 4.85755 16.0762 4.64551C15.6282 4.53974 15.236 4.44951 14.9561 4.38574C14.8161 4.35386 14.7037 4.32878 14.627 4.31152C14.5887 4.30294 14.559 4.29644 14.5391 4.29199C14.5292 4.28979 14.5216 4.28725 14.5166 4.28613C14.5142 4.28561 14.5119 4.28542 14.5107 4.28516H14.5098C14.3811 4.25656 14.2635 4.18937 14.1738 4.09277L14.1729 4.0918C14.1723 4.09119 14.1719 4.08996 14.1709 4.08887C14.1685 4.08625 14.164 4.08232 14.1592 4.07715C14.1496 4.06681 14.1356 4.051 14.1172 4.03125C14.0802 3.99152 14.0265 3.9335 13.959 3.86133C13.8237 3.71669 13.6338 3.51437 13.416 3.28418C12.9904 2.83427 12.4615 2.28201 12.0244 1.84375C11.6006 1.50923 11.1469 1.30078 10.6504 1.30078H3.65039Z"
        fill="#696969"/>
</svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Экзамен в ГАИ (на своём авто)</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Сдаёте экзамен в ГИБДД на том же транспортном
                        средстве, на котором проходили обучение.
                        Это повышает шансы на успех.
                    </p>
                </div>
            </div>
        </div>
        <div class="training-step borderRadius-12 customBorderLightGray2 flexColumn">
            <div class="training-step__top flexJustifyBetween">
                <span class="step-number flexCenter customBorderLightGray2 h4"></span>
                <span class="training-step__icon">
                      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
  <path d="M18.6504 0C20.1139 0 21.3008 1.18684 21.3008 2.65039V12.6504C21.3008 14.1139 20.1139 15.3008 18.6504 15.3008H2.65039C1.18684 15.3008 0 14.1139 0 12.6504V2.65039C0 1.18684 1.18684 0 2.65039 0H18.6504ZM2.65039 1.30078C1.90481 1.30078 1.30078 1.90481 1.30078 2.65039V12.6504C1.30078 13.396 1.90481 14 2.65039 14H18.6504C19.396 14 20 13.396 20 12.6504V2.65039C20 1.90481 19.396 1.30078 18.6504 1.30078H2.65039ZM7.65039 4C9.11395 4 10.3008 5.18684 10.3008 6.65039C10.3008 7.37919 10.0055 8.0384 9.5293 8.51758C9.60763 8.56465 9.68481 8.61488 9.75977 8.66797C10.3763 9.10479 10.843 9.72274 11.0938 10.4355C11.2122 10.7738 11.0344 11.1445 10.6963 11.2637C10.3578 11.3827 9.98651 11.2045 9.86719 10.8662C9.70573 10.4075 9.40558 10.0097 9.00879 9.72852C8.62375 9.4558 8.16541 9.30668 7.69434 9.29785C7.6797 9.29809 7.66508 9.30078 7.65039 9.30078C7.63537 9.30078 7.62043 9.2981 7.60547 9.29785C7.13459 9.30678 6.67688 9.45593 6.29199 9.72852C5.89507 10.0097 5.59509 10.4074 5.43359 10.8662C5.31437 11.2045 4.94292 11.3825 4.60449 11.2637C4.26623 11.1445 4.0884 10.7739 4.20703 10.4355C4.45782 9.72262 4.92431 9.1048 5.54102 8.66797C5.61585 8.61497 5.69231 8.56458 5.77051 8.51758C5.29458 8.03844 5 7.37894 5 6.65039C5 5.18684 6.18684 4 7.65039 4ZM16.6504 9C17.0094 9 17.3008 9.29141 17.3008 9.65039C17.3008 10.0094 17.0094 10.3008 16.6504 10.3008H14.6504C14.2914 10.3008 14 10.0094 14 9.65039C14 9.29141 14.2914 9 14.6504 9H16.6504ZM7.65039 5.30078C6.90481 5.30078 6.30078 5.90481 6.30078 6.65039C6.30078 7.38092 6.88073 7.97335 7.60547 7.99707C7.62037 7.99689 7.63548 7.99609 7.65039 7.99609C7.66505 7.9961 7.67969 7.99689 7.69434 7.99707C8.41953 7.97385 9 7.38125 9 6.65039C9 5.90481 8.39598 5.30078 7.65039 5.30078ZM16.6504 5C17.0094 5 17.3008 5.29141 17.3008 5.65039C17.3008 6.00938 17.0094 6.30078 16.6504 6.30078H14.6504C14.2914 6.30078 14 6.00938 14 5.65039C14 5.29141 14.2914 5 14.6504 5H16.6504Z"
        fill="#E8E8E8"/>
</svg>
                    </span>
            </div>

            <div class="training-step__content">
                <h4 class="training-step__title">Права</h4>
                <div class="training-step__subtitle text-s colorGray">
                    <p>
                        Получаете водительское удостоверение и становитесь полноправным водителем.
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>