<div class="width-container borderRadius-12">
    <div class="flexJustifyBetween section-top">
        <h2>Почему <span class="colorOrange">ДОСААФ</span></h2>
        <a href="#categories" class="more-courses-btn btn-custom redBtn borderRadius-12 flexAlignCenter courses-icon h5">
            Смотреть курсы
        </a>
    </div>

    <div class="reasons__grid section-content">
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20.4463 20.7764C20.7831 20.7765 21.0566 21.0498 21.0566 21.3867C21.0566 21.7235 20.7831 21.9969 20.4463 21.9971H3.5498C3.21299 21.9969 2.93953 21.7235 2.93945 21.3867C2.93945 21.0498 3.21294 20.7765 3.5498 20.7764H20.4463ZM6.36621 10.4512C6.70318 10.4512 6.97656 10.7246 6.97656 11.0615V17.6318C6.97656 17.9688 6.70318 18.2422 6.36621 18.2422C6.02931 18.2421 5.75586 17.9688 5.75586 17.6318V11.0615C5.75586 10.7246 6.02931 10.4513 6.36621 10.4512ZM10.1201 10.4512C10.4571 10.4512 10.7305 10.7246 10.7305 11.0615V17.6318C10.7305 17.9688 10.4571 18.2422 10.1201 18.2422C9.78322 18.2421 9.50977 17.9688 9.50977 17.6318V11.0615C9.50977 10.7246 9.78322 10.4513 10.1201 10.4512ZM13.876 10.4512C14.2129 10.4512 14.4863 10.7246 14.4863 11.0615V17.6318C14.4863 17.9688 14.2129 18.2422 13.876 18.2422C13.5391 18.2421 13.2656 17.9688 13.2656 17.6318V11.0615C13.2656 10.7246 13.5391 10.4513 13.876 10.4512ZM17.6299 10.4512C17.9669 10.4512 18.2402 10.7246 18.2402 11.0615V17.6318C18.2402 17.9688 17.9669 18.2422 17.6299 18.2422C17.293 18.2421 17.0195 17.9688 17.0195 17.6318V11.0615C17.0195 10.7246 17.293 10.4513 17.6299 10.4512ZM12 2C12.3786 2.00129 12.7522 2.08944 13.0918 2.25684L20.4746 5.86719H20.4756C21.5036 6.37052 21.1441 7.91676 20.001 7.91699H3.99414C2.8479 7.91659 2.49622 6.37029 3.51953 5.86816L10.9033 2.25098L10.9053 2.25C11.2463 2.08441 11.6209 1.99877 12 2ZM11.9971 3.2207C11.8038 3.22004 11.6123 3.26418 11.4385 3.34863L4.60254 6.69629H19.3926L12.5557 3.35352L12.5527 3.35254C12.3798 3.2671 12.19 3.22149 11.9971 3.2207Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>Поддержка государства</h5>
                <p class="text-s colorGray">
                    Учим по нормам: цель — ваши права,
                    а не пересдачи.
                </p>
            </div>
        </div>
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                    <path d="M16.1309 8.79297C16.2564 8.4568 16.6315 8.28577 16.9678 8.41113C18.0151 8.80174 18.9472 9.45076 19.6777 10.2969C20.4083 11.1432 20.914 12.1605 21.1475 13.2539C21.3809 14.3472 21.3348 15.4819 21.0137 16.5527C20.6925 17.6236 20.1062 18.5965 19.3096 19.3809C18.5128 20.1652 17.5308 20.7365 16.4551 21.041C15.3793 21.3455 14.2439 21.3735 13.1543 21.123C12.0647 20.8725 11.0555 20.3511 10.2207 19.6074C9.38602 18.8638 8.75213 17.9216 8.37793 16.8682C8.25782 16.53 8.43433 16.1583 8.77246 16.0381C9.11053 15.9182 9.48229 16.0947 9.60254 16.4326C9.90353 17.28 10.4136 18.0385 11.085 18.6367C11.7565 19.2349 12.5688 19.6549 13.4453 19.8564C14.3219 20.0579 15.2361 20.035 16.1016 19.79C16.9668 19.545 17.7566 19.0859 18.3975 18.4551C19.0384 17.824 19.5101 17.0412 19.7686 16.1797C20.027 15.3181 20.0638 14.4051 19.876 13.5254C19.6882 12.6459 19.282 11.8273 18.6943 11.1465C18.1066 10.4657 17.3554 9.94415 16.5127 9.62988C16.1765 9.50436 16.0055 9.12923 16.1309 8.79297ZM14.9043 12.0674C15.16 11.8158 15.5713 11.8187 15.8232 12.0742L16.5234 12.7842C16.7738 13.0385 16.7718 13.4477 16.5195 13.7002L13.7002 16.5195C13.4464 16.7733 13.0341 16.7733 12.7803 16.5195C12.5268 16.2657 12.5267 15.8543 12.7803 15.6006L15.1436 13.2363L14.8975 12.9863C14.6455 12.7307 14.6487 12.3194 14.9043 12.0674ZM6.65039 0C10.3231 0 13.3008 2.9777 13.3008 6.65039C13.3008 10.3231 10.3231 13.3008 6.65039 13.3008C2.9777 13.3008 0 10.3231 0 6.65039C0 2.9777 2.9777 0 6.65039 0ZM6.65039 1.30078C3.69567 1.30078 1.30078 3.69567 1.30078 6.65039C1.30078 9.60511 3.69567 12 6.65039 12C9.60511 12 12 9.60511 12 6.65039C12 3.69567 9.60511 1.30078 6.65039 1.30078ZM6.78125 4.01367C7.0775 4.07424 7.30078 4.33624 7.30078 4.65039V8.65039C7.30078 9.00938 7.00938 9.30078 6.65039 9.30078C6.29141 9.30078 6 9.00938 6 8.65039V5.30078H5.65039C5.29141 5.30078 5 5.00938 5 4.65039C5 4.29141 5.29141 4 5.65039 4H6.65039L6.78125 4.01367Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>Лучшие цены в городе</h5>
                <p class="text-s colorGray">
                    Честно и прозрачно, без скрытых платежей.
                </p>
            </div>
        </div>
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="18" viewBox="0 0 24 18" fill="none">
                    <path d="M15.251 0C17.054 4.08944e-05 18.6909 1.06088 19.4209 2.70605L19.8037 3.56836C19.938 3.87121 19.8018 4.22594 19.499 4.36035C19.1961 4.49474 18.8414 4.35758 18.707 4.05469L18.3242 3.19238C17.7875 1.98301 16.5816 1.19926 15.251 1.19922H12.2031C10.7769 1.19922 9.50191 2.10041 9.03125 3.4375L8.06836 6.1748C7.80397 6.92549 7.08908 7.42285 6.29492 7.42285H4.55957C2.70514 7.42285 1.19922 8.92587 1.19922 10.7666V12.6562C1.1993 14.4969 2.70519 16 4.55957 16H6.49121C6.82258 16 7.0918 16.2682 7.0918 16.5996C7.0918 16.931 6.82258 17.1992 6.49121 17.1992H4.55957C2.04712 17.1992 8.1099e-05 15.1643 0 12.6562V10.7666C0 8.25846 2.04707 6.22266 4.55957 6.22266H6.29492C6.58778 6.22266 6.84378 6.03945 6.93652 5.77637L7.89941 3.04004C8.53989 1.22008 10.2702 0 12.2031 0H15.251ZM15.251 2.68164C15.9924 2.68168 16.6685 3.11507 16.9697 3.79395L20.5693 11.9062C20.8264 12.4857 20.7744 13.1336 20.4287 13.665C20.0771 14.2057 19.495 14.5175 18.8506 14.5176H15.4297V16H18.8506C19.9963 16 21.049 15.4288 21.6709 14.4727C22.2886 13.523 22.383 12.3404 21.9238 11.3057L19.3486 5.50098C19.2143 5.19815 19.3506 4.84345 19.6533 4.70898C19.9561 4.57464 20.3108 4.71101 20.4453 5.01367L23.0205 10.8193C23.6443 12.2255 23.5157 13.8371 22.6768 15.127C21.8327 16.4246 20.401 17.1992 18.8506 17.1992H8.10059C7.76922 17.1992 7.50098 16.931 7.50098 16.5996C7.50098 16.2682 7.76922 16 8.10059 16H12.4229V14.5176H4.55957C3.53069 14.5176 2.68172 13.6905 2.68164 12.6562V10.7666C2.68164 9.73225 3.53069 8.9043 4.55957 8.9043H6.29492C7.72126 8.9043 8.99621 8.00321 9.4668 6.66602L10.4297 3.92969C10.694 3.17882 11.4089 2.68164 12.2031 2.68164H15.251ZM13.6221 16H14.2305V14.5176H13.6221V16ZM12.2031 3.88086C11.9467 3.88086 11.7185 4.02188 11.6035 4.2334L11.5615 4.32812L10.5986 7.06445C9.95816 8.88436 8.22787 10.1045 6.29492 10.1045H4.55957C4.17902 10.1045 3.88184 10.4093 3.88184 10.7666V12.6562C3.88192 13.0135 4.17904 13.3184 4.55957 13.3184H13.3848V9.69727C13.3848 9.36589 13.653 9.09766 13.9844 9.09766H16.4922C16.9195 9.09769 17.2656 9.44374 17.2656 9.87109V11.4004C17.2655 11.8275 16.9195 12.1748 16.4922 12.1748H14.584V13.3184H18.8506C19.0934 13.3183 19.295 13.2074 19.4229 13.0107C19.5473 12.8194 19.5646 12.6012 19.4727 12.3936L15.873 4.28027C15.7669 4.04113 15.5245 3.8809 15.251 3.88086H12.2031ZM14.584 10.9746H16.0664V10.2969H14.584V10.9746Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>Собственный автодром</h5>
                <p class="text-s colorGray">
                    Больше практики, никаких очередей.
                </p>
            </div>
        </div>
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12.4268 1.01074C16.6146 1.2197 19.9906 4.51886 20.2041 8.65723L20.2148 9.07324C20.2148 12.2026 18.1803 15.2213 16.2832 17.377C15.9644 17.7392 15.6428 18.0781 15.333 18.3955H15.8945C16.559 18.3958 17.1784 18.733 17.5381 19.292L17.9883 19.9922C18.8243 21.2934 17.8881 22.9997 16.3438 23H7.66797C6.1234 22.9999 5.18617 21.2935 6.02246 19.9922L6.47363 19.292C6.83345 18.733 7.45251 18.3956 8.11719 18.3955H8.67871C8.36892 18.0781 8.04636 17.7392 7.72754 17.377C5.89001 15.2889 3.9242 12.3908 3.80273 9.36719L3.79688 9.07324C3.79723 4.60226 7.48309 1.00041 12.0049 1L12.4268 1.01074ZM8.11719 19.7744C7.92158 19.7745 7.73954 19.8734 7.63379 20.0371L7.18262 20.7363C6.93773 21.1172 7.21192 21.6229 7.66797 21.623H16.3438C16.7996 21.6227 17.0731 21.1171 16.8281 20.7363L16.3779 20.0371C16.2989 19.9146 16.1764 19.8287 16.0381 19.793L15.8945 19.7744H13.9062C13.8153 19.8575 13.7253 19.9411 13.6387 20.0176C13.2782 20.3358 12.9751 20.5887 12.7627 20.7607C12.6575 20.846 12.5738 20.9125 12.5156 20.958C12.4905 20.9776 12.452 21.0044 12.4463 21.0088C12.4442 21.0104 12.4423 21.0123 12.4404 21.0137L12.4375 21.0166C12.4345 21.0195 12.4297 21.0239 12.4238 21.0283L12.4229 21.0303C12.1768 21.2163 11.835 21.2162 11.5889 21.0303L11.5869 21.0283L11.5742 21.0166L11.5713 21.0137C11.5694 21.0123 11.5666 21.0104 11.5645 21.0088C11.5578 21.0037 11.5208 20.9773 11.4961 20.958C11.4379 20.9126 11.3543 20.846 11.249 20.7607C11.0367 20.5887 10.7336 20.3358 10.373 20.0176C10.2865 19.9411 10.1965 19.8575 10.1055 19.7744H8.11719ZM12.0049 2.37695C8.2214 2.37735 5.17418 5.38763 5.17383 9.07324C5.17383 11.6634 6.9007 14.3489 8.76367 16.4658C9.67944 17.5063 10.5984 18.3746 11.2881 18.9834C11.5711 19.2333 11.8165 19.4371 12.0049 19.5918C12.1937 19.437 12.4402 19.2336 12.7236 18.9834C13.4132 18.3746 14.3314 17.5062 15.2471 16.4658C17.11 14.3489 18.8369 11.6634 18.8369 9.07324C18.8366 5.38741 15.7887 2.37695 12.0049 2.37695ZM12.2939 3.53906C15.2583 3.68692 17.6344 6.09727 17.6348 9.07324L17.6279 9.35938C17.4814 12.2027 15.163 14.4662 12.2939 14.6094L12.0049 14.6152C9.00435 14.6148 6.53517 12.2973 6.38379 9.35938L6.37598 9.07324C6.37633 6.00145 8.90786 3.53361 12.0049 3.5332L12.2939 3.53906ZM12.0049 4.91211C9.64619 4.91251 7.75523 6.78679 7.75488 9.07324C7.75488 11.36 9.64602 13.2359 12.0049 13.2363C14.3641 13.2363 16.2568 11.3602 16.2568 9.07324C16.2565 6.78658 14.364 4.91211 12.0049 4.91211ZM12.6006 6.00488H12.6084L12.7969 6.0332C13.6655 6.20326 14.3674 6.92258 14.457 7.83496L14.4658 8.0332C14.4657 9.17596 13.5107 10.0698 12.4033 10.0703C12.2527 10.0703 12.0027 10.0695 11.7607 10.0703V11.4629C11.7606 11.8431 11.4534 12.1521 11.0723 12.1523C10.6914 12.1523 10.382 11.8437 10.3818 11.4629V6.68457C10.3822 6.30363 10.6919 5.99517 11.0723 5.99512H12.4111L12.6006 6.00488ZM11.7637 8.0332C11.7637 8.18681 11.7628 8.4429 11.7637 8.69141C12.0038 8.69058 12.2521 8.69141 12.4033 8.69141L12.541 8.67676C12.8539 8.61253 13.0868 8.33694 13.0869 8.0332C13.0868 7.73162 12.857 7.45596 12.5449 7.38965L12.3867 7.37402C12.2175 7.37402 11.9851 7.37402 11.7627 7.37402L11.7637 8.0332Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>Обновлённый автопарк</h5>
                <p class="text-s colorGray">
                    БВсе авто — школы, двойное управление, сервис и страховка.
                </p>
            </div>
        </div>
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="16" viewBox="0 0 22 16" fill="none">
                    <path d="M18.6504 0C20.1139 0 21.3008 1.18684 21.3008 2.65039V12.6504C21.3008 14.1139 20.1139 15.3008 18.6504 15.3008H2.65039C1.18684 15.3008 0 14.1139 0 12.6504V2.65039C0 1.18684 1.18684 0 2.65039 0H18.6504ZM2.65039 1.30078C1.90481 1.30078 1.30078 1.90481 1.30078 2.65039V12.6504C1.30078 13.396 1.90481 14 2.65039 14H18.6504C19.396 14 20 13.396 20 12.6504V2.65039C20 1.90481 19.396 1.30078 18.6504 1.30078H2.65039ZM7.65039 4C9.11395 4 10.3008 5.18684 10.3008 6.65039C10.3008 7.37919 10.0055 8.0384 9.5293 8.51758C9.60763 8.56465 9.68481 8.61488 9.75977 8.66797C10.3763 9.10479 10.843 9.72274 11.0938 10.4355C11.2122 10.7738 11.0344 11.1445 10.6963 11.2637C10.3578 11.3827 9.98651 11.2045 9.86719 10.8662C9.70573 10.4075 9.40558 10.0097 9.00879 9.72852C8.62375 9.4558 8.16541 9.30668 7.69434 9.29785C7.6797 9.29809 7.66508 9.30078 7.65039 9.30078C7.63537 9.30078 7.62043 9.2981 7.60547 9.29785C7.13459 9.30678 6.67688 9.45593 6.29199 9.72852C5.89507 10.0097 5.59509 10.4074 5.43359 10.8662C5.31437 11.2045 4.94292 11.3825 4.60449 11.2637C4.26623 11.1445 4.0884 10.7739 4.20703 10.4355C4.45782 9.72262 4.92431 9.1048 5.54102 8.66797C5.61585 8.61497 5.69231 8.56458 5.77051 8.51758C5.29458 8.03844 5 7.37894 5 6.65039C5 5.18684 6.18684 4 7.65039 4ZM16.6504 9C17.0094 9 17.3008 9.29141 17.3008 9.65039C17.3008 10.0094 17.0094 10.3008 16.6504 10.3008H14.6504C14.2914 10.3008 14 10.0094 14 9.65039C14 9.29141 14.2914 9 14.6504 9H16.6504ZM7.65039 5.30078C6.90481 5.30078 6.30078 5.90481 6.30078 6.65039C6.30078 7.38092 6.88073 7.97335 7.60547 7.99707C7.62037 7.99689 7.63548 7.99609 7.65039 7.99609C7.66505 7.9961 7.67969 7.99689 7.69434 7.99707C8.41953 7.97385 9 7.38125 9 6.65039C9 5.90481 8.39598 5.30078 7.65039 5.30078ZM16.6504 5C17.0094 5 17.3008 5.29141 17.3008 5.65039C17.3008 6.00938 17.0094 6.30078 16.6504 6.30078H14.6504C14.2914 6.30078 14 6.00938 14 5.65039C14 5.29141 14.2914 5 14.6504 5H16.6504Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>Проверенные инструкторы</h5>
                <p class="text-s colorGray">
                    Отбор по стажу и профильному образованию.
                </p>
            </div>
        </div>
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M13.0986 20.1455C13.2673 19.8542 13.64 19.7547 13.9316 19.9229C14.2234 20.0915 14.3238 20.465 14.1553 20.7568C13.9369 21.1349 13.6223 21.4487 13.2441 21.667C12.8661 21.8852 12.4374 22.0009 12.001 22.001C11.5642 22.001 11.1341 21.8853 10.7559 21.667C10.3779 21.4487 10.064 21.1348 9.8457 20.7568C9.67719 20.465 9.77665 20.0915 10.0684 19.9229C10.3601 19.7544 10.7336 19.854 10.9023 20.1455C11.0136 20.3381 11.1736 20.4991 11.3662 20.6104C11.5589 20.7215 11.7786 20.7793 12.001 20.7793C12.2233 20.7792 12.4423 20.7215 12.6348 20.6104C12.8273 20.4991 12.9874 20.3381 13.0986 20.1455ZM11.7773 2.00391C12.8475 1.96584 13.9096 2.2036 14.8613 2.69434C15.1608 2.84879 15.2783 3.21705 15.124 3.5166C14.9694 3.81599 14.6013 3.93375 14.3018 3.7793C13.5361 3.38451 12.6812 3.19299 11.8203 3.22363C10.9595 3.25435 10.1213 3.50687 9.38574 3.95508C8.64999 4.40343 8.04112 5.03299 7.61914 5.78418C7.19726 6.53525 6.97574 7.38269 6.97559 8.24414C6.97554 10.42 6.63401 11.9126 6.09863 13.0459C5.56773 14.1696 4.8648 14.8954 4.24414 15.5352L4.19043 15.6143C4.17692 15.6424 4.16717 15.6729 4.16211 15.7041C4.15206 15.7666 4.16011 15.8308 4.18555 15.8887C4.21125 15.9468 4.25345 15.9975 4.30664 16.0322C4.35986 16.0669 4.42283 16.0849 4.48633 16.085H19.5127C19.576 16.0849 19.6383 16.0667 19.6914 16.0322C19.7448 15.9975 19.7877 15.9469 19.8135 15.8887C19.8389 15.8308 19.847 15.7665 19.8369 15.7041C19.8267 15.6414 19.7986 15.5822 19.7559 15.5352H19.7549C19.4945 15.2658 19.2504 14.9802 19.0254 14.6807C18.8232 14.4112 18.8782 14.0286 19.1475 13.8262C19.4168 13.6241 19.7995 13.6782 20.002 13.9473C20.1506 14.1451 20.309 14.3357 20.4756 14.5186L20.6445 14.6992L20.6582 14.7139C20.86 14.9359 20.9939 15.2126 21.042 15.5088C21.0899 15.805 21.0511 16.1094 20.9297 16.3838C20.8083 16.6581 20.6088 16.891 20.3574 17.0547C20.1059 17.2184 19.8119 17.3057 19.5117 17.3057H4.48633V17.3047C4.18651 17.3046 3.89292 17.2182 3.6416 17.0547C3.39034 16.891 3.19175 16.6579 3.07031 16.3838C2.94895 16.1094 2.9091 15.805 2.95703 15.5088C3.00513 15.2125 3.1388 14.9359 3.34082 14.7139L3.35449 14.6992C3.97917 14.0553 4.5558 13.455 4.99512 12.5254C5.43384 11.5968 5.75484 10.2923 5.75488 8.24414C5.75504 7.17337 6.03033 6.12012 6.55469 5.18652C7.0792 4.25281 7.83548 3.46941 8.75 2.91211C9.6645 2.35486 10.7071 2.04202 11.7773 2.00391ZM17.6338 4.81641C17.9709 4.81641 18.2451 5.08966 18.2451 5.42676V7.63281H20.4502C20.7872 7.63288 21.0605 7.90708 21.0605 8.24414C21.0604 8.58105 20.7871 8.85443 20.4502 8.85449H18.2451V11.0605C18.2451 11.3976 17.9709 11.6719 17.6338 11.6719C17.2969 11.6717 17.0234 11.3975 17.0234 11.0605V8.85449H14.8154C14.4786 8.85428 14.2053 8.58096 14.2051 8.24414C14.2051 7.90717 14.4785 7.63303 14.8154 7.63281H17.0234V5.42676C17.0234 5.08979 17.2969 4.81662 17.6338 4.81641Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>ПДД — всегда актуальны</h5>
                <p class="text-s colorGray">
                    Внедряем изменения сразу.
                </p>
            </div>
        </div>
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M12.002 6.34961C12.7861 6.34961 13.4502 6.64557 13.9863 7.02539L14.208 7.19238L14.2617 7.24023C14.7183 7.69685 15.2735 8.27774 15.7119 8.74121C15.9315 8.97338 16.1233 9.17733 16.2598 9.32324C16.2891 9.35462 16.3158 9.38345 16.3398 9.40918C16.4094 9.42486 16.496 9.44484 16.5967 9.46777C16.8792 9.53212 17.2747 9.62281 17.7266 9.72949C18.6284 9.94243 19.7632 10.2201 20.6758 10.4736H20.6748C21.7352 10.7465 22.6523 11.785 22.6523 13V16C22.6523 16.4477 22.4998 16.8713 22.1865 17.1846C21.8732 17.4979 21.4497 17.6504 21.002 17.6504H19.5684C19.278 18.7992 18.2408 19.6504 17.002 19.6504C15.7631 19.6504 14.7259 18.7992 14.4355 17.6504H9.56836C9.27804 18.7992 8.24081 19.6504 7.00195 19.6504C5.7631 19.6504 4.72587 18.7992 4.43555 17.6504H3.00195C2.55424 17.6504 2.13069 17.4979 1.81738 17.1846C1.50408 16.8713 1.35156 16.4477 1.35156 16V12C1.35156 11.52 1.43123 11.0429 1.58691 10.5889L1.61621 10.5176L3.0166 7.61719L3.04492 7.56543C3.41574 6.94755 4.09567 6.34961 5.00195 6.34961H12.002ZM7.00195 15.6504C6.25637 15.6504 5.65234 16.2544 5.65234 17C5.65234 17.7456 6.25637 18.3496 7.00195 18.3496C7.74754 18.3496 8.35156 17.7456 8.35156 17C8.35156 16.2544 7.74754 15.6504 7.00195 15.6504ZM17.002 15.6504C16.2564 15.6504 15.6523 16.2544 15.6523 17C15.6523 17.7456 16.2564 18.3496 17.002 18.3496C17.7475 18.3496 18.3516 17.7456 18.3516 17C18.3516 16.2544 17.7475 15.6504 17.002 15.6504ZM5.00195 7.65039C4.71319 7.65039 4.39925 7.8459 4.1709 8.21582L2.80664 11.04C2.70401 11.3496 2.65234 11.6737 2.65234 12V16C2.65234 16.1523 2.69963 16.2289 2.73633 16.2656C2.77302 16.3023 2.84966 16.3496 3.00195 16.3496H4.43555C4.72587 15.2008 5.7631 14.3496 7.00195 14.3496C8.24081 14.3496 9.27804 15.2008 9.56836 16.3496H14.4355C14.7259 15.2008 15.7631 14.3496 17.002 14.3496C18.2408 14.3496 19.278 15.2008 19.5684 16.3496H21.002C21.1542 16.3496 21.2309 16.3023 21.2676 16.2656C21.3043 16.2289 21.3516 16.1523 21.3516 16V13C21.3516 12.421 20.8777 11.8639 20.3447 11.7305C20.3393 11.7291 20.3335 11.728 20.3281 11.7266C19.4408 11.4801 18.3258 11.2072 17.4277 10.9951C16.9798 10.8893 16.5876 10.7991 16.3076 10.7354C16.1677 10.7035 16.0553 10.6784 15.9785 10.6611C15.9403 10.6525 15.9105 10.646 15.8906 10.6416C15.8808 10.6394 15.8732 10.6369 15.8682 10.6357C15.8658 10.6352 15.8635 10.635 15.8623 10.6348H15.8613C15.7327 10.6062 15.6151 10.539 15.5254 10.4424L15.5244 10.4414C15.5239 10.4408 15.5235 10.4396 15.5225 10.4385C15.52 10.4359 15.5156 10.4319 15.5107 10.4268C15.5011 10.4164 15.4871 10.4006 15.4688 10.3809C15.4317 10.3411 15.3781 10.2831 15.3105 10.2109C15.1752 10.0663 14.9853 9.86398 14.7676 9.63379C14.342 9.18388 13.813 8.63162 13.376 8.19336C12.9522 7.85884 12.4985 7.65039 12.002 7.65039H5.00195Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>Экзамен на своём авто</h5>
                <p class="text-s colorGray">
                    Меньше стресса — выше уверенность.
                </p>
            </div>
        </div>
        <div class="reason-card flexAlignCenter borderRadius-12">
            <div class="icon-wrapper flexCenter borderRadius-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M14.8916 2.16211C15.0073 2.18515 15.1155 2.24151 15.2002 2.32617L19.8242 6.9502C19.937 7.06293 20 7.21655 20 7.37598V8.28125C20.0002 8.28775 20.002 8.29424 20.002 8.30078C20.002 8.307 20.0002 8.31316 20 8.31934V19.3984C20 20.0484 19.7418 20.6722 19.2822 21.1318C18.8226 21.5914 18.1988 21.8496 17.5488 21.8496H6.45117C5.80119 21.8496 5.17738 21.5914 4.71777 21.1318C4.25818 20.6722 4 20.0484 4 19.3984V4.60156C4 3.95158 4.25817 3.32777 4.71777 2.86816C5.17738 2.40856 5.80119 2.15039 6.45117 2.15039H14.7744L14.8916 2.16211ZM6.45117 3.35352C6.12005 3.35352 5.80152 3.48363 5.56738 3.71777C5.33324 3.95191 5.20312 4.27044 5.20312 4.60156V19.3984C5.20312 19.7296 5.33326 20.0481 5.56738 20.2822C5.80152 20.5164 6.12005 20.6465 6.45117 20.6465H17.5488C17.88 20.6465 18.1985 20.5164 18.4326 20.2822C18.6667 20.0481 18.7969 19.7296 18.7969 19.3984V8.90234H15.7012C15.0512 8.90234 14.4274 8.64415 13.9678 8.18457C13.5082 7.72497 13.25 7.10114 13.25 6.45117V3.35352H6.45117ZM14.3496 12.499C14.5844 12.2643 14.9664 12.2643 15.2012 12.499C15.4357 12.7336 15.4354 13.1148 15.2012 13.3496L11.501 17.0498C11.2662 17.2841 10.885 17.2843 10.6504 17.0498L8.80078 15.1992C8.56641 14.9644 8.56615 14.5833 8.80078 14.3486C9.03541 14.114 9.41658 14.1143 9.65137 14.3486L11.0762 15.7734L14.3496 12.499ZM14.4531 6.45117C14.4531 6.78207 14.5835 7.0999 14.8174 7.33398C15.0515 7.56812 15.37 7.69922 15.7012 7.69922H18.7969V7.625L14.5254 3.35352H14.4531V6.45117Z"
                          fill="#696969"/>
                </svg>
            </div>
            <div class="reason-card__content flexColumn">
                <h5>Качество под отчёт</h5>
                <p class="text-s colorGray">
                    Часы и программы — строго по нормам.
                </p>
            </div>
        </div>
    </div>
</div>