<footer class="page-section flexColumn customTopBorderLightGray2">
    <div class="footer-main width-container flexJustifyBetween">
        <div class="footer-logo__wrapper">
            <a href="" class="logo-wrapper flexCenter">
                <img src="/assets/images/logos/footer-logo.webp" alt="footer logo">
            </a>
        </div>

        <div class="footer-content">
            <nav class="footer-nav">
                <span class="h5 colorGray">Условия</span>
                <ul class="footer-nav__list flexColumn  resetListStyle">
                    <li>
                        <a href="" class="h5 colorDarkGray">Курсы</a>
                    </li>
                    <li>
                        <a href="" class="h5 colorDarkGray">Цены и акции</a>
                    </li>
                    <li>
                        <a href="" class="h5 colorDarkGray">Автодром и автопарк</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-nav">
                <span class="h5 colorGray">О школе</span>
                <ul class="footer-nav__list flexColumn  resetListStyle">
                    <li>
                        <a href="" class="h5 colorDarkGray">Филиалы</a>
                    </li>
                    <li>
                        <a href="" class="h5 colorDarkGray">Контакты</a>
                    </li>
                    <li>
                        <a href="" class="h5 colorDarkGray">Инструктора</a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-contacts flexColumn">
                <button class="footer-contacts-btn h5 colorGray">Связаться с нами</button>
                <a href="tel:+78001234567" class="footer-contacts-phone text-l flexAlignCenter">8 800 123-45-67</a>
                <div class="soc-wrapper flexBox">
                    <a href="https://t.me/+79094343333" class="soc-item flexCenter" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M21.1613 4.33581C21.1458 4.26415 21.1118 4.19792 21.0627 4.14382C21.0137 4.08972 20.9514 4.04967 20.8822 4.02773C20.6299 3.97723 20.3689 3.99594 20.1262 4.08191C20.1262 4.08191 3.30409 10.1941 2.34335 10.8709C2.13696 11.0165 2.06737 11.1014 2.03297 11.2008C1.86658 11.686 2.38415 11.8946 2.38415 11.8946L6.71987 13.3226C6.79318 13.3359 6.86856 13.3315 6.93986 13.3097C7.92539 12.6798 16.8592 6.97509 17.3784 6.78345C17.4584 6.75919 17.52 6.78345 17.504 6.84409C17.2976 7.57588 9.57729 14.508 9.53489 14.5501C9.51424 14.5672 9.49815 14.5892 9.48809 14.6142C9.47803 14.6392 9.47432 14.6664 9.47729 14.6932L9.07252 18.9723C9.07252 18.9723 8.90293 20.3041 10.2204 18.9723C11.1548 18.0271 12.0515 17.2443 12.4995 16.8635C13.9906 17.9042 15.5945 19.0548 16.2865 19.6572C16.4028 19.7711 16.5408 19.8601 16.692 19.9189C16.8431 19.9776 17.0045 20.005 17.1664 19.9993C17.3658 19.9747 17.553 19.8894 17.7032 19.7546C17.8534 19.6198 17.9594 19.442 18.0071 19.2448C18.0071 19.2448 21.071 6.77375 21.1733 5.10317C21.1837 4.94145 21.1973 4.83472 21.1989 4.72232C21.2039 4.59235 21.1913 4.46231 21.1613 4.33581Z"
                                  fill="#343434"/>
                        </svg>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=79094343333" class="soc-item flexCenter" target="_blank">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M12.0371 2.91602C14.4341 2.91716 16.6839 3.85437 18.376 5.55566C20.0679 7.25732 20.9998 9.52001 20.999 11.9258C20.9968 16.8893 16.976 20.9285 12.0371 20.9287H12.0332C10.5333 20.9281 9.05906 20.5503 7.75 19.833L3.83691 20.8643C3.46484 20.9623 3.12568 20.6202 3.22656 20.249L4.27051 16.4199C3.48635 15.0548 3.07376 13.5054 3.07422 11.9189C3.07629 6.9549 7.09689 2.91602 12.0371 2.91602ZM9.21289 7.96289C9.08167 7.96289 8.86873 8.01637 8.68848 8.23047C8.5079 8.44494 7.99902 8.96386 7.99902 10.0176C7.99931 11.0709 8.70391 12.0886 8.80273 12.2324C8.90206 12.3768 10.1654 14.6075 12.165 15.4658C13.8277 16.1794 14.1665 16.0377 14.5273 16.002C14.8884 15.966 15.6914 15.4834 15.8555 14.9834C16.019 14.4846 16.0195 14.0567 15.9707 13.9658C15.9215 13.8766 15.7895 13.8228 15.5928 13.7158C15.3957 13.6086 14.4286 13.0902 14.248 13.0186C14.0676 12.9472 13.936 12.9115 13.8047 13.126C13.6732 13.3404 13.2964 13.823 13.1816 13.9658C13.0671 14.1083 12.9521 14.1263 12.7559 14.0195C12.559 13.912 11.9248 13.6856 11.1729 12.9561C10.5879 12.3884 10.1922 11.6874 10.0771 11.4727C9.96252 11.2586 10.0654 11.1419 10.1641 11.0352C10.2524 10.9392 10.3606 10.7851 10.459 10.6602C10.5571 10.5351 10.5907 10.4455 10.6562 10.3027C10.7217 10.16 10.6887 10.0347 10.6396 9.92773C10.5902 9.82005 10.2082 8.76162 10.0332 8.33789C9.88574 7.98115 9.7301 7.97405 9.58984 7.96777C9.47512 7.96247 9.34393 7.96289 9.21289 7.96289Z"
                                  fill="#343434"/>
                        </svg>
                    </a>
                </div>
            </nav>
        </div>

    </div>

    <div class="footer-bottom-container customTopBorderLightGray2">
        <div class="footer-bottom width-container flexJustifyBetween flexAlignCenter">
            <span class="colorGray h5">© ДОСААФ, 2025 г.</span>

            <ul class="footer-bottom__list resetListStyle flexAlignCenter flexJustifyBetween">
                <li class="h5 colorGray">Лицензия № 00‑000000</li>
                <li>
                    <a href="" class="h5 colorGray">
                        Политика конфиденциальности
                    </a>
                </li>
                <li>
                    <a href="" class="h5 colorGray">Пользовательское соглашение</a>
                </li>
            </ul>

            <div class="flexColumn">
                <svg xmlns="http://www.w3.org/2000/svg" width="112" height="25" viewBox="0 0 112 25" fill="none">
                    <path d="M24.5822 3.87345V7.50362H28.7961V9.16964H24.5822V12.8224H22.7812V3.87345H24.5822ZM30.6146 3.87345V5.69731C30.6146 6.69692 29.7928 7.50362 28.7961 7.50362V3.87345H30.6146ZM30.6146 10.976V12.8224H28.7961V9.16964C29.7928 9.16964 30.6146 9.97635 30.6146 10.976Z"
                          fill="#343434"/>
                    <path d="M38.5416 5.53947H33.6458V11.239H31.8448V5.53947C31.8448 4.62754 32.5792 3.87345 33.5059 3.87345H36.8805C37.8072 3.87345 38.5416 4.62754 38.5416 5.53947ZM38.5416 11.239V5.53947H40.3426V11.239C40.3426 12.1509 39.6905 12.8224 38.7813 12.8224H35.2558C34.3466 12.8224 33.6458 12.1509 33.6458 11.239H38.5416Z"
                          fill="#343434"/>
                    <path d="M45.0364 3.87345H47.8864C48.7956 3.87345 49.53 4.62754 49.53 5.53947V12.8224H47.7291V5.53947H43.3928C43.3928 4.62754 44.1271 3.87345 45.0364 3.87345ZM43.3928 12.8224H41.5743V5.53947H43.3928V12.8224Z"
                          fill="#343434"/>
                    <path d="M59.0453 1.46484V2.20743C59.0453 3.25965 58.1886 3.86778 57.1394 3.86778V1.46484H59.0453ZM52.4915 3.86778H57.1394V5.60132H52.6633V11.239H57.1394V5.60132H59.0453V11.239C59.0453 12.1509 58.2668 12.8224 57.3575 12.8224H52.6118C51.5627 12.8224 50.7574 12.1159 50.7574 11.0636V5.60132C50.7574 4.63679 51.5298 3.86778 52.4915 3.86778Z"
                          fill="#343434"/>
                    <path d="M62.1183 3.87345V5.52193H66.3322V3.87345H62.1183ZM60.2649 12.8224V7.32825C60.2649 6.32864 61.0867 5.52193 62.0834 5.52193V12.8224H60.2649Z"
                          fill="#343434"/>
                    <path d="M67.2324 3.87345H73.0375C73.9467 3.87345 74.6811 4.61001 74.6811 5.52193V11.239H72.8801V9.20472H68.1417V11.239H72.8801V12.8224H67.9338C67.0071 12.8224 66.3232 12.1509 66.3232 11.239V9.20472C66.3232 8.29279 67.0576 7.55623 67.9843 7.55623H72.8801V5.52193H67.2324V3.87345Z"
                          fill="#343434"/>
                    <path d="M83.575 3.87345V5.52193H77.7V7.55623H75.899V5.52193C75.899 4.61001 76.6334 3.87345 77.5426 3.87345H83.575ZM77.7 7.55623H82.2461C83.1553 7.55623 83.8897 8.29279 83.8897 9.20472V11.239C83.8897 12.1509 83.2159 12.8224 82.3067 12.8224H76.1963V11.239H82.0888V9.20472H77.7V7.55623Z"
                          fill="#343434"/>
                    <path d="M85.1163 2.47049V1.46484H86.9347V3.86778C85.9381 3.86778 85.1163 3.4701 85.1163 2.47049ZM86.9347 3.86778H91.2559C92.2176 3.86778 93.0895 4.52327 93.0895 5.48781V12.8224H91.271V5.48781L86.9347 5.49588V3.86778ZM86.9347 12.8224H85.1163V5.49588H86.9347V12.8224Z"
                          fill="#343434"/>
                    <path d="M101.013 5.53947H96.1174V11.239H94.3164V5.53947C94.3164 4.62754 95.0508 3.87345 95.9775 3.87345H99.3521C100.279 3.87345 101.013 4.62754 101.013 5.53947ZM101.013 11.239V5.53947H102.814V11.239C102.814 12.1509 102.063 12.8224 101.154 12.8224H97.7643C96.8551 12.8224 96.1174 12.1509 96.1174 11.239H101.013Z"
                          fill="#343434"/>
                    <path d="M104.046 3.87345H105.847V11.239C104.85 11.239 104.046 10.4148 104.046 9.41516V3.87345ZM110.201 3.87345H112.002V9.41516C112.002 10.4148 111.197 11.239 110.201 11.239V3.87345ZM110.183 12.8224H105.847V11.239H110.183V12.8224Z"
                          fill="#343434"/>
                    <path d="M29.478 16.8711H24.5822V22.5707H22.7812V16.8711C22.7812 15.9592 23.4817 15.2645 24.4084 15.2645H27.7982C28.7249 15.2645 29.478 15.9592 29.478 16.8711ZM29.478 22.5707V16.8711H31.279V22.5707C31.279 23.4826 30.5446 24.2191 29.6354 24.2191H26.2258C25.3166 24.2191 24.5822 23.4826 24.5822 22.5707H29.478Z"
                          fill="#343434"/>
                    <path d="M35.9338 15.2645H38.7813C39.6905 15.2645 40.4665 15.9592 40.4665 16.8711V24.2191H38.6655V16.8711H34.3292C34.3292 15.9592 35.0246 15.2645 35.9338 15.2645ZM34.3292 24.2191H32.5107V16.8711H34.3292V24.2191Z"
                          fill="#343434"/>
                    <path d="M43.4948 24.2191H41.6938V15.251H43.4948V24.2191Z" fill="#343434"/>
                    <path d="M44.7127 16.6188V15.251H46.5137V18.4252C45.5171 18.4252 44.7127 17.6185 44.7127 16.6188ZM46.5137 24.2191H44.7127V18.8461H46.5137V24.2191Z"
                          fill="#343434"/>
                    <path d="M51.2558 15.2645H54.1033C55.0125 15.2645 55.6874 15.9592 55.6874 16.8711V24.2191H53.8864V16.8711H49.5501C49.5501 15.9592 50.3466 15.2645 51.2558 15.2645ZM49.5501 24.2191H47.7317V16.8711H49.5501V24.2191Z"
                          fill="#343434"/>
                    <path d="M58.5779 15.2645H63.4592C64.3685 15.2645 65.0803 15.9416 65.0803 16.8711V19.0983H65.0628C64.9929 19.9401 64.2934 20.589 63.4367 20.589H58.7332V18.9229H63.2793V16.8711H58.7332V18.9229C57.7365 18.9229 56.9147 18.1162 56.9147 17.1166V16.8711H56.9322C56.9322 15.9416 57.6687 15.2645 58.5779 15.2645ZM56.9147 22.4128V22.3953C56.9147 21.3957 57.7365 20.589 58.7332 20.589V22.5707H64.7481V24.2191H58.7332C57.4743 24.2191 56.9147 23.4124 56.9147 22.4128Z"
                          fill="#343434"/>
                    <path d="M5.4017 3.86719H0.14644C0.0655633 3.86719 0 3.93275 0 4.01363V18.5651C0 18.6459 0.0655632 18.7115 0.14644 18.7115H5.4017C5.48257 18.7115 5.54814 18.6459 5.54814 18.5651V4.01363C5.54814 3.93275 5.48257 3.86719 5.4017 3.86719Z"
                          fill="#343434"/>
                    <path d="M20.3349 18.7148H5.54297V24.2189H20.3349V18.7148Z" fill="#343434"/>
                </svg>
                <span class="text-s colorDarkGray">Построили сайт</span>
            </div>
        </div>
    </div>
</footer>

