<header class="customBoxShadow positionRelative">
    <div class="width-container">
        <div class="header-container flexCenter">
            <div class="header__main flexAlignCenter">
                <a href="" class="logo-wrapper flexCenter">
                    <img src="/assets/images/logos/header-logo.webp" alt="logo">
                </a>
            </div>

            <div id="header_menu" class="header__menu flexBox" data-popup>

                <div class="mobile-menu-header mb-show w_100">
                    <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню" data-close-popup>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                            <path d="M6.21967 0.21967C6.51256 -0.0732233 6.98732 -0.0732233 7.28022 0.21967C7.57311 0.512563 7.57311 0.987324 7.28022 1.28022L1.81049 6.74994L7.28022 12.2197C7.57311 12.5126 7.57311 12.9873 7.28022 13.2802C6.98732 13.5731 6.51256 13.5731 6.21967 13.2802L0.21967 7.28022C-0.0732233 6.98732 -0.0732233 6.51256 0.21967 6.21967L6.21967 0.21967Z"
                                  fill="black"/>
                        </svg>
                    </button>

                    <div>Меню</div>

                    <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню" data-close-popup>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M17.4697 5.46973C17.7626 5.17683 18.2374 5.17683 18.5303 5.46973C18.8231 5.76263 18.8231 6.23742 18.5303 6.53027L13.0605 12L18.5303 17.4697C18.8231 17.7626 18.8231 18.2374 18.5303 18.5303C18.2374 18.8231 17.7626 18.8231 17.4697 18.5303L12 13.0605L6.53027 18.5303C6.23742 18.8231 5.76263 18.8231 5.46973 18.5303C5.17683 18.2374 5.17683 17.7626 5.46973 17.4697L10.9395 12L5.46973 6.53027C5.17683 6.23738 5.17683 5.76262 5.46973 5.46973C5.76262 5.17683 6.23738 5.17683 6.53027 5.46973L12 10.9395L17.4697 5.46973Z"
                                  fill="#343434"/>
                        </svg>
                    </button>
                </div>

                <div class="header-city positionRelative  cursorPointer" data-mobile-inner-menu-item>
                    <button class="header-city__btn flexAlignCenter h5 borderRadius-8" data-mobile-inner-menu-btn>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M8.00293 0.734375C9.57649 0.734375 11.0865 1.35904 12.1992 2.47168C13.3117 3.58425 13.9364 5.09366 13.9365 6.66699C13.9365 8.53357 12.9123 10.3655 11.8125 11.8105C10.6988 13.2738 9.43103 14.4389 8.7959 14.9873C8.78577 14.996 8.77534 15.0046 8.76465 15.0127C8.54517 15.1777 8.27754 15.2676 8.00293 15.2676C7.72845 15.2675 7.46158 15.1777 7.24219 15.0127C7.23151 15.0047 7.22106 14.996 7.21094 14.9873C6.57579 14.4389 5.30707 13.2738 4.19336 11.8105C3.09357 10.3655 2.07031 8.5335 2.07031 6.66699C2.07046 5.09358 2.69504 3.58426 3.80762 2.47168C4.92024 1.35912 6.42949 0.734461 8.00293 0.734375ZM8.00293 1.93359C6.74775 1.93368 5.54383 2.43279 4.65625 3.32031C3.76871 4.20785 3.26968 5.41184 3.26953 6.66699C3.26953 8.12896 4.09204 9.69597 5.14844 11.084C6.1759 12.4339 7.35585 13.5244 7.96875 14.0557C7.97922 14.0622 7.9905 14.0673 8.00293 14.0674C8.01574 14.0674 8.02736 14.0616 8.03809 14.0547C8.65113 13.5233 9.83039 12.4333 10.8574 11.084C11.9138 9.69597 12.7363 8.12896 12.7363 6.66699C12.7362 5.41192 12.238 4.20783 11.3506 3.32031C10.4629 2.43272 9.25823 1.93359 8.00293 1.93359ZM7.99805 4.06836C9.43399 4.06836 10.5977 5.23203 10.5977 6.66797C10.5975 8.10374 9.43387 9.26758 7.99805 9.26758C6.56223 9.26758 5.39864 8.10374 5.39844 6.66797C5.39844 5.23203 6.56211 4.06836 7.99805 4.06836ZM7.99805 5.26758C7.22485 5.26758 6.59766 5.89477 6.59766 6.66797C6.59785 7.441 7.22497 8.06836 7.99805 8.06836C8.77112 8.06836 9.39824 7.441 9.39844 6.66797C9.39844 5.89477 8.77125 5.26758 7.99805 5.26758Z"
                                  fill="#343434"/>
                        </svg>
                        <span class="header-city__name">Екатеринбург</span>
                        <svg class="animate-icon mb-hide" xmlns="http://www.w3.org/2000/svg" width="7" height="4"
                             viewBox="0 0 7 4" fill="none">
                            <path d="M6.14645 0.146447C6.34171 -0.0488155 6.65822 -0.0488155 6.85348 0.146447C7.04874 0.341709 7.04874 0.658216 6.85348 0.853478L3.85348 3.85348C3.65822 4.04874 3.34171 4.04874 3.14645 3.85348L0.146447 0.853478C-0.0488155 0.658216 -0.0488155 0.341709 0.146447 0.146447C0.341709 -0.0488155 0.658216 -0.0488155 0.853478 0.146447L3.49996 2.79293L6.14645 0.146447Z"
                                  fill="#343434"/>
                        </svg>
                        <span class="header-city-mobile-text mb-show colorGray">Изменить</span>
                    </button>

                    <div class="city-list__wrapper mb-hide" data-mobile-inner-menu-list data-popup>
                        <div class="mobile-menu-header mb-show w_100">
                            <span class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню" data-close-current-menu>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                                    <path d="M6.21967 0.21967C6.51256 -0.0732233 6.98732 -0.0732233 7.28022 0.21967C7.57311 0.512563 7.57311 0.987324 7.28022 1.28022L1.81049 6.74994L7.28022 12.2197C7.57311 12.5126 7.57311 12.9873 7.28022 13.2802C6.98732 13.5731 6.51256 13.5731 6.21967 13.2802L0.21967 7.28022C-0.0732233 6.98732 -0.0732233 6.51256 0.21967 6.21967L6.21967 0.21967Z" fill="black"/>
                                </svg>
                            </span>

                            <div>Назад</div>

                            <span class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню" data-close-popup>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M17.4697 5.46973C17.7626 5.17683 18.2374 5.17683 18.5303 5.46973C18.8231 5.76263 18.8231 6.23742 18.5303 6.53027L13.0605 12L18.5303 17.4697C18.8231 17.7626 18.8231 18.2374 18.5303 18.5303C18.2374 18.8231 17.7626 18.8231 17.4697 18.5303L12 13.0605L6.53027 18.5303C6.23742 18.8231 5.76263 18.8231 5.46973 18.5303C5.17683 18.2374 5.17683 17.7626 5.46973 17.4697L10.9395 12L5.46973 6.53027C5.17683 6.23738 5.17683 5.76262 5.46973 5.46973C5.76262 5.17683 6.23738 5.17683 6.53027 5.46973L12 10.9395L17.4697 5.46973Z" fill="#343434"/>
                                </svg>
                            </span>
                        </div>
                        <ul class="city-list resetListStyle text-s flexColumn bg__white customScrollbar" >
                            <li>
                                <a href="" class="active">Екатеринбург</a>
                            </li>
                            <li>
                                <a href="">Москва</a>
                            </li>
                            <li>
                                <a href="">Тюмень</a>
                            </li>
                            <li>
                                <a href="">Нижний Тагил</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <nav class="header-nav">
                    <ul class="header-nav-list resetListStyle flexBox" data-header-nav-list>
                        <li>
                            <button class="header-nav__btn flexCenter borderRadius-8" data-catalog-btn>
                                <span class="courses-icon flexAlignCenter gap__4">Курсы</span>
                            </button>
                        </li>

                        <li class="header-nav-list__item header-dropdown__wrapper positionRelative flexBox" data-mobile-inner-menu-item>
                            <button class="header-nav__btn flexCenter borderRadius-8" data-mobile-inner-menu-btn>
                                Курсантам
                            </button>

                            <div class="header-nav-list__dropdown header-dropdown__list" data-mobile-inner-menu-list
                                 data-popup>
                                <div class="mobile-menu-header mb-show w_100">
                                    <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню"
                                            data-close-current-menu>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14"
                                             fill="none">
                                            <path d="M6.21967 0.21967C6.51256 -0.0732233 6.98732 -0.0732233 7.28022 0.21967C7.57311 0.512563 7.57311 0.987324 7.28022 1.28022L1.81049 6.74994L7.28022 12.2197C7.57311 12.5126 7.57311 12.9873 7.28022 13.2802C6.98732 13.5731 6.51256 13.5731 6.21967 13.2802L0.21967 7.28022C-0.0732233 6.98732 -0.0732233 6.51256 0.21967 6.21967L6.21967 0.21967Z"
                                                  fill="black"/>
                                        </svg>
                                    </button>

                                    <div>Курсантам</div>

                                    <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню"
                                            data-close-popup>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none">
                                            <path d="M17.4697 5.46973C17.7626 5.17683 18.2374 5.17683 18.5303 5.46973C18.8231 5.76263 18.8231 6.23742 18.5303 6.53027L13.0605 12L18.5303 17.4697C18.8231 17.7626 18.8231 18.2374 18.5303 18.5303C18.2374 18.8231 17.7626 18.8231 17.4697 18.5303L12 13.0605L6.53027 18.5303C6.23742 18.8231 5.76263 18.8231 5.46973 18.5303C5.17683 18.2374 5.17683 17.7626 5.46973 17.4697L10.9395 12L5.46973 6.53027C5.17683 6.23738 5.17683 5.76262 5.46973 5.46973C5.76262 5.17683 6.23738 5.17683 6.53027 5.46973L12 10.9395L17.4697 5.46973Z"
                                                  fill="#343434"/>
                                        </svg>
                                    </button>
                                </div>
                                <ul class="header-dropdown resetListStyle bg__white text-s customScrollbar">
                                    <li>
                                        <a href="" class="header-nav__btn flexAlignCenter flexJustifyBetween">
                                            <div class="flexCenter gap__12">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                     viewBox="0 0 17 17" fill="none">
                                                    <g clip-path="url(#clip0_2327_17513)">
                                                        <path d="M7.33589 0.867049C7.61204 0.866003 7.83674 1.08901 7.83779 1.36515L7.83841 1.53117L8.00541 1.53053C8.49152 1.52878 8.95829 1.72029 9.30333 2.06273C9.64837 2.40516 9.84342 2.87047 9.84535 3.35658L9.85545 6.02356C9.85997 7.21702 9.38987 8.36306 8.54916 9.21017C7.83424 9.93053 6.90079 10.3819 5.90365 10.5044C6.00813 11.2602 6.35774 11.9659 6.90539 12.5094C7.56425 13.1633 8.45562 13.5289 9.38387 13.5254C10.3121 13.5219 11.2007 13.1495 11.8546 12.4906C12.5085 11.8318 12.8741 10.9404 12.8706 10.0122L12.8646 8.44186C12.0944 8.22707 11.5274 7.52325 11.524 6.68423C11.5203 5.67197 12.3378 4.8483 13.35 4.84429C14.3624 4.84046 15.1869 5.65797 15.1909 6.67034C15.1939 7.50873 14.6325 8.21591 13.8646 8.43709L13.8706 10.0084C13.8751 11.2018 13.405 12.3479 12.5643 13.195C11.7236 14.0421 10.5811 14.5209 9.38766 14.5254C8.19419 14.5299 7.04815 14.0598 6.20105 13.2191C5.46677 12.4904 5.00963 11.5349 4.89783 10.516C3.87854 10.4117 2.91994 9.96276 2.18592 9.23428C1.33881 8.39357 0.860037 7.25112 0.855515 6.05766L0.84541 3.39068C0.843654 2.90457 1.03517 2.4378 1.37761 2.09276C1.72004 1.74772 2.18535 1.55267 2.67146 1.55074L2.83845 1.55011L2.83782 1.3841C2.83678 1.10796 3.05978 0.883251 3.33592 0.882205C3.61206 0.881159 3.83677 1.10417 3.83781 1.38031L3.84286 2.71331C3.84365 2.98922 3.62074 3.21415 3.34476 3.2152C3.06879 3.21624 2.84418 2.99301 2.84287 2.71709L2.84224 2.5501L2.67525 2.55074C2.45435 2.55166 2.24292 2.64031 2.08731 2.79711C1.9317 2.9539 1.84465 3.166 1.8454 3.38689L1.85551 6.05387C1.85902 6.98212 2.23141 7.87069 2.89027 8.52457C3.54913 9.17846 4.44049 9.5441 5.36874 9.54058C6.297 9.53706 7.18556 9.16468 7.83945 8.50582C8.49334 7.84696 8.85897 6.9556 8.85546 6.02734L8.84535 3.36037C8.84443 3.13948 8.75578 2.92804 8.59898 2.77243C8.44219 2.61682 8.23009 2.52977 8.00919 2.53053L7.8422 2.53116L7.84284 2.69815C7.84362 2.97407 7.62071 3.19899 7.34473 3.20004C7.06876 3.20109 6.84415 2.97785 6.84284 2.70194L6.83779 1.36894C6.83675 1.0928 7.05975 0.868096 7.33589 0.867049ZM13.3538 5.84428C12.8938 5.8462 12.5224 6.22047 12.524 6.68044C12.526 7.13839 12.897 7.50871 13.3543 7.51031L13.367 7.51026C13.8239 7.50485 14.1924 7.13186 14.191 6.67413C14.189 6.21404 13.8139 5.84254 13.3538 5.84428Z"
                                                              fill="#696969"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_2327_17513">
                                                            <rect width="16" height="16" fill="white"
                                                                  transform="translate(0 0.0606225) rotate(-0.217089)"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                Медкомиссия
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="header-nav__btn flexAlignCenter flexJustifyBetween">
                                            <div class="flexCenter gap__12">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                     viewBox="0 0 17 17" fill="none">
                                                    <g clip-path="url(#clip0_2327_17533)">
                                                        <path d="M11.3388 1.51791C11.8249 1.51616 12.2917 1.70767 12.6367 2.05011C12.9818 2.39254 13.1768 2.85785 13.1787 3.34396L13.2071 10.8439L14.0421 10.8407C14.3512 10.8397 14.6481 10.9617 14.8676 11.1794C15.0872 11.3974 15.2114 11.6939 15.2125 12.0033L15.2151 12.6703C15.2168 13.1564 15.0253 13.6232 14.6829 13.9682C14.3404 14.3132 13.8752 14.5084 13.389 14.5102L5.38907 14.5405C4.90292 14.5424 4.43624 14.3508 4.09114 14.0084C3.7461 13.6659 3.55106 13.2006 3.54913 12.7145L3.52323 5.88056L2.02324 5.88625C1.71383 5.88742 1.41638 5.76554 1.19676 5.54758C0.97732 5.32971 0.853101 5.03388 0.851843 4.72466L0.846789 3.39069C0.845033 2.90458 1.03655 2.4378 1.37898 2.09276C1.72073 1.74842 2.18486 1.55346 2.66991 1.55076L11.3388 1.51791ZM4.30943 2.54455C4.44099 2.79973 4.5126 3.0844 4.51375 3.37679L4.54912 12.7107C4.55004 12.9316 4.6387 13.143 4.79549 13.2986C4.95235 13.4542 5.16434 13.5414 5.38528 13.5406C5.60621 13.5397 5.81754 13.451 5.97322 13.2942C6.12883 13.1374 6.21587 12.9253 6.21512 12.7044L6.2126 12.0374C6.21142 11.728 6.3333 11.4305 6.55126 11.2109C6.76923 10.9913 7.06574 10.8672 7.37516 10.866L12.2072 10.8477L12.1787 3.34775C12.1778 3.12686 12.0892 2.91542 11.9324 2.75981C11.7756 2.6042 11.5635 2.51715 11.3426 2.51791L4.30943 2.54455ZM7.37895 11.866C7.33474 11.8662 7.29211 11.8839 7.26097 11.9153C7.22983 11.9466 7.21242 11.9894 7.21259 12.0336L7.21512 12.7006C7.21617 12.9931 7.14672 13.2782 7.0171 13.5344L13.3852 13.5102C13.6062 13.5094 13.8175 13.4206 13.9732 13.2639C14.1288 13.1071 14.2158 12.895 14.2151 12.6741L14.2125 12.0071C14.2124 11.9629 14.1946 11.9203 14.1633 11.8891C14.132 11.8583 14.0898 11.8407 14.0459 11.8407L7.37895 11.866ZM10.0276 7.52292C10.3037 7.52188 10.5284 7.74489 10.5294 8.02103C10.5305 8.29717 10.3075 8.52187 10.0313 8.52292L6.69836 8.53555C6.42222 8.53659 6.19751 8.31358 6.19646 8.03744C6.19542 7.7613 6.41843 7.5366 6.69457 7.53555L10.0276 7.52292ZM10.0174 4.85693C10.2936 4.85588 10.5183 5.07889 10.5193 5.35503C10.5201 5.63095 10.2972 5.85588 10.0212 5.85692L6.68825 5.86955C6.41228 5.87059 6.18767 5.64736 6.18636 5.37145C6.18532 5.09531 6.40832 4.8706 6.68447 4.86956L10.0174 4.85693ZM2.67663 2.55074C2.45573 2.55166 2.2443 2.64032 2.08869 2.79711C1.93308 2.9539 1.84603 3.166 1.84678 3.3869L1.85184 4.72087C1.85209 4.76488 1.86991 4.80683 1.90111 4.83788C1.93248 4.86901 1.97525 4.88642 2.01946 4.88626L3.51945 4.88057L3.51376 3.38058C3.51284 3.15976 3.42408 2.94824 3.26739 2.79264C3.11052 2.63696 2.89764 2.5499 2.67663 2.55074Z"
                                                              fill="#696969"/>
                                                    </g>
                                                    <defs>
                                                        <clipPath id="clip0_2327_17533">
                                                            <rect width="16" height="16" fill="white"
                                                                  transform="translate(0 0.0606225) rotate(-0.217089)"/>
                                                        </clipPath>
                                                    </defs>
                                                </svg>
                                                Документы для зачисления
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="header-nav-list__item header-dropdown__wrapper positionRelative flexBox" data-mobile-inner-menu-item>
                            <button class="header-nav__btn flexCenter borderRadius-8" data-mobile-inner-menu-btn>
                                Господдержка
                            </button>

                            <div class="header-nav-list__dropdown header-dropdown__list" data-mobile-inner-menu-list data-popup>
                                <div class="mobile-menu-header mb-show w_100">
                                    <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню"
                                            data-close-current-menu>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14"
                                             fill="none">
                                            <path d="M6.21967 0.21967C6.51256 -0.0732233 6.98732 -0.0732233 7.28022 0.21967C7.57311 0.512563 7.57311 0.987324 7.28022 1.28022L1.81049 6.74994L7.28022 12.2197C7.57311 12.5126 7.57311 12.9873 7.28022 13.2802C6.98732 13.5731 6.51256 13.5731 6.21967 13.2802L0.21967 7.28022C-0.0732233 6.98732 -0.0732233 6.51256 0.21967 6.21967L6.21967 0.21967Z"
                                                  fill="black"/>
                                        </svg>
                                    </button>

                                    <div>Господдержка</div>

                                    <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню"
                                            data-close-popup>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none">
                                            <path d="M17.4697 5.46973C17.7626 5.17683 18.2374 5.17683 18.5303 5.46973C18.8231 5.76263 18.8231 6.23742 18.5303 6.53027L13.0605 12L18.5303 17.4697C18.8231 17.7626 18.8231 18.2374 18.5303 18.5303C18.2374 18.8231 17.7626 18.8231 17.4697 18.5303L12 13.0605L6.53027 18.5303C6.23742 18.8231 5.76263 18.8231 5.46973 18.5303C5.17683 18.2374 5.17683 17.7626 5.46973 17.4697L10.9395 12L5.46973 6.53027C5.17683 6.23738 5.17683 5.76262 5.46973 5.46973C5.76262 5.17683 6.23738 5.17683 6.53027 5.46973L12 10.9395L17.4697 5.46973Z"
                                                  fill="#343434"/>
                                        </svg>
                                    </button>
                                </div>
                                <ul class="header-dropdown resetListStyle bg__white text-s customScrollbar">
                                    <li>
                                        <a href="" class="header-nav__btn flexAlignCenter flexJustifyBetween">
                                            <div class="flexCenter gap__12">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17"
                                                     viewBox="0 0 17 17" fill="none">
                                                    <path d="M8.42477 1.02885C10.549 1.02087 12.3302 2.63705 12.5874 4.77287L12.7488 6.117L13.2974 7.86005C13.3356 7.98231 13.3185 8.11519 13.2499 8.22351C13.1812 8.33189 13.0682 8.40438 12.9411 8.42195L11.0436 8.68402C11.0244 8.68672 11.0045 8.68808 10.9851 8.68815L9.56124 8.69355C9.32063 8.69432 9.12514 8.50025 9.12404 8.25965L9.12075 7.38954C9.12029 7.23574 9.20027 7.09274 9.33221 7.01374C9.86313 6.69689 10.2233 6.10386 10.2207 5.42247C10.2207 5.41497 10.2188 5.4075 10.2187 5.40002C9.48988 5.35434 8.85163 4.98234 8.43765 4.42922C8.02777 4.98572 7.39181 5.3625 6.66305 5.41349C6.66298 5.42097 6.66215 5.42845 6.66215 5.43595C6.66474 6.11725 7.02857 6.7076 7.56172 7.02045C7.69453 7.0984 7.77629 7.24071 7.77701 7.39463L7.78293 8.95712C7.78357 9.15978 7.64482 9.33647 7.44762 9.3832C5.5627 9.82815 4.11947 11.4785 3.94369 13.5069L8.47198 13.4897C8.71283 13.4889 8.90924 13.6838 8.91015 13.9246C8.91085 14.1652 8.71601 14.3608 8.47528 14.3618L3.49094 14.3807C3.2502 14.3816 3.0539 14.1874 3.05277 13.9468C3.04362 11.5319 4.55327 9.46568 6.67454 8.70448L5.92161 8.70734C5.90241 8.70739 5.88306 8.70616 5.86398 8.70365L3.96459 8.45596C3.83734 8.43936 3.72377 8.36767 3.65428 8.25987C3.5849 8.15207 3.56668 8.01936 3.60407 7.89678L4.13847 6.14962L4.28963 4.80431C4.53055 2.66651 6.30045 1.0369 8.42477 1.02885ZM12.0581 9.40187C12.3262 9.40087 12.5695 9.42742 12.7879 9.48113C13.0063 9.53033 13.1957 9.61562 13.3553 9.73777C13.5193 9.8599 13.645 10.0188 13.7321 10.2139C13.8237 10.409 13.8704 10.6497 13.8715 10.936C13.8729 11.3043 13.7939 11.6048 13.6357 11.8373C13.4775 12.0652 13.2646 12.2322 12.9969 12.3378C12.7292 12.4433 12.4289 12.4971 12.0972 12.4984L11.2173 12.5018L11.219 12.9588L12.4124 12.9543C12.6044 12.9536 12.7606 13.1085 12.7613 13.3006C12.762 13.4926 12.607 13.6488 12.415 13.6496L11.2216 13.6541L11.2222 13.8006C11.2231 14.036 11.0325 14.2281 10.7971 14.2289C10.5617 14.2298 10.3706 14.0392 10.3697 13.8038L10.3691 13.6573L10.1025 13.6583C9.91056 13.6589 9.75438 13.5039 9.75354 13.312C9.75281 13.1199 9.90786 12.9639 10.0999 12.963L10.3665 12.962L10.3647 12.505L10.1089 12.506C9.91114 12.5067 9.7499 12.3467 9.74913 12.1489C9.74839 11.9512 9.90841 11.7899 10.1062 11.7892L10.362 11.7882L10.3555 10.0743C10.3544 9.70642 10.6511 9.40733 11.019 9.4058L12.0581 9.40187ZM11.2146 11.785L12.0329 11.7819C12.2193 11.7811 12.3877 11.753 12.5375 11.6979C12.6871 11.6428 12.8051 11.5562 12.891 11.4378C12.9769 11.3147 13.0188 11.1529 13.0181 10.9529C13.017 10.6712 12.937 10.4718 12.7775 10.3542C12.618 10.2366 12.3792 10.178 12.061 10.1792L11.2085 10.1824L11.2146 11.785ZM7.64074 9.06118C7.62929 9.09392 7.61249 9.12429 7.59128 9.15121C7.6019 9.13771 7.61214 9.12324 7.62041 9.10813C7.62862 9.0932 7.63513 9.07742 7.64074 9.06118ZM8.42807 1.90092C6.76158 1.90723 5.35011 3.18915 5.15719 4.90259L5.00033 6.28698C4.99731 6.31343 4.99279 6.33971 4.985 6.36517L4.58755 7.6577L5.94663 7.83517L6.90658 7.83153L6.90582 7.63036C6.23256 7.14177 5.79351 6.34197 5.79009 5.43926C5.78942 5.25008 5.80771 5.06443 5.84366 4.88534C5.88843 4.66351 6.09596 4.51326 6.32086 4.5388C6.37932 4.54543 6.43907 4.54812 6.49961 4.54789C7.22614 4.54508 7.84432 4.02754 8.00863 3.31853C8.0543 3.12146 8.22997 2.98175 8.43216 2.98099C8.6344 2.98028 8.81103 3.11868 8.85824 3.31531C9.02787 4.02309 9.65 4.53595 10.3765 4.5332C10.4371 4.53296 10.4968 4.52984 10.5552 4.52276L10.6382 4.52049C10.8292 4.53389 10.9944 4.67191 11.035 4.86567C11.0723 5.0445 11.092 5.23 11.0928 5.41917C11.0962 6.32181 10.6631 7.12498 9.99369 7.61866L9.99445 7.81983L10.9544 7.81619L12.3111 7.62843L11.9049 6.33895C11.8969 6.31355 11.8912 6.28734 11.888 6.26089L11.7216 4.87772C11.5157 3.16584 10.0946 1.89467 8.42807 1.90092ZM9.44134 4.37073C9.44679 4.37444 9.45249 4.37777 9.45798 4.38141C9.44717 4.37426 9.43631 4.36647 9.42567 4.35907L9.44134 4.37073ZM11.5545 3.81682C11.527 3.75566 11.4974 3.69569 11.4669 3.63649C11.4977 3.69558 11.5269 3.75571 11.5545 3.81682ZM11.4669 3.63649C11.4661 3.63494 11.4657 3.63315 11.4649 3.63161C11.4406 3.58508 11.4155 3.5394 11.3892 3.4942C11.4163 3.54083 11.4421 3.58834 11.4669 3.63649Z"
                                                          fill="#696969"/>
                                                </svg>
                                                Оплата материнским капиталом
                                            </div>

                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="header__contacts flexCenter">
                    <div class="flexColumn flexAlignCenter">
                        <a href="tel:+78001234567" class="header__contacts-number text-l textNoWrap">8 800 123-45-67</a>
                        <button class="text-s colorGray">перезвоните мне</button>
                    </div>
                    <button class="header__contacts-btn btn-custom borderRadius-12 redBtn h5"
                            data-open-popup="request-popup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M4.66699 0.734375C5.17953 0.734375 5.67165 0.937514 6.03418 1.2998C6.39662 1.66224 6.60044 2.15445 6.60059 2.66699V4.66699C6.60059 4.96706 6.53065 5.26382 6.39648 5.53223C6.26228 5.80053 6.06713 6.03385 5.82715 6.21387L5.51855 6.44434C5.50656 6.4536 5.49867 6.46768 5.49512 6.48242C5.49173 6.49671 5.49303 6.51203 5.49902 6.52539L5.66504 6.8457C6.52549 8.42507 7.85442 9.70327 9.47266 10.501L9.49414 10.5068C9.50153 10.5075 9.5093 10.5067 9.5166 10.5049C9.53119 10.5012 9.54459 10.4925 9.55371 10.4805V10.4795L9.79004 10.1699C9.96971 9.93167 10.2028 9.73796 10.4697 9.60449C10.7381 9.47042 11.034 9.40039 11.334 9.40039H13.334C13.8467 9.40039 14.3386 9.6043 14.7012 9.9668C15.0637 10.3293 15.2675 10.8213 15.2676 11.334V13.334C15.2676 13.8467 15.0637 14.3386 14.7012 14.7012C14.3386 15.0637 13.8467 15.2676 13.334 15.2676C9.99241 15.2676 6.78773 13.9399 4.4248 11.5771C2.06192 9.2142 0.734375 6.00866 0.734375 2.66699C0.734526 2.15445 0.937369 1.66224 1.2998 1.2998C1.66229 0.937388 2.15442 0.734461 2.66699 0.734375H4.66699ZM2.66699 1.93359C2.47267 1.93368 2.28588 2.01106 2.14844 2.14844C2.01105 2.28583 1.93374 2.47271 1.93359 2.66699C1.93359 5.6904 3.1356 8.59061 5.27344 10.7285C7.41132 12.8662 10.3107 14.0674 13.334 14.0674C13.5285 14.0674 13.715 13.9901 13.8525 13.8525C13.99 13.715 14.0674 13.5284 14.0674 13.334V11.334C14.0673 11.1396 13.99 10.9529 13.8525 10.8154C13.715 10.678 13.5284 10.6006 13.334 10.6006H11.334C11.2202 10.6006 11.1077 10.6269 11.0059 10.6777C10.9041 10.7286 10.8153 10.8026 10.7471 10.8936L10.7441 10.8984L10.5078 11.208L10.5068 11.207C10.3326 11.4358 10.0866 11.5991 9.80762 11.6689C9.52833 11.7387 9.23328 11.711 8.97168 11.5908C8.9672 11.5888 8.96243 11.5871 8.95801 11.585C6.9873 10.6177 5.39155 9.0242 4.42188 7.05469L4.4209 7.05273C4.29291 6.78991 4.25981 6.49053 4.32715 6.20605C4.39459 5.92151 4.55862 5.66871 4.79102 5.49121L5.10742 5.25391C5.1984 5.18562 5.27237 5.09686 5.32324 4.99512C5.37405 4.89338 5.40039 4.78072 5.40039 4.66699V2.66699C5.40024 2.47271 5.32294 2.28583 5.18555 2.14844C5.04806 2.01119 4.86127 1.93359 4.66699 1.93359H2.66699ZM14.2461 0.910156C14.4804 0.675989 14.8595 0.675959 15.0938 0.910156C15.328 1.14443 15.3279 1.52349 15.0938 1.75781L12.1172 4.73438H14.6699C15.0012 4.73438 15.2694 5.00273 15.2695 5.33398C15.2695 5.66536 15.0013 5.93359 14.6699 5.93359H10.6699C10.631 5.9336 10.5921 5.92944 10.5537 5.92188C10.527 5.91663 10.5019 5.9071 10.4766 5.89844C10.465 5.89447 10.4528 5.89239 10.4414 5.8877C10.423 5.88008 10.4061 5.86969 10.3887 5.86035C10.3726 5.85173 10.3553 5.84516 10.3398 5.83496L10.2461 5.75781C10.2181 5.7298 10.1929 5.69911 10.1709 5.66602C10.1624 5.65333 10.1568 5.63913 10.1494 5.62598C10.1008 5.5393 10.0703 5.44054 10.0703 5.33398V1.33398C10.0704 1.00273 10.3386 0.734375 10.6699 0.734375C11.0012 0.734375 11.2694 1.00273 11.2695 1.33398V3.88672L14.2461 0.910156Z"
                                  fill="#CF2906"/>
                        </svg>
                        Перезвоните мне
                    </button>
                </div>
            </div>

            <button class="mobile-menu-btn mb-show" data-mobile-menu-btn>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20 18.25C20.4142 18.25 20.75 18.5858 20.75 19C20.75 19.4142 20.4142 19.75 20 19.75H4C3.58579 19.75 3.25 19.4142 3.25 19C3.25 18.5858 3.58579 18.25 4 18.25H20ZM20 11.25C20.4142 11.25 20.75 11.5858 20.75 12C20.75 12.4142 20.4142 12.75 20 12.75H4C3.58579 12.75 3.25 12.4142 3.25 12C3.25 11.5858 3.58579 11.25 4 11.25H20ZM20 4.25C20.4142 4.25 20.75 4.58579 20.75 5C20.75 5.41421 20.4142 5.75 20 5.75H4C3.58579 5.75 3.25 5.41421 3.25 5C3.25 4.58579 3.58579 4.25 4 4.25H20Z"
                          fill="black"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="header-dropdown-catalog positionAbsolute bg__white" data-catalog data-popup data-mobile-inner-menu-list>
        <div class="mobile-menu-header mb-show w_100">
            <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню" data-close-current-menu>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                    <path d="M6.21967 0.21967C6.51256 -0.0732233 6.98732 -0.0732233 7.28022 0.21967C7.57311 0.512563 7.57311 0.987324 7.28022 1.28022L1.81049 6.74994L7.28022 12.2197C7.57311 12.5126 7.57311 12.9873 7.28022 13.2802C6.98732 13.5731 6.51256 13.5731 6.21967 13.2802L0.21967 7.28022C-0.0732233 6.98732 -0.0732233 6.51256 0.21967 6.21967L6.21967 0.21967Z" fill="black"/>
                </svg>
            </button>

            <div>Курсы</div>

            <button class="mobile-menu-header__btn flexCenter" aria-label="Закрыть меню" data-close-popup>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M17.4697 5.46973C17.7626 5.17683 18.2374 5.17683 18.5303 5.46973C18.8231 5.76263 18.8231 6.23742 18.5303 6.53027L13.0605 12L18.5303 17.4697C18.8231 17.7626 18.8231 18.2374 18.5303 18.5303C18.2374 18.8231 17.7626 18.8231 17.4697 18.5303L12 13.0605L6.53027 18.5303C6.23742 18.8231 5.76263 18.8231 5.46973 18.5303C5.17683 18.2374 5.17683 17.7626 5.46973 17.4697L10.9395 12L5.46973 6.53027C5.17683 6.23738 5.17683 5.76262 5.46973 5.46973C5.76262 5.17683 6.23738 5.17683 6.53027 5.46973L12 10.9395L17.4697 5.46973Z" fill="#343434"/>
                </svg>
            </button>
        </div>
        <div class="header-dropdown-catalog__wrapper customScrollbar">
            <div class="header-dropdown-catalog__content width-container">
                <div class="header-dropdown-catalog__item flexColumn">
                    <div class="text-s colorGray">Категории</div>
                    <ul class="header-dropdown-catalog__list resetListStyle flexColumn gap__4">
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                     fill="none">
                                    <path d="M7.66113 4C7.86553 4 8.04688 4.05884 8.2041 4.17676C8.36906 4.29465 8.48304 4.44814 8.5459 4.63672L11.0693 11.9717C11.1242 12.1287 11.1001 12.2737 10.998 12.4072C10.9037 12.5408 10.7744 12.6084 10.6094 12.6084H10.5625C10.366 12.6084 10.1846 12.5495 10.0195 12.4316C9.86239 12.3138 9.75236 12.1602 9.68945 11.9717L9.21777 10.415C9.20991 10.3521 9.1665 10.3203 9.08789 10.3203H6.11621C6.04562 10.3204 6.00203 10.3522 5.98633 10.415L5.51465 11.9717C5.45958 12.1601 5.34953 12.3138 5.18457 12.4316C5.02747 12.5493 4.84675 12.6084 4.64258 12.6084C4.47749 12.6084 4.34341 12.5409 4.24121 12.4072C4.1472 12.2738 4.12778 12.1286 4.18262 11.9717L6.70605 4.63672C6.76894 4.44809 6.88281 4.29466 7.04785 4.17676C7.21294 4.05884 7.39429 4 7.59082 4H7.66113ZM7.60254 5.17871C7.59468 5.17871 7.59082 5.18354 7.59082 5.19141L6.35254 9.21191C6.34468 9.2355 6.34854 9.25962 6.36426 9.2832C6.37988 9.29869 6.39951 9.30659 6.42285 9.30664H8.78125C8.80483 9.30664 8.8251 9.29892 8.84082 9.2832C8.85654 9.25962 8.8604 9.2355 8.85254 9.21191L7.61426 5.19141C7.61426 5.18363 7.61022 5.1788 7.60254 5.17871Z"
                                          fill="#696969"/>
                                </svg>
                            </span>
                                <span>Права категории А</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9"
                                         fill="none">
  <path d="M2.22949 0C4.34143 2.9758e-05 5.39746 0.704319 5.39746 2.1123C5.3974 2.58152 5.23666 2.99572 4.91602 3.35547C4.59537 3.7074 4.17336 3.93441 3.64941 4.03613C3.64166 4.03613 3.63776 4.04016 3.6377 4.04785C3.6377 4.05567 3.64159 4.05957 3.64941 4.05957C4.30636 4.16128 4.81892 4.40387 5.18652 4.78711C5.56193 5.17039 5.74902 5.64777 5.74902 6.21875C5.74902 7.93965 4.61514 8.7998 2.34668 8.7998C1.72877 8.7998 1.16954 8.77252 0.668945 8.71777C0.473388 8.69431 0.312657 8.61248 0.1875 8.47168C0.0623692 8.32307 0 8.15062 0 7.95508V0.844727C1.7582e-05 0.649204 0.0623606 0.480626 0.1875 0.339844C0.312641 0.191302 0.473446 0.105491 0.668945 0.0820312C1.13825 0.0272868 1.65852 0 2.22949 0ZM1.39648 4.62305C1.32611 4.62305 1.29104 4.65816 1.29102 4.72852V7.58008C1.2911 7.6425 1.32227 7.68164 1.38477 7.69727C1.68976 7.74418 2.01041 7.76758 2.34668 7.76758C3.08198 7.76758 3.62164 7.63023 3.96582 7.35645C4.30986 7.08269 4.48239 6.6646 4.48242 6.10156C4.48242 5.59311 4.27493 5.221 3.86035 4.98633C3.44575 4.74389 2.74527 4.62305 1.75977 4.62305H1.39648ZM2.22949 1.03223C1.93235 1.03223 1.65064 1.05564 1.38477 1.10254C1.32219 1.11818 1.29102 1.15812 1.29102 1.2207V3.50879C1.29118 3.57887 1.32625 3.61426 1.39648 3.61426H1.75977C2.62022 3.61426 3.23879 3.50418 3.61426 3.28516C3.9973 3.06614 4.18846 2.73379 4.18848 2.28809C4.18848 1.85799 4.03634 1.54128 3.73145 1.33789C3.42639 1.13452 2.92561 1.03224 2.22949 1.03223Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Права категории B</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9"
                                         fill="none">
  <path d="M3.93066 0C4.46258 0 4.94769 0.0389645 5.38574 0.117188C5.54198 0.148447 5.67084 0.2306 5.77246 0.363281C5.87415 0.488432 5.92578 0.633593 5.92578 0.797852C5.92578 0.938653 5.86636 1.05165 5.74902 1.1377C5.63957 1.21586 5.51863 1.2363 5.38574 1.19727C5.01809 1.1034 4.57195 1.05566 4.04785 1.05566C3.20335 1.05571 2.53472 1.34923 2.04199 1.93555C1.55701 2.5144 1.31445 3.33656 1.31445 4.40039C1.31451 5.46406 1.56486 6.28937 2.06543 6.87598C2.56599 7.45461 3.22672 7.74409 4.04785 7.74414C4.5641 7.74414 5.02977 7.69348 5.44434 7.5918C5.57723 7.55271 5.69816 7.57619 5.80762 7.66211C5.92488 7.7481 5.9843 7.86128 5.98438 8.00195C5.98438 8.16622 5.93274 8.31526 5.83105 8.44824C5.72941 8.5732 5.59672 8.65135 5.43262 8.68262C4.9711 8.76084 4.4704 8.7998 3.93066 8.7998C2.74169 8.79979 1.78703 8.41697 1.06738 7.65039C0.355665 6.88387 5.79161e-05 5.80036 0 4.40039C0 3.01584 0.343863 1.93554 1.03223 1.16113C1.7284 0.386806 2.69482 9.79626e-06 3.93066 0Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Права категории C</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9" viewBox="0 0 7 9"
                                         fill="none">
  <path d="M2.22949 0C3.61388 2.31993e-05 4.66222 0.359567 5.37402 1.0791C6.09359 1.79085 6.45304 2.85881 6.45312 4.28223C6.45312 7.29377 5.04543 8.79976 2.22949 8.7998C1.65851 8.7998 1.13825 8.77252 0.668945 8.71777C0.473388 8.69431 0.312657 8.61248 0.1875 8.47168C0.0623692 8.32307 0 8.15062 0 7.95508V0.844727C1.7582e-05 0.649204 0.0623606 0.480626 0.1875 0.339844C0.312641 0.191302 0.473446 0.105491 0.668945 0.0820312C1.13825 0.0272868 1.65852 0 2.22949 0ZM2.22949 1.05566C1.93235 1.05566 1.65064 1.07908 1.38477 1.12598C1.32219 1.14162 1.29102 1.18156 1.29102 1.24414V7.55664C1.29111 7.61905 1.32228 7.65821 1.38477 7.67383C1.65066 7.72073 1.93233 7.74414 2.22949 7.74414C3.26979 7.74412 4.02872 7.47818 4.50586 6.94629C4.98299 6.40654 5.22168 5.51811 5.22168 4.28223C5.22161 3.17171 4.97516 2.35799 4.48242 1.8418C3.99746 1.31777 3.24628 1.05569 2.22949 1.05566Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Права категории D</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9"
                                         fill="none">
  <path d="M2.22949 0C4.34143 2.9758e-05 5.39746 0.704319 5.39746 2.1123C5.3974 2.58152 5.23666 2.99572 4.91602 3.35547C4.59537 3.7074 4.17336 3.93441 3.64941 4.03613C3.64166 4.03613 3.63776 4.04016 3.6377 4.04785C3.6377 4.05567 3.64159 4.05957 3.64941 4.05957C4.30636 4.16128 4.81892 4.40387 5.18652 4.78711C5.56193 5.17039 5.74902 5.64777 5.74902 6.21875C5.74902 7.93965 4.61514 8.7998 2.34668 8.7998C1.72877 8.7998 1.16954 8.77252 0.668945 8.71777C0.473388 8.69431 0.312657 8.61248 0.1875 8.47168C0.0623692 8.32307 0 8.15062 0 7.95508V0.844727C1.7582e-05 0.649204 0.0623606 0.480626 0.1875 0.339844C0.312641 0.191302 0.473446 0.105491 0.668945 0.0820312C1.13825 0.0272868 1.65852 0 2.22949 0ZM1.39648 4.62305C1.32611 4.62305 1.29104 4.65816 1.29102 4.72852V7.58008C1.2911 7.6425 1.32227 7.68164 1.38477 7.69727C1.68976 7.74418 2.01041 7.76758 2.34668 7.76758C3.08198 7.76758 3.62164 7.63023 3.96582 7.35645C4.30986 7.08269 4.48239 6.6646 4.48242 6.10156C4.48242 5.59311 4.27493 5.221 3.86035 4.98633C3.44575 4.74389 2.74527 4.62305 1.75977 4.62305H1.39648ZM2.22949 1.03223C1.93235 1.03223 1.65064 1.05564 1.38477 1.10254C1.32219 1.11818 1.29102 1.15812 1.29102 1.2207V3.50879C1.29118 3.57887 1.32625 3.61426 1.39648 3.61426H1.75977C2.62022 3.61426 3.23879 3.50418 3.61426 3.28516C3.9973 3.06614 4.18846 2.73379 4.18848 2.28809C4.18848 1.85799 4.03634 1.54128 3.73145 1.33789C3.42639 1.13452 2.92561 1.03224 2.22949 1.03223Z"
        fill="#696969"/>
</svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9"
                                         fill="none">
                                      <path d="M3.93071 8.8001C2.74172 8.8001 1.7874 8.41681 1.06775 7.65022C0.355915 6.88363 0 5.80024 0 4.40005C0 3.0155 0.344182 1.93602 1.03254 1.16161C1.72873 0.387204 2.69479 0 3.93071 0C4.46263 0 4.94761 0.0391115 5.38566 0.117335C5.54211 0.148624 5.67117 0.230758 5.77286 0.363737C5.87455 0.488894 5.9254 0.633607 5.9254 0.797875C5.9254 0.938677 5.86673 1.0521 5.7494 1.13815C5.63989 1.21637 5.51864 1.23592 5.38566 1.19681C5.01801 1.10295 4.57214 1.05601 4.04805 1.05601C3.20324 1.05601 2.53443 1.34935 2.04162 1.93602C1.55664 2.51487 1.31415 3.33621 1.31415 4.40005C1.31415 5.46388 1.56446 6.28914 2.06509 6.87581C2.56572 7.45466 3.2267 7.74409 4.04805 7.74409C4.56432 7.74409 5.02975 7.69324 5.44433 7.59155C5.57731 7.55244 5.69855 7.57591 5.80806 7.66195C5.9254 7.748 5.98407 7.86142 5.98407 8.00222C5.98407 8.16649 5.93322 8.31511 5.83153 8.44809C5.72984 8.57325 5.59686 8.65147 5.43259 8.68276C4.97108 8.76099 4.47045 8.8001 3.93071 8.8001Z"
                                            fill="#696969"/>
                                    </svg>
                                </span>
                                <span>Переподготовка с B на C</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="9" viewBox="0 0 6 9"
                                         fill="none">
  <path d="M2.22949 0C4.34143 2.9758e-05 5.39746 0.704319 5.39746 2.1123C5.3974 2.58152 5.23666 2.99572 4.91602 3.35547C4.59537 3.7074 4.17336 3.93441 3.64941 4.03613C3.64166 4.03613 3.63776 4.04016 3.6377 4.04785C3.6377 4.05567 3.64159 4.05957 3.64941 4.05957C4.30636 4.16128 4.81892 4.40387 5.18652 4.78711C5.56193 5.17039 5.74902 5.64777 5.74902 6.21875C5.74902 7.93965 4.61514 8.7998 2.34668 8.7998C1.72877 8.7998 1.16954 8.77252 0.668945 8.71777C0.473388 8.69431 0.312657 8.61248 0.1875 8.47168C0.0623692 8.32307 0 8.15062 0 7.95508V0.844727C1.7582e-05 0.649204 0.0623606 0.480626 0.1875 0.339844C0.312641 0.191302 0.473446 0.105491 0.668945 0.0820312C1.13825 0.0272868 1.65852 0 2.22949 0ZM1.39648 4.62305C1.32611 4.62305 1.29104 4.65816 1.29102 4.72852V7.58008C1.2911 7.6425 1.32227 7.68164 1.38477 7.69727C1.68976 7.74418 2.01041 7.76758 2.34668 7.76758C3.08198 7.76758 3.62164 7.63023 3.96582 7.35645C4.30986 7.08269 4.48239 6.6646 4.48242 6.10156C4.48242 5.59311 4.27493 5.221 3.86035 4.98633C3.44575 4.74389 2.74527 4.62305 1.75977 4.62305H1.39648ZM2.22949 1.03223C1.93235 1.03223 1.65064 1.05564 1.38477 1.10254C1.32219 1.11818 1.29102 1.15812 1.29102 1.2207V3.50879C1.29118 3.57887 1.32625 3.61426 1.39648 3.61426H1.75977C2.62022 3.61426 3.23879 3.50418 3.61426 3.28516C3.9973 3.06614 4.18846 2.73379 4.18848 2.28809C4.18848 1.85799 4.03634 1.54128 3.73145 1.33789C3.42639 1.13452 2.92561 1.03224 2.22949 1.03223Z"
        fill="#696969"/>
</svg>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9" viewBox="0 0 7 9"
                                         fill="none">
  <path d="M1.29068 1.24375V7.55635C1.29068 7.61893 1.32197 7.65804 1.38455 7.67369C1.65051 7.72062 1.93211 7.74409 2.22936 7.74409C3.26973 7.74409 4.02849 7.47813 4.50565 6.94621C4.98281 6.40647 5.22139 5.51864 5.22139 4.28271C5.22139 3.17195 4.97499 2.35843 4.48218 1.84215C3.9972 1.31806 3.24626 1.05601 2.22936 1.05601C1.93211 1.05601 1.65051 1.07948 1.38455 1.12641C1.32197 1.14206 1.29068 1.18117 1.29068 1.24375ZM0.668808 8.71796C0.47325 8.6945 0.312892 8.61236 0.187736 8.47156C0.0625785 8.32294 0 8.15085 0 7.95529V0.844809C0 0.649251 0.0625785 0.481072 0.187736 0.34027C0.312892 0.191646 0.47325 0.105601 0.668808 0.0821339C1.13815 0.027378 1.65833 0 2.22936 0C3.61391 0 4.6621 0.359826 5.37393 1.07948C6.09358 1.79131 6.45341 2.85905 6.45341 4.28271C6.45341 7.2943 5.04539 8.8001 2.22936 8.8001C1.65833 8.8001 1.13815 8.77272 0.668808 8.71796Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Переподготовка с B на D</span>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header-dropdown-catalog__item flexColumn">
                    <div class="text-s colorGray">Курсы</div>
                    <ul class="header-dropdown-catalog__list resetListStyle flexColumn gap__4">
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
  <path d="M13.3164 3.22754C13.8474 3.2875 14.3984 3.72056 14.3984 4.34277C14.3973 4.3941 13.998 10.4941 13.998 10.4941C14.2454 10.8186 14.3984 11.2187 14.3984 11.6572C14.3984 12.7215 13.5321 13.5879 12.4678 13.5879H10.8428C10.6745 13.5879 10.5381 13.4505 10.5381 13.2822C10.5383 13.1142 10.6746 12.9775 10.8428 12.9775H11.0391L12.1631 10.0264V5.45996H9.1377C9.37674 6.0518 9.52148 6.78325 9.52148 7.59375V9.625C9.52148 9.79326 9.38506 9.92969 9.2168 9.92969H7.89648V10.54H8.81055C9.65064 10.54 10.3349 11.2234 10.335 12.0635C10.335 12.9036 9.65066 13.5879 8.81055 13.5879H3.12109C2.28118 13.5877 1.59766 12.9034 1.59766 12.0635C1.59769 11.2235 2.2812 10.5403 3.12109 10.54H4.03613V9.92969H1.90234C1.73412 9.92964 1.59766 9.79323 1.59766 9.625V6.78125C1.59766 6.61302 1.73412 6.47563 1.90234 6.47559H4.84863V3.93652C4.84863 3.09654 5.53213 2.41232 6.37207 2.41211L13.3164 3.22754ZM3.12109 11.1494C2.61732 11.1496 2.20706 11.5597 2.20703 12.0635C2.20703 12.5673 2.6173 12.9773 3.12109 12.9775H8.81055C9.31454 12.9775 9.72461 12.5675 9.72461 12.0635C9.72458 11.5595 9.31452 11.1494 8.81055 11.1494H3.12109ZM11.6904 12.9775H12.4678C13.196 12.9775 13.789 12.3854 13.7891 11.6572C13.7891 11.0049 13.3133 10.4616 12.6904 10.3555L11.6904 12.9775ZM3.12109 11.7588C3.28939 11.7588 3.42573 11.8952 3.42578 12.0635C3.42578 12.2318 3.28942 12.3682 3.12109 12.3682C2.95281 12.3681 2.81641 12.2318 2.81641 12.0635C2.81645 11.8952 2.95284 11.7588 3.12109 11.7588ZM7.59082 11.7588C7.75905 11.7588 7.89546 11.8953 7.89551 12.0635C7.89551 12.2317 7.75908 12.3682 7.59082 12.3682H4.33984C4.17162 12.3681 4.03516 12.2317 4.03516 12.0635C4.0352 11.8953 4.17165 11.7588 4.33984 11.7588H7.59082ZM8.80859 11.7588C8.97689 11.7588 9.11323 11.8952 9.11328 12.0635C9.11328 12.2318 8.97692 12.3682 8.80859 12.3682C8.64031 12.3681 8.50391 12.2318 8.50391 12.0635C8.50395 11.8952 8.64034 11.7588 8.80859 11.7588ZM4.64551 10.54H7.28711V9.92969H4.64551V10.54ZM13.7207 5.36914C13.5855 5.4273 13.4366 5.45996 13.2803 5.45996H12.7725V9.75781C13.0056 9.79518 13.2224 9.87513 13.4199 9.98828L13.7207 5.36914ZM5.45801 6.78125C5.45775 6.9493 5.32142 7.08594 5.15332 7.08594H2.20703V9.32031H8.91211V7.89844H7.5918C6.97566 7.89844 6.47389 7.39733 6.47363 6.78125V4.64746H5.45801V6.78125ZM7.08398 6.78125C7.08424 7.06121 7.31178 7.28906 7.5918 7.28906H8.89746C8.82048 5.72151 8.17831 4.64777 7.5918 4.64746H7.08398V6.78125ZM6.33691 3.01953C5.86864 3.02152 5.45801 3.43254 5.45801 3.93652V4.03809H7.5918C8.06447 4.0382 8.48623 4.34873 8.81836 4.85059H13.2803C13.5604 4.85059 13.789 4.62286 13.7891 4.34277C13.7891 4.06538 13.5068 3.86237 13.2461 3.83301L6.33691 3.01953Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Курс «машинист экскаватора»</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
  <path d="M5.96387 3.42383C6.14458 3.42399 6.29087 3.57026 6.29102 3.75098V6.7002H7.02832V6.30176H6.96289C6.78197 6.30173 6.63574 6.15455 6.63574 5.97363C6.63592 5.79286 6.78208 5.64651 6.96289 5.64648H7.74902C7.92985 5.64648 8.07697 5.79285 8.07715 5.97363C8.07715 6.15457 7.92996 6.30176 7.74902 6.30176H7.68359V6.7002H8.48633V5.84277C8.48635 5.76843 8.51211 5.69577 8.55859 5.6377L9.14844 4.90137C9.26139 4.76018 9.46709 4.7368 9.6084 4.84961C9.74974 4.96267 9.77319 5.16923 9.66016 5.31055L9.1416 5.95801V6.7002H10.3018L10.1592 6.2002C10.1096 6.02627 10.2108 5.84465 10.3848 5.79492C10.5587 5.74541 10.7394 5.84662 10.7891 6.02051L11.9316 9.52148C11.9657 9.62155 11.9492 9.73245 11.8877 9.81836C11.8261 9.9042 11.7267 9.95508 11.6211 9.95508H9.8291C9.9725 10.1457 10.0757 10.3683 10.125 10.6104H12.6055V9.25098C12.6055 9.07015 12.7518 8.92302 12.9326 8.92285H13.6963C13.8002 8.92285 13.8982 8.97216 13.96 9.05566L15.9355 11.7266C16.009 11.826 16.0204 11.9579 15.9648 12.0684C15.9092 12.1789 15.7956 12.249 15.6719 12.249H13.9453C13.3301 12.249 12.811 11.8316 12.6543 11.2656H10.125C9.97276 12.0125 9.31064 12.5761 8.51953 12.5762H1.63867C0.735427 12.5762 0.000212557 11.8417 0 10.9385C0 10.3092 0.357125 9.76162 0.878906 9.4873L0.222656 8.54785C0.184372 8.49286 0.164062 8.42736 0.164062 8.36035V7.02832C0.164062 6.84748 0.310406 6.70035 0.491211 6.7002H1.04883V4.0791H0.589844C0.408906 4.0791 0.261719 3.93191 0.261719 3.75098C0.261861 3.57016 0.408994 3.42383 0.589844 3.42383H5.96387ZM1.63867 9.95508C1.09664 9.95508 0.655273 10.3964 0.655273 10.9385C0.655486 11.4803 1.09677 11.9209 1.63867 11.9209H8.51953C9.06135 11.9208 9.50174 11.4803 9.50195 10.9385C9.50195 10.3965 9.06148 9.95518 8.51953 9.95508H1.63867ZM13.2607 10.9082C13.2607 11.2858 13.5678 11.5937 13.9453 11.5938H15.0225L13.5312 9.57812H13.2607V10.9082ZM2.37207 10.6104C2.55301 10.6104 2.70016 10.7575 2.7002 10.9385C2.69994 11.1192 2.55285 11.2656 2.37207 11.2656H2.33984C2.15906 11.2656 2.01197 11.1192 2.01172 10.9385C2.01172 10.7575 2.15891 10.6104 2.33984 10.6104H2.37207ZM7.7793 10.6104C7.96003 10.6106 8.10645 10.7577 8.10645 10.9385C8.10619 11.119 7.95987 11.2654 7.7793 11.2656H3.60156C3.42078 11.2656 3.27369 11.1192 3.27344 10.9385C3.27344 10.7575 3.42062 10.6104 3.60156 10.6104H7.7793ZM0.819336 8.25781L1.54688 9.2998H11.1641L10.502 7.35547H6.29102V8.0332H7.29102C7.47172 8.03343 7.61811 8.1796 7.61816 8.36035C7.61816 8.54115 7.47176 8.68825 7.29102 8.68848H4.3418C4.16086 8.68848 4.01367 8.54129 4.01367 8.36035V7.35547H0.819336V8.25781ZM8.41113 8.0332C8.59206 8.0332 8.73925 8.17942 8.73926 8.36035C8.73926 8.54132 8.59207 8.68848 8.41113 8.68848H8.37891C8.19797 8.68848 8.05078 8.54129 8.05078 8.36035C8.05079 8.17942 8.19798 8.0332 8.37891 8.0332H8.41113ZM3.22754 6.7002H4.3418C4.52264 6.7003 4.66895 6.84745 4.66895 7.02832V8.0332H5.63574V4.0791H3.22754V6.7002ZM1.7041 6.7002H2.57227V4.0791H1.7041V6.7002Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Курс «водитель погрузчика»</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
  <path d="M4.60547 8.06055C6.13278 8.06055 7.37592 9.30281 7.37598 10.8301C7.37598 12.3574 6.13283 13.6006 4.60547 13.6006C3.0783 13.6004 1.83594 12.3573 1.83594 10.8301C1.83602 9.30295 3.07835 8.06077 4.60547 8.06055ZM9.28711 2.40039C9.48664 2.40039 9.64844 2.56219 9.64844 2.76172C9.64829 2.96112 9.48655 3.12305 9.28711 3.12305H9.0293L10.0508 7.14551H11.9531V5.79883C11.9533 5.33418 12.3313 4.95618 12.7959 4.95605H13.1094C13.3088 4.95612 13.4707 5.11789 13.4707 5.31738C13.4707 5.51687 13.3088 5.67864 13.1094 5.67871H12.7959C12.7297 5.67884 12.6759 5.73264 12.6758 5.79883V7.14551H13.8076C14.0071 7.14554 14.1689 7.30732 14.1689 7.50684V10.8301C14.1689 11.0296 14.0071 11.1914 13.8076 11.1914H13.5098C13.5307 11.3087 13.543 11.4295 13.543 11.5527C13.543 12.6816 12.624 13.6006 11.4951 13.6006C10.3663 13.6004 9.44824 12.6816 9.44824 11.5527C9.44825 11.4295 9.45948 11.3087 9.48047 11.1914H8.80664C8.79865 11.2854 8.78764 11.3791 8.77344 11.4717C8.74603 11.6504 8.59136 11.7783 8.41602 11.7783C8.39798 11.7783 8.3797 11.7772 8.36133 11.7744C8.16414 11.7442 8.02845 11.5595 8.05859 11.3623C8.0854 11.1876 8.09961 11.0082 8.09961 10.8301C8.09948 8.90441 6.53217 7.33789 4.60645 7.33789C3.80424 7.33794 3.04966 7.6038 2.42383 8.10645C2.26829 8.23134 2.041 8.20618 1.91602 8.05078C1.79111 7.89527 1.81532 7.66796 1.9707 7.54297C2.41269 7.18796 2.92226 6.92745 3.46289 6.77441L3.88086 3.12305H3.80371C3.60433 3.12298 3.44253 2.96108 3.44238 2.76172C3.44238 2.56223 3.60424 2.40046 3.80371 2.40039H9.28711ZM4.60547 8.7832C3.47682 8.78343 2.55869 9.70137 2.55859 10.8301C2.55859 11.9588 3.47673 12.8777 4.60547 12.8779C5.7344 12.8779 6.65334 11.959 6.65332 10.8301C6.65322 9.70126 5.73434 8.7832 4.60547 8.7832ZM11.4951 10.2285C10.7648 10.2287 10.171 10.8225 10.1709 11.5527C10.1709 12.2831 10.7648 12.8778 11.4951 12.8779C12.2256 12.8779 12.8203 12.2832 12.8203 11.5527C12.8202 10.8224 12.2255 10.2285 11.4951 10.2285ZM4.60645 9.50586C5.33661 9.5061 5.93051 10.0999 5.93066 10.8301C5.93066 11.5604 5.33671 12.155 4.60645 12.1553C3.87598 12.1553 3.28125 11.5605 3.28125 10.8301C3.2814 10.0997 3.87607 9.50586 4.60645 9.50586ZM11.4941 11.1914C11.6937 11.1914 11.8555 11.3532 11.8555 11.5527C11.8555 11.7522 11.6937 11.914 11.4941 11.9141C11.2946 11.9141 11.1328 11.7523 11.1328 11.5527C11.1328 11.3532 11.2946 11.1914 11.4941 11.1914ZM4.60645 10.2285C4.27449 10.2285 4.00406 10.4982 4.00391 10.8301C4.00391 11.1621 4.27442 11.4326 4.60645 11.4326C4.93827 11.4324 5.20801 11.162 5.20801 10.8301C5.20785 10.4983 4.93818 10.2288 4.60645 10.2285ZM7.60156 7.86816C8.27564 8.54964 8.71941 9.45873 8.80566 10.4688H9.75977C10.122 9.89094 10.7643 9.50595 11.4951 9.50586C12.2262 9.50586 12.8692 9.89076 13.2314 10.4688H13.4463V7.86816H7.60156ZM4.20605 6.63477C4.33867 6.62198 4.47258 6.61524 4.60645 6.61523C5.34763 6.61523 6.0446 6.80817 6.65039 7.14551H6.99121V3.12305H4.60742L4.20605 6.63477ZM7.71387 7.14551H9.30469L8.28418 3.12305H7.71387V7.14551Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Курс «тракторист машинист»</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
  <g clip-path="url(#clip0_2327_16894)">
    <path d="M8.00098 0.799805C11.9773 0.79991 15.2011 4.02363 15.2012 8C15.2012 11.9764 11.9773 15.2001 8.00098 15.2002C4.02452 15.2002 0.800781 11.9765 0.800781 8C0.800807 4.02357 4.02454 0.799805 8.00098 0.799805ZM8.39355 2.24023C8.39345 2.45699 8.21773 2.63271 8.00098 2.63281C7.78414 2.63281 7.6085 2.45705 7.6084 2.24023V1.59766C6.71377 1.6517 5.86798 1.88879 5.10938 2.27246L5.42773 2.82422C5.53618 3.01206 5.47202 3.25189 5.28418 3.36035C5.09635 3.46874 4.85649 3.40461 4.74805 3.2168L4.43164 2.66895C3.71117 3.15227 3.09461 3.77833 2.62109 4.50586L3.15234 4.8125C3.34015 4.92097 3.40435 5.16178 3.2959 5.34961C3.18742 5.53705 2.94743 5.60126 2.75977 5.49316L2.2334 5.18945C1.86411 5.94581 1.63931 6.78557 1.59473 7.67285H2.17578C2.39245 7.6731 2.56832 7.84871 2.56836 8.06543C2.56836 8.28218 2.39248 8.45776 2.17578 8.45801H1.60254C1.66455 9.33668 1.90365 10.1666 2.28418 10.9121L2.75977 10.6377C2.94753 10.5296 3.18753 10.5945 3.2959 10.7822C3.40413 10.97 3.34 11.2099 3.15234 11.3184L2.68359 11.5889C3.1606 12.2942 3.77402 12.8998 4.48633 13.3672L4.74805 12.9141C4.85651 12.7263 5.09638 12.6622 5.28418 12.7705C5.47202 12.8789 5.53618 13.1188 5.42773 13.3066L5.16797 13.7568C5.91139 14.1234 6.73675 14.3497 7.6084 14.4023V13.8906C7.60858 13.6739 7.78418 13.498 8.00098 13.498C8.21768 13.4982 8.39338 13.6739 8.39355 13.8906V14.4023C9.2651 14.3497 10.0897 14.1233 10.833 13.7568L10.5732 13.3066C10.465 13.1189 10.5293 12.8789 10.7168 12.7705C10.9046 12.662 11.1454 12.7262 11.2539 12.9141L11.5156 13.3672C12.2278 12.8999 12.8414 12.2941 13.3184 11.5889L12.8496 11.3184C12.6619 11.2099 12.5977 10.9701 12.7061 10.7822C12.8145 10.5944 13.0545 10.5294 13.2422 10.6377L13.7178 10.9121C14.0982 10.1666 14.3374 9.33664 14.3994 8.45801H13.8262C13.6093 8.45797 13.4336 8.28231 13.4336 8.06543C13.4336 7.84858 13.6093 7.67289 13.8262 7.67285H14.4072C14.3627 6.78563 14.1379 5.94578 13.7686 5.18945L13.2422 5.49316C13.0545 5.60146 12.8147 5.53703 12.7061 5.34961C12.5976 5.16177 12.6618 4.92096 12.8496 4.8125L13.3809 4.50586C12.9072 3.77826 12.2899 3.1523 11.5693 2.66895L11.2539 3.2168C11.1454 3.40464 10.9046 3.4688 10.7168 3.36035C10.5293 3.25182 10.465 3.01192 10.5732 2.82422L10.8916 2.27246C10.1331 1.88887 9.28807 1.6517 8.39355 1.59766V2.24023ZM8.00098 3.67969C10.3867 3.67979 12.3203 5.61422 12.3203 8C12.3203 10.3858 10.3868 12.3202 8.00098 12.3203C5.61511 12.3203 3.68066 10.3859 3.68066 8C3.68069 5.61415 5.61512 3.67969 8.00098 3.67969ZM8.00098 4.46582C6.04892 4.46582 4.46585 6.04795 4.46582 8C4.46582 9.95208 6.0489 11.5342 8.00098 11.5342C9.95296 11.5341 11.5352 9.95201 11.5352 8C11.5351 6.04801 9.95295 4.46593 8.00098 4.46582ZM8.00488 5.03613C8.22166 5.03621 8.39739 5.21192 8.39746 5.42871V5.55371C8.57736 5.43737 8.81818 5.48631 8.9375 5.66504C9.05782 5.84551 9.00858 6.08966 8.82812 6.20996L8.5127 6.41992C8.47544 6.44475 8.4371 6.4675 8.39746 6.48633V7.01855L8.70703 7.19531L9.16699 6.92969C9.16349 6.88601 9.16314 6.84146 9.16602 6.79688L9.19043 6.41895C9.20438 6.2025 9.39098 6.0378 9.60742 6.05176C9.82197 6.06563 9.98542 6.24981 9.97461 6.46387L10.082 6.40137C10.2697 6.293 10.5096 6.35746 10.6182 6.54492C10.7266 6.73276 10.6625 6.97359 10.4746 7.08203L10.3672 7.14355C10.558 7.24123 10.6353 7.4752 10.54 7.66797C10.4438 7.86222 10.208 7.9418 10.0137 7.8457L9.67383 7.67773C9.63375 7.65792 9.59565 7.63525 9.55957 7.61035L9.10449 7.87305V8.23535L9.60352 8.52344C9.63955 8.4986 9.67776 8.47585 9.71777 8.45605L10.0576 8.28809C10.252 8.19207 10.4879 8.27243 10.584 8.4668C10.679 8.65939 10.6016 8.89256 10.4111 8.99023L10.4746 9.02734C10.6625 9.13579 10.7266 9.37564 10.6182 9.56348C10.5097 9.7512 10.2698 9.81545 10.082 9.70703L10.0176 9.66992C10.0284 9.88389 9.8658 10.068 9.65137 10.082C9.43492 10.096 9.24737 9.93129 9.2334 9.71484L9.20898 9.33691C9.20611 9.29222 9.20741 9.24786 9.21094 9.2041L8.70703 8.91309L8.39746 9.08984V9.67383C8.43704 9.69263 8.4755 9.71447 8.5127 9.73926L8.82812 9.94922C9.00858 10.0695 9.05782 10.3137 8.9375 10.4941C8.8182 10.673 8.57739 10.7218 8.39746 10.6055V10.6797C8.39746 10.8965 8.22171 11.0722 8.00488 11.0723C7.78798 11.0723 7.6123 10.8966 7.6123 10.6797V10.6055C7.43241 10.7218 7.19161 10.6728 7.07227 10.4941C6.95201 10.3137 7.00036 10.0696 7.18066 9.94922L7.49609 9.73926C7.53336 9.71441 7.57263 9.69267 7.6123 9.67383V9.08984L7.30273 8.91309L6.79883 9.2041C6.80235 9.24786 6.80268 9.29222 6.7998 9.33691L6.77539 9.71484C6.76144 9.93129 6.57484 10.096 6.3584 10.082C6.14383 10.0682 5.9804 9.88399 5.99121 9.66992L5.92773 9.70703C5.73989 9.81548 5.49908 9.75132 5.39062 9.56348C5.28238 9.37579 5.3467 9.13587 5.53418 9.02734L5.59863 8.99023C5.40794 8.89261 5.33069 8.65949 5.42578 8.4668C5.52192 8.27237 5.75772 8.19195 5.95215 8.28809L6.29199 8.45605C6.33206 8.47587 6.37017 8.49856 6.40625 8.52344L6.90527 8.23535V7.87305L6.4502 7.61035C6.41405 7.6353 6.37512 7.65789 6.33496 7.67773L5.99512 7.8457C5.80088 7.94146 5.5659 7.862 5.46973 7.66797C5.37441 7.4752 5.45178 7.24123 5.64258 7.14355L5.53418 7.08203C5.34647 6.97354 5.28221 6.73271 5.39062 6.54492C5.49913 6.35723 5.73995 6.29294 5.92773 6.40137L6.03516 6.46387C6.02434 6.24979 6.18776 6.06559 6.40234 6.05176C6.61869 6.03793 6.80537 6.20258 6.81934 6.41895L6.84375 6.79688C6.84664 6.84145 6.84628 6.88602 6.84277 6.92969L7.30273 7.19531L7.6123 7.01855V6.48633C7.57263 6.46749 7.53336 6.44477 7.49609 6.41992L7.18066 6.20996C7.00041 6.08959 6.95202 5.84542 7.07227 5.66504C7.19163 5.48642 7.43244 5.4374 7.6123 5.55371V5.42871C7.61238 5.21187 7.78803 5.03613 8.00488 5.03613ZM7.69043 7.87793V8.23047L8.00488 8.41016L8.31934 8.23047V7.87793L8.00488 7.69922L7.69043 7.87793Z"
          fill="#696969"/>
  </g>
  <defs>
    <clipPath id="clip0_2327_16894">
      <rect width="16" height="16" fill="white"/>
    </clipPath>
  </defs>
</svg>
                                </span>
                                <span>Курс «Зимнее вождение»</span>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="header-dropdown-catalog__item flexColumn">
                    <div class="text-s colorGray">Дополнительно</div>
                    <ul class="header-dropdown-catalog__list resetListStyle flexColumn gap__4">
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
  <path d="M2.66406 11.5C2.9402 11.5 3.16406 11.7239 3.16406 12V13.333C3.16406 13.554 3.25192 13.7666 3.4082 13.9229C3.56439 14.079 3.77625 14.1669 3.99707 14.167H4.66406C4.9402 14.167 5.16406 14.3909 5.16406 14.667C5.16389 14.943 4.9401 15.167 4.66406 15.167H3.99707C3.51103 15.1669 3.0449 14.9735 2.70117 14.6299C2.35736 14.2861 2.16406 13.8192 2.16406 13.333V12C2.16406 11.7239 2.38792 11.5 2.66406 11.5ZM8.66504 14.167C8.94118 14.167 9.16504 14.3909 9.16504 14.667C9.16478 14.9429 8.94102 15.167 8.66504 15.167H7.33203C7.05605 15.167 6.83229 14.9429 6.83203 14.667C6.83203 14.3909 7.05589 14.167 7.33203 14.167H8.66504ZM13.332 11.5C13.6082 11.5 13.832 11.7239 13.832 12V13.333C13.832 13.8192 13.6387 14.2861 13.2949 14.6299C12.9512 14.9735 12.4851 15.1669 11.999 15.167H11.332C11.056 15.167 10.8322 14.943 10.832 14.667C10.832 14.3909 11.0559 14.167 11.332 14.167H11.999C12.2198 14.1669 12.4317 14.079 12.5879 13.9229C12.7442 13.7666 12.832 13.554 12.832 13.333V12C12.832 11.7239 13.0559 11.5 13.332 11.5ZM8.66504 11.5C8.94118 11.5 9.16504 11.7239 9.16504 12C9.16504 12.2761 8.94118 12.5 8.66504 12.5H5.33203C5.05589 12.5 4.83203 12.2761 4.83203 12C4.83203 11.7239 5.05589 11.5 5.33203 11.5H8.66504ZM10.665 8.83398C10.9412 8.83398 11.165 9.05784 11.165 9.33398C11.1648 9.6099 10.941 9.83398 10.665 9.83398H5.33203C5.05605 9.83398 4.83229 9.6099 4.83203 9.33398C4.83203 9.05784 5.05589 8.83398 5.33203 8.83398H10.665ZM2.66406 7.5C2.9402 7.5 3.16406 7.72386 3.16406 8V9.33301C3.16406 9.60915 2.9402 9.83301 2.66406 9.83301C2.38792 9.83301 2.16406 9.60915 2.16406 9.33301V8C2.16406 7.72386 2.38792 7.5 2.66406 7.5ZM13.332 7.5C13.6082 7.5 13.832 7.72386 13.832 8V9.33301C13.832 9.60915 13.6082 9.83301 13.332 9.83301C13.0559 9.83301 12.832 9.60915 12.832 9.33301V8C12.832 7.72386 13.0559 7.5 13.332 7.5ZM9.33203 6.16699C9.60817 6.16699 9.83203 6.39085 9.83203 6.66699C9.83177 6.94291 9.60801 7.16699 9.33203 7.16699H5.33203C5.05605 7.16699 4.83229 6.94291 4.83203 6.66699C4.83203 6.39085 5.05589 6.16699 5.33203 6.16699H9.33203ZM5.33203 0.833008C5.60817 0.833008 5.83203 1.05784 5.83203 1.33398V4.00098C5.83159 4.27675 5.6079 4.50098 5.33203 4.50098C5.05616 4.50098 4.83247 4.27675 4.83203 4.00098V3.16699H3.99707C3.77617 3.16708 3.56441 3.25493 3.4082 3.41113C3.25215 3.56731 3.16415 3.77922 3.16406 4V5.33398C3.16362 5.60975 2.93993 5.83398 2.66406 5.83398C2.38819 5.83398 2.1645 5.60975 2.16406 5.33398V4C2.16415 3.514 2.35758 3.04782 2.70117 2.7041C3.04491 2.36036 3.51096 2.16708 3.99707 2.16699H4.83203V1.33398C4.83203 1.05784 5.05589 0.833008 5.33203 0.833008ZM10.6641 0.833008C10.9402 0.833008 11.1641 1.05784 11.1641 1.33398V2.16699H11.9971C12.4833 2.16699 12.9501 2.36028 13.2939 2.7041C13.6374 3.0478 13.831 3.51408 13.8311 4V5.33398C13.8306 5.60964 13.6068 5.83381 13.3311 5.83398C13.0552 5.83398 12.8315 5.60975 12.8311 5.33398V4C12.831 3.7793 12.7429 3.5673 12.5869 3.41113C12.4306 3.25485 12.2181 3.16699 11.9971 3.16699H11.1641V4.00098C11.1636 4.27675 10.9399 4.50098 10.6641 4.50098C10.3882 4.50098 10.1645 4.27675 10.1641 4.00098V1.33398C10.1641 1.05784 10.3879 0.833008 10.6641 0.833008ZM7.99805 0.833008C8.27419 0.833008 8.49805 1.05784 8.49805 1.33398V4.00098C8.49761 4.27675 8.27392 4.50098 7.99805 4.50098C7.72218 4.50098 7.49849 4.27675 7.49805 4.00098V1.33398C7.49805 1.05784 7.7219 0.833008 7.99805 0.833008Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Пробное занятие по вождению</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                         fill="none">
  <path d="M5.95117 0.828613C6.28435 0.821683 6.61603 0.881471 6.92578 1.00439C7.23538 1.12734 7.51723 1.311 7.75488 1.54443C7.99254 1.7779 8.18111 2.05639 8.30957 2.36377C8.43784 2.67085 8.50371 3.00072 8.50293 3.3335V4.8335H10.168V3.3335C10.1681 2.84741 10.3614 2.38133 10.7051 2.0376C10.86 1.88268 11.0401 1.75932 11.2354 1.66943C11.3632 1.37361 11.6582 1.16663 12.001 1.1665C12.4609 1.16665 12.8347 1.53956 12.835 1.99951C12.835 2.45966 12.4611 2.83335 12.001 2.8335C11.8137 2.83342 11.6411 2.77097 11.502 2.6665C11.4703 2.69017 11.4404 2.71637 11.4121 2.74463C11.2559 2.90083 11.1681 3.11263 11.168 3.3335V4.8335H12.6699C12.8219 4.63159 13.0628 4.50059 13.335 4.50049C13.795 4.50064 14.1688 4.8735 14.1689 5.3335C14.1687 5.79346 13.7949 6.16733 13.335 6.16748C13.0626 6.16738 12.8209 6.03577 12.6689 5.8335H8.50293V8.1665H10.0039C10.1559 7.96478 10.3969 7.8336 10.6689 7.8335C11.1289 7.83364 11.5027 8.20655 11.5029 8.6665C11.5029 9.12665 11.1291 9.50034 10.6689 9.50049C10.3965 9.50038 10.1549 9.36896 10.0029 9.1665H8.50293V11.5005H12.002C12.488 11.5006 12.9541 11.6939 13.2979 12.0376C13.5984 12.3383 13.7844 12.7325 13.8262 13.1519L13.835 13.3335C14.0374 13.4855 14.1688 13.7271 14.1689 13.9995C14.1689 14.4597 13.7951 14.8333 13.335 14.8335C12.8749 14.8333 12.502 14.4596 12.502 13.9995C12.5021 13.7271 12.6328 13.4855 12.835 13.3335L12.8311 13.2505C12.812 13.0601 12.7272 12.8812 12.5908 12.7446C12.4346 12.5885 12.2228 12.5006 12.002 12.5005H8.46094C8.41898 12.7606 8.34663 13.0155 8.24121 13.2583C8.06882 13.6552 7.81687 14.0133 7.50098 14.3091C7.18507 14.6048 6.81168 14.8331 6.4043 14.979C5.99696 15.1248 5.56358 15.1857 5.13184 15.1577C4.69995 15.1297 4.27778 15.0132 3.89258 14.8159C3.50743 14.6186 3.16666 14.3443 2.8916 14.0103C2.61652 13.6761 2.41263 13.2885 2.29297 12.8726C2.20331 12.5608 2.16246 12.2376 2.1709 11.9146C1.84097 11.6804 1.5575 11.3856 1.33789 11.0435C1.05925 10.6093 0.890079 10.1132 0.84668 9.59912C0.803397 9.08532 0.887112 8.56875 1.08887 8.09424C1.2392 7.74081 1.45161 7.41785 1.71582 7.14209C1.59079 6.8189 1.51907 6.47644 1.50488 6.12842C1.48539 5.64847 1.57598 5.17002 1.76855 4.72998C1.96122 4.28987 2.25127 3.89872 2.61719 3.5874C2.88708 3.3578 3.19287 3.17513 3.52148 3.04736C3.54403 2.84775 3.58828 2.65076 3.6582 2.46143C3.77374 2.14883 3.95091 1.8619 4.17871 1.61865C4.4065 1.37547 4.68104 1.18016 4.98535 1.04443C5.28964 0.908791 5.61809 0.835569 5.95117 0.828613ZM5.97168 1.82764C5.77198 1.83184 5.57503 1.87621 5.39258 1.95752C5.20998 2.03897 5.04488 2.15631 4.9082 2.30225C4.77157 2.44817 4.66501 2.62059 4.5957 2.80811C4.52655 2.99549 4.49597 3.19548 4.50488 3.39502C4.50498 3.39729 4.50384 3.39959 4.50391 3.40186C4.51459 3.64159 4.58241 3.87547 4.70215 4.0835C4.83999 4.32277 4.75783 4.62827 4.51855 4.76611C4.27929 4.9039 3.97377 4.82177 3.83594 4.58252C3.74834 4.43038 3.67775 4.26985 3.62402 4.104C3.49735 4.17393 3.37649 4.25483 3.26562 4.34912C3.01535 4.56206 2.81639 4.82937 2.68457 5.13037C2.55277 5.43147 2.49058 5.75899 2.50391 6.0874C2.50988 6.23424 2.53302 6.37918 2.56836 6.521C2.7881 6.45598 3.03155 6.5487 3.14746 6.75732C3.28111 6.99856 3.19409 7.30293 2.95312 7.43701C2.84458 7.49725 2.74022 7.56618 2.64355 7.64404C2.64098 7.64622 2.63934 7.64972 2.63672 7.65186C2.36286 7.87437 2.14695 8.16018 2.00879 8.48486C1.87069 8.80957 1.81413 9.16353 1.84375 9.51514C1.87344 9.86676 1.98816 10.2064 2.17871 10.5034C2.36936 10.8005 2.63011 11.0467 2.9375 11.2202C2.93953 11.2214 2.94135 11.2229 2.94336 11.2241C3.26694 11.4052 3.63205 11.5007 4.00293 11.5005C4.27882 11.5007 4.50279 11.7245 4.50293 12.0005C4.5028 12.2764 4.27886 12.5003 4.00293 12.5005C3.73372 12.5006 3.4666 12.4657 3.20801 12.3989C3.2205 12.4652 3.23521 12.5312 3.25391 12.5962C3.33578 12.8808 3.47585 13.1459 3.66406 13.3745C3.85221 13.603 4.08523 13.7903 4.34863 13.9253C4.61219 14.0603 4.90079 14.1405 5.19629 14.1597C5.49155 14.1788 5.78781 14.1373 6.06641 14.0376C6.34518 13.9378 6.60121 13.781 6.81738 13.5786C7.03336 13.3763 7.2063 13.1322 7.32422 12.8608C7.44129 12.5913 7.50073 12.3002 7.50195 12.0063C7.50193 12.0044 7.50195 12.0024 7.50195 12.0005C7.50195 11.997 7.50286 11.9932 7.50293 11.9897V8.67627C7.50287 8.67305 7.50195 8.66974 7.50195 8.6665C7.50195 8.66291 7.50285 8.65934 7.50293 8.65576V8.28662C7.12962 8.66711 6.67453 8.96096 6.16797 9.13916C5.90773 9.23069 5.62219 9.09351 5.53027 8.8335C5.43866 8.57306 5.57556 8.28751 5.83594 8.1958C6.30229 8.03174 6.71018 7.73287 7.00684 7.3374C7.26644 6.99124 7.43124 6.58388 7.48633 6.15674L7.50293 5.97314V5.34326C7.50287 5.34004 7.50195 5.33673 7.50195 5.3335C7.50195 5.3299 7.50285 5.32633 7.50293 5.32275V3.33252C7.50352 3.13263 7.46471 2.93397 7.3877 2.74951C7.31063 2.56502 7.19731 2.39744 7.05469 2.25732C6.91203 2.11719 6.74251 2.00688 6.55664 1.93311C6.37077 1.85935 6.1716 1.82347 5.97168 1.82764Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Восстановление навыков вождения</span>
                            </span>
                            </a>
                        </li>
                        <li>
                            <a href="" class="text-s">
                            <span class="flexAlignCenter gap__12">
                                <span class="header-dropdown-catalog__icon flexCenter">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14"
                                         fill="none">
  <path d="M13.25 5.55078C13.8492 5.55078 14.3561 5.15641 14.5264 4.61328H14.6426C15.345 4.61308 15.9148 4.04328 15.915 3.34082C15.915 2.1865 14.9785 1.25 13.8242 1.25H13.1787C13.0197 1.24991 12.8673 1.18666 12.7549 1.07422L12.0908 0.410156C11.8283 0.147697 11.4718 4.00543e-05 11.1006 0H9.49121C9.12003 8.7738e-05 8.76345 0.147683 8.50098 0.410156L7.20898 1.70312C6.75286 2.15937 6.66706 2.8685 7.00195 3.41992L7.44629 4.15137C7.44536 4.17178 7.44336 4.19225 7.44336 4.21289C7.44336 4.95159 8.04255 5.55078 8.78125 5.55078C9.38042 5.55078 9.88732 5.15641 10.0576 4.61328H11.9736C12.1439 5.15641 12.6508 5.55078 13.25 5.55078ZM10.0576 3.8125C9.88732 3.26937 9.38042 2.875 8.78125 2.875C8.41488 2.875 8.08248 3.02204 7.84082 3.26074L7.68652 3.00488C7.54303 2.76859 7.579 2.46409 7.77441 2.26855L9.06738 0.976562C9.17983 0.864119 9.3322 0.800869 9.49121 0.800781H11.1006C11.2596 0.800821 11.4119 0.864132 11.5244 0.976562L12.1885 1.64062C12.4509 1.9031 12.8075 2.05069 13.1787 2.05078H13.8242C14.5367 2.05078 15.1143 2.62833 15.1143 3.34082C15.1141 3.60145 14.9032 3.8123 14.6426 3.8125H14.5264C14.3561 3.26937 13.8492 2.875 13.25 2.875C12.6508 2.875 12.1439 3.26937 11.9736 3.8125H10.0576ZM5.42188 2.11328C5.64279 2.11328 5.82227 1.9338 5.82227 1.71289C5.82207 1.49214 5.64267 1.3125 5.42188 1.3125H3.26562C3.04483 1.3125 2.86543 1.49214 2.86523 1.71289C2.86523 1.9338 3.04471 2.11328 3.26562 2.11328H5.42188ZM8.78125 4.75C8.48438 4.75 8.24414 4.50976 8.24414 4.21289C8.24414 4.14171 8.25811 4.07386 8.2832 4.01172L8.29395 4.00488L8.28906 3.99805C8.37189 3.80833 8.56084 3.67578 8.78125 3.67578C9.07812 3.67578 9.31836 3.91602 9.31836 4.21289C9.31836 4.50976 9.07812 4.75 8.78125 4.75ZM13.25 4.75C12.9531 4.75 12.7129 4.50976 12.7129 4.21289C12.7129 3.91602 12.9531 3.67578 13.25 3.67578C13.5469 3.67578 13.7871 3.91602 13.7871 4.21289C13.7871 4.50976 13.5469 4.75 13.25 4.75ZM4.32812 4.48828C4.54904 4.48828 4.72852 4.3088 4.72852 4.08789C4.72852 3.86698 4.54904 3.6875 4.32812 3.6875H2.32812C2.10721 3.6875 1.92773 3.86698 1.92773 4.08789C1.92773 4.3088 2.10721 4.48828 2.32812 4.48828H4.32812ZM10.9219 13.165C11.5211 13.165 12.028 12.7707 12.1982 12.2275H12.3145C13.0169 12.2273 13.5867 11.6575 13.5869 10.9551C13.5868 9.80081 12.6504 8.86426 11.4961 8.86426H10.8506C10.6916 8.86417 10.5392 8.80092 10.4268 8.68848L9.7627 8.02441C9.50019 7.76199 9.14364 7.6143 8.77246 7.61426H7.16309C6.7919 7.61435 6.43532 7.76194 6.17285 8.02441L4.88086 9.31738C4.4247 9.7736 4.33898 10.4827 4.67383 11.0342L5.11816 11.7656C5.11724 11.786 5.11524 11.8065 5.11523 11.8271C5.11523 12.5658 5.71443 13.165 6.45312 13.165C7.05234 13.165 7.55923 12.7707 7.72949 12.2275H9.64551C9.81577 12.7707 10.3227 13.165 10.9219 13.165ZM7.72949 11.4268C7.55916 10.8837 7.05226 10.4893 6.45312 10.4893C6.08679 10.4893 5.75435 10.6363 5.5127 10.875L5.3584 10.6191C5.21496 10.3828 5.25085 10.0783 5.44629 9.88281L6.73926 8.59082C6.8517 8.47838 7.00408 8.41513 7.16309 8.41504H8.77246C8.93147 8.41508 9.08382 8.47843 9.19629 8.59082L9.86035 9.25488C10.1228 9.51736 10.4794 9.66495 10.8506 9.66504H11.4961C12.2085 9.66504 12.7861 10.2426 12.7861 10.9551C12.7859 11.2157 12.5751 11.4266 12.3145 11.4268H12.1982C12.0279 10.8837 11.521 10.4893 10.9219 10.4893C10.3227 10.4893 9.81584 10.8837 9.64551 11.4268H7.72949ZM3.09375 9.72852C3.31454 9.72852 3.49394 9.54887 3.49414 9.32812C3.49414 9.10721 3.31466 8.92773 3.09375 8.92773H0.9375C0.716586 8.92773 0.537109 9.10721 0.537109 9.32812C0.537308 9.54887 0.716708 9.72852 0.9375 9.72852H3.09375ZM6.45312 12.3643C6.15626 12.3643 5.91602 12.124 5.91602 11.8271C5.91603 11.756 5.92998 11.6881 5.95508 11.626L5.96582 11.6191L5.96094 11.6123C6.04379 11.4226 6.23275 11.29 6.45312 11.29C6.74995 11.29 6.99017 11.5303 6.99023 11.8271C6.99023 12.124 6.74999 12.3643 6.45312 12.3643ZM10.9219 12.3643C10.625 12.3643 10.3848 12.124 10.3848 11.8271C10.3848 11.5303 10.625 11.29 10.9219 11.29C11.2187 11.29 11.4589 11.5303 11.459 11.8271C11.459 12.124 11.2187 12.3643 10.9219 12.3643ZM2.40039 12.1025C2.6213 12.1025 2.80078 11.9231 2.80078 11.7021C2.80072 11.4813 2.62126 11.3018 2.40039 11.3018H0.400391C0.179517 11.3018 6.6101e-05 11.4813 0 11.7021C0 11.9231 0.179477 12.1025 0.400391 12.1025H2.40039Z"
        fill="#696969"/>
</svg>
                                </span>
                                <span>Вождение по трассе</span>
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</header>
