<header class="customBoxShadow">
    <div class="width-container">
        <div class="header-container flexCenter">
            <div class="header__main flexAlignCenter">
                <a href="" class="logo-wrapper flexCenter">
                    <img src="/assets/images/logos/header-logo.webp" alt="logo">
                </a>
            </div>

            <div id="header_menu" class="header__menu flexAlignCenter">

                <div class="mobile-menu-header mb-show w_100">
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="14" viewBox="0 0 8 14" fill="none">
                            <path d="M6.21967 0.21967C6.51256 -0.0732233 6.98732 -0.0732233 7.28022 0.21967C7.57311 0.512563 7.57311 0.987324 7.28022 1.28022L1.81049 6.74994L7.28022 12.2197C7.57311 12.5126 7.57311 12.9873 7.28022 13.2802C6.98732 13.5731 6.51256 13.5731 6.21967 13.2802L0.21967 7.28022C-0.0732233 6.98732 -0.0732233 6.51256 0.21967 6.21967L6.21967 0.21967Z" fill="black"/>
                        </svg>
                    </button>

                    <div>Меню </div>

                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M17.4697 5.46973C17.7626 5.17683 18.2374 5.17683 18.5303 5.46973C18.8231 5.76263 18.8231 6.23742 18.5303 6.53027L13.0605 12L18.5303 17.4697C18.8231 17.7626 18.8231 18.2374 18.5303 18.5303C18.2374 18.8231 17.7626 18.8231 17.4697 18.5303L12 13.0605L6.53027 18.5303C6.23742 18.8231 5.76263 18.8231 5.46973 18.5303C5.17683 18.2374 5.17683 17.7626 5.46973 17.4697L10.9395 12L5.46973 6.53027C5.17683 6.23738 5.17683 5.76262 5.46973 5.46973C5.76262 5.17683 6.23738 5.17683 6.53027 5.46973L12 10.9395L17.4697 5.46973Z" fill="#343434"/>
                        </svg>
                    </button>
                </div>

                <div class="header-city flexAlignCenter h5">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M8.00293 0.734375C9.57649 0.734375 11.0865 1.35904 12.1992 2.47168C13.3117 3.58425 13.9364 5.09366 13.9365 6.66699C13.9365 8.53357 12.9123 10.3655 11.8125 11.8105C10.6988 13.2738 9.43103 14.4389 8.7959 14.9873C8.78577 14.996 8.77534 15.0046 8.76465 15.0127C8.54517 15.1777 8.27754 15.2676 8.00293 15.2676C7.72845 15.2675 7.46158 15.1777 7.24219 15.0127C7.23151 15.0047 7.22106 14.996 7.21094 14.9873C6.57579 14.4389 5.30707 13.2738 4.19336 11.8105C3.09357 10.3655 2.07031 8.5335 2.07031 6.66699C2.07046 5.09358 2.69504 3.58426 3.80762 2.47168C4.92024 1.35912 6.42949 0.734461 8.00293 0.734375ZM8.00293 1.93359C6.74775 1.93368 5.54383 2.43279 4.65625 3.32031C3.76871 4.20785 3.26968 5.41184 3.26953 6.66699C3.26953 8.12896 4.09204 9.69597 5.14844 11.084C6.1759 12.4339 7.35585 13.5244 7.96875 14.0557C7.97922 14.0622 7.9905 14.0673 8.00293 14.0674C8.01574 14.0674 8.02736 14.0616 8.03809 14.0547C8.65113 13.5233 9.83039 12.4333 10.8574 11.084C11.9138 9.69597 12.7363 8.12896 12.7363 6.66699C12.7362 5.41192 12.238 4.20783 11.3506 3.32031C10.4629 2.43272 9.25823 1.93359 8.00293 1.93359ZM7.99805 4.06836C9.43399 4.06836 10.5977 5.23203 10.5977 6.66797C10.5975 8.10374 9.43387 9.26758 7.99805 9.26758C6.56223 9.26758 5.39864 8.10374 5.39844 6.66797C5.39844 5.23203 6.56211 4.06836 7.99805 4.06836ZM7.99805 5.26758C7.22485 5.26758 6.59766 5.89477 6.59766 6.66797C6.59785 7.441 7.22497 8.06836 7.99805 8.06836C8.77112 8.06836 9.39824 7.441 9.39844 6.66797C9.39844 5.89477 8.77125 5.26758 7.99805 5.26758Z"
                              fill="#343434"/>
                    </svg>
                    Екатеринбург

                    <svg xmlns="http://www.w3.org/2000/svg" width="7" height="4" viewBox="0 0 7 4" fill="none">
                        <path d="M6.14645 0.146447C6.34171 -0.0488155 6.65822 -0.0488155 6.85348 0.146447C7.04874 0.341709 7.04874 0.658216 6.85348 0.853478L3.85348 3.85348C3.65822 4.04874 3.34171 4.04874 3.14645 3.85348L0.146447 0.853478C-0.0488155 0.658216 -0.0488155 0.341709 0.146447 0.146447C0.341709 -0.0488155 0.658216 -0.0488155 0.853478 0.146447L3.49996 2.79293L6.14645 0.146447Z"
                              fill="#343434"/>
                    </svg>
                </div>

                <nav class="header-nav">
                    <ul class="header-nav-list resetListStyle flexBox" data-header-nav-list>
                        <li>
                            <a href="" class="courses-icon flexCenter">Курсы</a>
                        </li>
                        <li>
                            <a href="" class="flexCenter">Курсантам</a>
                        </li>
                        <li>
                            <a href="" class="flexCenter">Господдержка</a>
                        </li>
                    </ul>
                </nav>

                <div class="header__contacts flexCenter">
                    <div class="flexColumn flexAlignCenter">
                        <a href="tel:+78001234567" class="header__contacts-number text-l textNoWrap">8 800 123-45-67</a>
                        <button class="text-s colorGray">перезвоните мне</button>
                    </div>
                    <button class="header__contacts-btn btn-custom borderRadius-12 redBtn h5"
                            data-open-popup="request-popup">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <path d="M4.66699 0.734375C5.17953 0.734375 5.67165 0.937514 6.03418 1.2998C6.39662 1.66224 6.60044 2.15445 6.60059 2.66699V4.66699C6.60059 4.96706 6.53065 5.26382 6.39648 5.53223C6.26228 5.80053 6.06713 6.03385 5.82715 6.21387L5.51855 6.44434C5.50656 6.4536 5.49867 6.46768 5.49512 6.48242C5.49173 6.49671 5.49303 6.51203 5.49902 6.52539L5.66504 6.8457C6.52549 8.42507 7.85442 9.70327 9.47266 10.501L9.49414 10.5068C9.50153 10.5075 9.5093 10.5067 9.5166 10.5049C9.53119 10.5012 9.54459 10.4925 9.55371 10.4805V10.4795L9.79004 10.1699C9.96971 9.93167 10.2028 9.73796 10.4697 9.60449C10.7381 9.47042 11.034 9.40039 11.334 9.40039H13.334C13.8467 9.40039 14.3386 9.6043 14.7012 9.9668C15.0637 10.3293 15.2675 10.8213 15.2676 11.334V13.334C15.2676 13.8467 15.0637 14.3386 14.7012 14.7012C14.3386 15.0637 13.8467 15.2676 13.334 15.2676C9.99241 15.2676 6.78773 13.9399 4.4248 11.5771C2.06192 9.2142 0.734375 6.00866 0.734375 2.66699C0.734526 2.15445 0.937369 1.66224 1.2998 1.2998C1.66229 0.937388 2.15442 0.734461 2.66699 0.734375H4.66699ZM2.66699 1.93359C2.47267 1.93368 2.28588 2.01106 2.14844 2.14844C2.01105 2.28583 1.93374 2.47271 1.93359 2.66699C1.93359 5.6904 3.1356 8.59061 5.27344 10.7285C7.41132 12.8662 10.3107 14.0674 13.334 14.0674C13.5285 14.0674 13.715 13.9901 13.8525 13.8525C13.99 13.715 14.0674 13.5284 14.0674 13.334V11.334C14.0673 11.1396 13.99 10.9529 13.8525 10.8154C13.715 10.678 13.5284 10.6006 13.334 10.6006H11.334C11.2202 10.6006 11.1077 10.6269 11.0059 10.6777C10.9041 10.7286 10.8153 10.8026 10.7471 10.8936L10.7441 10.8984L10.5078 11.208L10.5068 11.207C10.3326 11.4358 10.0866 11.5991 9.80762 11.6689C9.52833 11.7387 9.23328 11.711 8.97168 11.5908C8.9672 11.5888 8.96243 11.5871 8.95801 11.585C6.9873 10.6177 5.39155 9.0242 4.42188 7.05469L4.4209 7.05273C4.29291 6.78991 4.25981 6.49053 4.32715 6.20605C4.39459 5.92151 4.55862 5.66871 4.79102 5.49121L5.10742 5.25391C5.1984 5.18562 5.27237 5.09686 5.32324 4.99512C5.37405 4.89338 5.40039 4.78072 5.40039 4.66699V2.66699C5.40024 2.47271 5.32294 2.28583 5.18555 2.14844C5.04806 2.01119 4.86127 1.93359 4.66699 1.93359H2.66699ZM14.2461 0.910156C14.4804 0.675989 14.8595 0.675959 15.0938 0.910156C15.328 1.14443 15.3279 1.52349 15.0938 1.75781L12.1172 4.73438H14.6699C15.0012 4.73438 15.2694 5.00273 15.2695 5.33398C15.2695 5.66536 15.0013 5.93359 14.6699 5.93359H10.6699C10.631 5.9336 10.5921 5.92944 10.5537 5.92188C10.527 5.91663 10.5019 5.9071 10.4766 5.89844C10.465 5.89447 10.4528 5.89239 10.4414 5.8877C10.423 5.88008 10.4061 5.86969 10.3887 5.86035C10.3726 5.85173 10.3553 5.84516 10.3398 5.83496L10.2461 5.75781C10.2181 5.7298 10.1929 5.69911 10.1709 5.66602C10.1624 5.65333 10.1568 5.63913 10.1494 5.62598C10.1008 5.5393 10.0703 5.44054 10.0703 5.33398V1.33398C10.0704 1.00273 10.3386 0.734375 10.6699 0.734375C11.0012 0.734375 11.2694 1.00273 11.2695 1.33398V3.88672L14.2461 0.910156Z"
                                  fill="#CF2906"/>
                        </svg>
                        Перезвоните мне
                    </button>
                </div>
            </div>

            <button class="mobile-menu-btn mb-show" data-mobile-menu-btn>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M20 18.25C20.4142 18.25 20.75 18.5858 20.75 19C20.75 19.4142 20.4142 19.75 20 19.75H4C3.58579 19.75 3.25 19.4142 3.25 19C3.25 18.5858 3.58579 18.25 4 18.25H20ZM20 11.25C20.4142 11.25 20.75 11.5858 20.75 12C20.75 12.4142 20.4142 12.75 20 12.75H4C3.58579 12.75 3.25 12.4142 3.25 12C3.25 11.5858 3.58579 11.25 4 11.25H20ZM20 4.25C20.4142 4.25 20.75 4.58579 20.75 5C20.75 5.41421 20.4142 5.75 20 5.75H4C3.58579 5.75 3.25 5.41421 3.25 5C3.25 4.58579 3.58579 4.25 4 4.25H20Z"
                          fill="black"/>
                </svg>
            </button>
        </div>
    </div>
</header>

<div class="menu-overlay" id="menu_overlay" role="dialog" data-overlay aria-modal="true" aria-labelledby="popupTitle"
     tabindex="-1"></div>